<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="designationMaster">
            <h2><span>Designation Master</span> {{designationMaster.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Designation Name</span></dt>
                <dd>
                    <span>{{designationMaster.designationName}}</span>
                </dd>
                <dt><span>Designation Abbreviation</span></dt>
                <dd>
                    <span>{{designationMaster.designationAbbreviation}}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{designationMaster.createdBy}}</span>
                </dd>
                <dt><span>Created On</span></dt>
                <dd>
                    <span>{{designationMaster.createdOn}}</span>
                </dd>
                <dt><span>Last Updated By</span></dt>
                <dd>
                    <span>{{designationMaster.lastUpdatedBy}}</span>
                </dd>
                <dt><span>Last Updated On</span></dt>
                <dd>
                    <span>{{designationMaster.lastUpdatedOn}}</span>
                </dd>
                <dt><span>Verified By</span></dt>
                <dd>
                    <span>{{designationMaster.verifiedBy}}</span>
                </dd>
                <dt><span>Verified On</span></dt>
                <dd>
                    <span>{{designationMaster.verifiedOn}}</span>
                </dd>
                <dt><span>Remarks</span></dt>
                <dd>
                    <span>{{designationMaster.remarks}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/designation-master', designationMaster.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
