<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="organisationTypeMaster">
            <h2><span>Organisation Type Master</span> {{organisationTypeMaster.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Organisation Type Detail</span></dt>
                <dd>
                    <span>{{organisationTypeMaster.organisationTypeDetail}}</span>
                </dd>
                <dt><span>Organisation Type Abbreviation</span></dt>
                <dd>
                    <span>{{organisationTypeMaster.organisationTypeAbbreviation}}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{organisationTypeMaster.createdBy}}</span>
                </dd>
                <dt><span>Created On</span></dt>
                <dd>
                    <span>{{organisationTypeMaster.createdOn}}</span>
                </dd>
                <dt><span>Last Updated By</span></dt>
                <dd>
                    <span>{{organisationTypeMaster.lastUpdatedBy}}</span>
                </dd>
                <dt><span>Last Updated On</span></dt>
                <dd>
                    <span>{{organisationTypeMaster.lastUpdatedOn}}</span>
                </dd>
                <dt><span>Verified By</span></dt>
                <dd>
                    <span>{{organisationTypeMaster.verifiedBy}}</span>
                </dd>
                <dt><span>Verified On</span></dt>
                <dd>
                    <span>{{organisationTypeMaster.verifiedOn}}</span>
                </dd>
                <dt><span>Remarks</span></dt>
                <dd>
                    <span>{{organisationTypeMaster.remarks}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/organisation-type-master', organisationTypeMaster.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
