
<br>
<br>

<div class="row justify-content-center">
    <div class="col-10" style="padding: 10px">
        <div>
            <button type="submit"
                    [routerLink]="['/application-dashboard']"
                    class="btn btn-info btn-sm">
                <fa-icon [icon]="'arrow-left'"></fa-icon>
                <span class="d-none d-md-inline">Back</span>
            </button>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 id="jhi-organisation-master-heading"><b>Application Detail</b></h3>
            </div>
            <div class="card-body">
                <form >
                    <div class="row">

                        <div class="form-group col-6">
                            <label class="form-control-label" >Application Name<span class="text-danger">*</span></label>
                            <div>
                                <span>{{applicationMaster.applicationName}}</span>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label class="form-control-label">Application  URL<span class="text-danger">*</span></label>
                            <div>
                                <span>{{applicationMaster.applicationURL}}</span>
                            </div>

                        </div>
                        <div class="form-group col-12">

                                <label class="form-control-label" >Remarks</label>
                                <div>
                                    <span>{{applicationMaster.remarks}}</span>
                                </div>

                        </div>

                    </div>
                </form>
            </div>
        </div><br><br>
    </div>
</div>

