<br>
<!--<div class="row" *jhiHasAnyAuthority="['ROLE_DISTRICT_HOD', 'ROLE_GMDIC', 'ROLE_STATE_HOD', 'ROLE_USER']">-->
    <!--<div class="col-sm-12">-->
        <!--<div class="float-right">-->
            <!--<h6 class="text-primary"><b>Welcome, {{currentAccount?.firstName}} ({{currentAccount?.authorities}})</b></h6>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<br>-->
<div class="row" *ngIf="checkvalue">
    <div class="col-sm-8 offset-2">
        <div class="card">
            <div class="card-header">
                <h5><b><span>User Detail</span></b></h5>
            </div>
            <div class="card-body">
                <div class="row col-sm-12">
                    <div class="form-group col-sm-12">

                        <span>
                            <img  [src]="photourl" [height]="80" [width]="100"/>
                            <!--<a class="text-primary" (click)="getMinioImage(userDetails.photograph, content)">View Attachment</a>-->
                        </span>
                    </div>
                    <div class="form-group col-sm-6">
                        <span><b>Employee Id :</b></span>
                        <span>{{userDetails.employeeId}}</span>
                    </div>
                </div>
                <div class="row col-sm-12">
                    <div class="form-group col-sm-6">
                        <span><b>Name :</b></span>
                        <span>{{userDetails.userFullName}}</span>
                    </div>
                    <div class="form-group col-sm-6">
                        <span><b>Mobile No. :</b></span>
                        <span>{{userDetails.userPhoneMobile}}</span>
                    </div>
                </div>

                <div class="row col-sm-12">
                    <div class="form-group col-sm-6">
                        <span><b>Aadhaar Number :</b></span>
                        <span>XXXX XXXX {{userDetails.aadhaar}}</span>
                    </div>
                    <div class="form-group col-sm-6">
                        <span><b>Pan :</b></span>
                        <span>{{userDetails.pan}}</span>
                    </div>
                </div>
                <!--<div class="row col-sm-12">-->
                    <!--<div class="form-group col-sm-6">-->
                        <!--<span><b>Landline No. :</b></span>-->
                        <!--<span>{{userDetails.userPhoneLandline}}</span>-->
                    <!--</div>-->
                    <!--<div class="form-group col-sm-6">-->
                    <!--<span><b>Plot Number :</b></span>-->
                    <!--<span>{{userDetails.plotNumber}}</span>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="row col-sm-12">
                    <div class="form-group col-sm-6">
                        <span><b>Official Email :</b></span>
                        <span>{{userDetails.userOfficialEmail}}</span>
                    </div>
                    <div class="form-group col-sm-6">
                        <span><b>Alternative Email :</b></span>
                        <span>{{userDetails.userAlternativeEmail}}</span>
                    </div>
                </div>
                <div class="row col-sm-12">
                    <div class="form-group col-sm-6">
                        <span><b>Designation :</b></span>
                        <span>{{designation?.designationName}}</span>
                    </div>
                    <div class="form-group col-sm-6">
                        <span><b>Created By :</b></span>
                        <span>{{userDetails.createdBy}}</span>
                    </div>
                </div>
                <div class="row col-sm-12">
                    <div class="form-group col-sm-6">
                        <span><b>Pan Attachment :</b></span>
                        <span>
                            <a class="text-primary" (click)="getMinioImage(userDetails.panAttachment, content)">View Attachment</a>
                        </span>
                    </div>
                </div>
                <div class="row col-sm-12">
                    <div class="form-group col-sm-6">
                        <span><b>Employee Card Attachment :</b></span>
                        <span>
                            <a class="text-primary" (click)="getMinioImage(userDetails.employeeCardAttachment, content)">View Attachment</a>
                        </span>
                    </div>
                </div>
                <br>
                <div class="float-right">
                    <span (click)="previous()" style="cursor: pointer" class="text-primary"><i class="fas fa-arrow-left"></i>&nbsp;Back</span>
                </div>
            </div>

            <ng-template #content let-modal style="width: 90vw; height: 100%;">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Attachment</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--<h3 class="modal-title w-100 m-2" id="myModalLabel">Attachment <span class="fa fa-close fa-pull-right"></span></h3>-->
                <div class="modal-body">
                    <iframe [src]='url' allowfullscreen frameborder="1" style="display: block;height: 60vh; width: 100%;"></iframe><br><br>
                </div>
            </ng-template>
        </div>
    </div>
</div>
