<br>
<div class="row justify-content-center">
    <div class="col-10" style="padding: 10px">
        <div class="card">

            <div class="col-md-12">
                <div class="alert alert-danger" *ngIf="errorFileExension">
                    <strong>Email is already in use!</strong> Please choose another one.
                </div>
            </div>

            <div class="card-header">
                <h3 id="jhi-organisation-master-heading"><b>Department Detail</b></h3>
            </div>
            <div class="card-body">
                <form name="editForm" role="form" novalidate [formGroup]="editForm">
                    <div class="row">
                        <div class="form-group col-6">
                            <label class="form-control-label">Select Department<span class="text-danger">*</span></label>
                            <select class="form-control" id="field_department" name="department" formControlName="departmentId" [(ngModel)]="departmentId" required>
                                <option [ngValue]="null" disabled>--Select Department--</option>
                                <option [ngValue]="departmentOption.id" *ngFor="let departmentOption of departments">{{departmentOption.departmentName}}</option>
                            </select>
                            <div *ngIf="editForm.get('departmentId').invalid && (editForm.get('departmentId').dirty || editForm.get('departmentId').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('departmentId').errors.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_organisationCorrespondenceEmail">Email<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="organisationCorrespondenceEmail" id="field_organisationCorrespondenceEmail"
                                   formControlName="organisationCorrespondenceEmail" placeholder="abc@gmail.com" required/>
                            <div *ngIf="editForm.get('organisationCorrespondenceEmail').invalid && (editForm.get('organisationCorrespondenceEmail').dirty || editForm.get('organisationCorrespondenceEmail').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('organisationCorrespondenceEmail').errors.required">
                                    This field is required.
                                </small>
                                <small class="form-text text-danger" *ngIf="editForm.get('organisationCorrespondenceEmail').errors.invalid"
                                >
                                    Your email is invalid.
                                </small>
                                <small class="form-text text-danger" *ngIf="editForm.get('organisationCorrespondenceEmail').errors.minlength"
                                >
                                    Your email is required to be at least 5 characters.
                                </small>
                                <small class="form-text text-danger" *ngIf="editForm.get('organisationCorrespondenceEmail').errors.maxlength"
                                >
                                    Your email cannot be longer than 100 characters.
                                </small>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_organisationCorrespondencePhone1">Phone <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="organisationCorrespondencePhone1" id="field_organisationCorrespondencePhone1"
                                   formControlName="organisationCorrespondencePhone1" placeholder="Enter phone number" minlength="10" maxlength="10" required/>
                            <div *ngIf="editForm.get('organisationCorrespondencePhone1').invalid && (editForm.get('organisationCorrespondencePhone1').dirty || editForm.get('organisationCorrespondencePhone1').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('organisationCorrespondencePhone1').errors.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_organisationCorrespondencePhone2">Alternative Phone </label>
                            <input type="text" class="form-control" name="organisationCorrespondencePhone2" id="field_organisationCorrespondencePhone2"
                                   formControlName="organisationCorrespondencePhone2" placeholder="Enter alternative phone number"/>
                        </div>
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_organisationWebsite">Organisation Website<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="organisationWebsite" id="field_organisationWebsite"
                                   formControlName="organisationWebsite" placeholder="https://abc.com" required/>
                            <div *ngIf="editForm.get('organisationWebsite').invalid && (editForm.get('organisationWebsite').dirty || editForm.get('organisationWebsite').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('organisationWebsite').errors.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                        <div class="form-group col-12">
                            <label class="form-control-label" for="field_organisationCorrespondenceAddress">Address</label>
                            <textarea rows="3" cols="3" type="text" class="form-control" name="organisationCorrespondenceAddress" id="field_organisationCorrespondenceAddress"
                                      formControlName="organisationCorrespondenceAddress" placeholder="Enter your address"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div><br><br>
        <div class="card">
            <div class="card-header"><h3 id="jhi-organisation-master-heading1"><b>Nodal Officer Detail</b></h3></div>
            <div class="card-body">
                <form name="editForm" role="form" novalidate [formGroup]="editForm">
                    <div class="row">
                        <div class="form-group col-12">
                            <label class="form-control-label" for="field_organisationEmployeeId">Employee Id<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="organisationEmployeeId" id="field_organisationEmployeeId"
                                   formControlName="organisationEmployeeId" placeholder="Enter employee id" required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_organisationNodalOfficerName">Name<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="organisationNodalOfficerName" id="field_organisationNodalOfficerName"
                                   formControlName="organisationNodalOfficerName" placeholder="Enter nodal officier's name" required/>
                        </div>
                        <div class="form-group col-6">
                            <label> Select Gender<span class="text-danger">*</span></label>
                        <div class="custom-control custom-radio ">
                            <input type="radio" class="custom-control-input col-2" value="Male" id="male" name="gender" formControlName="gender">
                            <label class="custom-control-label" for="male">Male</label>
                        </div>

                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input col-2" value="Female" id="female" name="gender"  formControlName="gender">
                            <label class="custom-control-label"  for="female" >Female</label>
                        </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input col-2" value="Transgender" id="transgender" name="gender" formControlName="gender">
                                <label class="custom-control-label"  for="transgender" >Transgender</label>
                            </div>
                      </div>
                    </div>
                        <div class="row">
                            <div class="form-group col-6">
                                <label class="form-control-label" for="field_organisationNodalOfficerPhoneMobile">Mobile Number<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="organisationNodalOfficerPhoneMobile" [(ngModel)]="organisationNodalOfficerPhoneMobile" id="field_organisationNodalOfficerPhoneMobile" minlength="10" maxlength="10"
                                       formControlName="organisationNodalOfficerPhoneMobile" placeholder="Enter your 10 digit mobile number" required="required"/>
                                <div *ngIf="editForm.get('organisationNodalOfficerPhoneMobile').invalid && (editForm.get('organisationNodalOfficerPhoneMobile').dirty || editForm.get('organisationNodalOfficerPhoneMobile').touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('organisationNodalOfficerPhoneMobile').errors.required">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group col-6">
                                <label class="form-control-label" for="field_dateOfBirth">Date Of Birth<span class="text-danger">*</span></label>
                                <div class="input-group">
                                    <input id="field_dateOfBirth" type="date" class="form-control" name="dateOfBirth"  formControlName="dateOfBirth" required/>
                                    <span class="input-group-append">
                        </span>
                                </div>
                            </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_pan">Pan<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="pan" id="field_pan"
                                   formControlName="pan" maxlength="10" minlength="10" placeholder="Enter your PAN number" required/>
                        </div>
                        <div class="form-group col-2">
                            <label class="form-control-label" for="field_aadhaar">Aadhaar Number<span class="text-danger">*</span></label>
                            <span></span>
                            <input type="text" class="form-control" placeholder="xxxx" value="xxxx"   id="field_aadhaar1"
                                   readonly/>
                        </div>
                        <div class="form-group col-2">
                            <label class="form-control-label" ></label>

                            <input type="text" class="form-control" placeholder="xxxx"   value="xxxx"  id="field_aadhaar2"
                                    readonly/>
                        </div>
                        <div class="form-group col-2">
                            <label class="form-control-label" for="field_aadhaar"></label>
                            <input type="text" class="form-control" maxlength="4" placeholder="Enter Last 4 Digit" name="aadhaar" id="field_aadhaar"
                                   formControlName="aadhaar" required/>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_organisationNodalOfficerPhoneLandline">Landline Number</label>
                            <input type="text" class="form-control" name="organisationNodalOfficerPhoneLandline" id="field_organisationNodalOfficerPhoneLandline"
                                   formControlName="organisationNodalOfficerPhoneLandline" placeholder="Enter your landline number"/>
                        </div>
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_nodalOfficerOfficialEmail">Official Email<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="nodalOfficerOfficialEmail" id="field_nodalOfficerOfficialEmail"
                                   formControlName="nodalOfficerOfficialEmail" placeholder="Enter email i.e. abc@gmail.com" required/>
                            <div *ngIf="editForm.get('nodalOfficerOfficialEmail').invalid && (editForm.get('nodalOfficerOfficialEmail').dirty || editForm.get('nodalOfficerOfficialEmail').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('nodalOfficerOfficialEmail').errors.required">
                                    This field is required.
                                </small>
                                <small class="form-text text-danger" *ngIf="editForm.get('nodalOfficerOfficialEmail').errors.invalid"
                                >
                                    Your email is invalid.
                                </small>
                                <small class="form-text text-danger" *ngIf="editForm.get('nodalOfficerOfficialEmail').errors.minlength"
                                >
                                    Your email is required to be at least 5 characters.
                                </small>
                                <small class="form-text text-danger" *ngIf="editForm.get('nodalOfficerOfficialEmail').errors.maxlength"
                                >
                                    Your email cannot be longer than 100 characters.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_organisationNodalOfficerAlternativeEmail">Alternative Email</label>
                            <input type="text" class="form-control" name="organisationNodalOfficerAlternativeEmail" id="field_organisationNodalOfficerAlternativeEmail"
                                   formControlName="organisationNodalOfficerAlternativeEmail" placeholder="Enter alternative email i.e. abc@gmail.com"/>
                        </div>
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_stateMaster">State</label>
                            <select class="form-control" id="field_stateMaster" name="stateMaster" formControlName="stateMasterId" [(ngModel)]="stateMasterId">
                                <option [ngValue]="null" disabled>--Select State--</option>
                                <option [ngValue]="stateMasterOption.id" *ngFor="let stateMasterOption of statemasters">{{stateMasterOption.stateName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_districtMaster">District</label>
                            <select class="form-control" id="field_districtMaster" name="districtMaster" formControlName="districtMasterId" [(ngModel)]="districtMasterId">
                                <option [ngValue]="null" disabled>--Select District--</option>
                                <option [ngValue]="districtMasterOption.id" *ngFor="let districtMasterOption of districtmasters">{{districtMasterOption.districtName}}</option>
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_subDistrictMaster">Sub District</label>
                            <select class="form-control" id="field_subDistrictMaster" name="subDistrictMaster" formControlName="subDistrictMasterId" [(ngModel)]="subDistrictMasterId">
                                <option [ngValue]="null" disabled>--Select Subdistrict--</option>
                                <option [ngValue]="subDistrictMasterOption.id" *ngFor="let subDistrictMasterOption of subdistrictmasters">{{subDistrictMasterOption.subDistrictName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-12">
                            <label class="form-control-label" for="field_remarks">Description</label>
                            <textarea rows="3" cols="3" type="text" class="form-control" name="remarks" id="field_remarks"
                                      formControlName="remarks" placeholder="Enter any description here"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div><br><br>

        <div class="card">
            <div class="card-header"><h3 id="jhi-organisation-master-heading2"><b>Attachments</b></h3></div>
            <div class="card-body">
                <form name="editForm" role="form" novalidate [formGroup]="editForm">
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-bordered">
                                <tr>
                                    <td>
                                        <label class="form-control">User Photograph<span class="text-danger">*</span> </label>
                                    </td>
                                    <td>
                                        <input type="file" class="form-control" name="photographAttachment" id="field_photographAttachment" formControlName="photographAttachment" required (change)="uploadFile($event.target.files, 'photographAttachment')"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="form-control">Employee ID Card Attachment<span class="text-danger">*</span></label>
                                    </td>
                                    <td>
                                        <input type="file" class="form-control" name="orgnisationEmpolyeeCardAttchment" id="field_orgnisationEmpolyeeCardAttchment" required formControlName="orgnisationEmpolyeeCardAttchment" (change)="uploadFile($event.target.files, 'orgnisationEmpolyeeCardAttchment')"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="form-control">Pan Card Attachment<span class="text-danger">*</span></label>
                                    </td>
                                    <td>
                                        <input type="file" class="form-control" name="panAttachment" id="field_panAttachment" formControlName="panAttachment"  required (change)="uploadFile($event.target.files, 'panAttachment')"/>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div><br>
        <div class="float-right">
            <button type="submit" (click)="saveData()" *ngIf="orgnisationId" id="save-entity1" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Update</span>
            </button>
            <button type="button"  *ngIf="!orgnisationId" (click)="verifyOTP()"  [disabled]="editForm.invalid || isSaving" class="btn btn-sm btn-primary">
                <span>Save</span>
            </button>

        </div>
    </div>
</div>

<!--<div class="modal fade" id="otp" tabindex="-1" role="dialog" aria-labelledby="otp"-->
     <!--aria-hidden="true">-->
    <!--<div class="modal-dialog" role="document">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<h5 class="modal-title" id="exampleModalLabel">OTP Confirmaton</h5>-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                    <!--<span aria-hidden="true">&times;</span>-->
                <!--</button>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--&lt;!&ndash;<span>Date</span>&ndash;&gt;-->
                <!--&lt;!&ndash;<input id="field_createdOn" type="text" class="form-control" [(ngModel)]="createdOn" name="createdOn" ngbDatepicker  #createdOnDp="ngbDatepicker" value="" formControlName="createdOn"/>&ndash;&gt;-->
                <!--<span>An OTP has been sent on Your Mobile Number Please Verify to continue....</span>-->
                <!--<input #otp type="text" class="form-control" name="otp">-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                <!--<button type="button" class="btn btn-primary" data-dismiss="modal" (click)="verifyOTP(mobileNumber,otp.value)" >Verify</button>-->
                <!--<button type="button" class="btn btn-primary" (click)="reSendOTP(mobileNumber)" >Resend OTP</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<div class="modal fade" id="docs" tabindex="-1" role="dialog" aria-labelledby="docs"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DocsexampleModalLabel">Required Documents</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <h6>The following documents are required to create an Organisation</h6>
                <ul>
                    <li>
                        Copy of Applicant's Organizational ID Card and individual PAN Card/ Proof of
                        individuals association with organisation
                    </li>
                    <li>
                        Copy of Incorporation/Registration Certificate
                    </li>
                    <li>
                        Authorised Signatory Organizational ID Card / Proof of Authorised Signatory’s
                        association with organisation
                    </li>
                    <li>
                        Copy of Bank PAN Card attested by Bank Manager
                    </li>
                    <li>
                        Certified copy of Organizational Identity of Bank Manager
                    </li>
                    <li>
                        The Authorization letter with seal and signature by Bank Manager/Organization
                    </li>
                </ul>

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" data-dismiss="modal" >OK</button>

            </div>
        </div>
    </div>
</div>
