<br>
<div class="row justify-content-center">
    <div class="col-10" style="padding: 10px">
        <div class="card">
            <div class="card-header">
                <h3 id="jhi-organisation-master-heading"><b>Application</b></h3>
            </div>
            <div class="card-body">
                <form name="editForm" role="form" novalidate [formGroup]="editForm">
                    <jhi-alert-error></jhi-alert-error>
                    <div class="row">
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_applicationName">Application Name<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="applicationName" id="field_applicationName"
                                   formControlName="applicationName"/>
                            <div *ngIf="editForm.get('applicationName').invalid && (editForm.get('applicationName').dirty || editForm.get('applicationName').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('applicationName').errors.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_applicationURL">Application URL<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="applicationURL" id="field_applicationURL"
                                   formControlName="applicationURL"/>
                        </div>
                        <div class="form-group col-12">
                            <label class="form-control-label" for="field_remarks">Description</label>
                            <textarea rows="3" cols="3" type="text" class="form-control" name="remarks" id="field_remarks"
                                      formControlName="remarks"></textarea>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <div class="float-right">
            <button type="submit" (click)="save()" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-sm btn-primary">
                <span>Save</span>
            </button>
        </div>
    </div>
</div>
