<!-- Footer -->
<footer class="page-footer font-small blue-grey pt-4 mt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-3 mt-md-0 mt-3 ml-4">
                <h3 class="text-white text-uppercase">CONTACT US: </h3><br>
                <h5 class="text-white">Head Office: </h5>
                <p class="text-white">Haryana State Electronics Development Corporation Limited,<br>
                    Bays No 73-76, Sector-2, Panchkula-134109,
                    Ph. 0172-2564486</p>
            </div>
            <div class="float-right offset-5">
                <br><br><br>
                <ul class="list-unstyled">
                    <li>
                        Email: webinfo[dot]dit-hry[at]gov[dot]in
                    </li>
                    <li>
                    </li>
                    Phone Number: 0172-2701405,     0172-2710701
                    <li>
                    </li>
                    <li>
                        Office Timing: 9 AM to 5 PM (Working Days)
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">
        <p class="text-white">&#9400; <span>2020</span> <a href="#" class="transition">ESign Haryana</a><span> All rights reserved.</span></p>
    </div>
</footer>

