<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-organisation-attachment-heading">Create or edit a Organisation Attachment</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_attachment">Attachment</label>
                    <input type="text" class="form-control" name="attachment" id="field_attachment"
                           formControlName="attachment"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_organisationMaster">Organisation Master</label>
                    <select class="form-control" id="field_organisationMaster" name="organisationMaster" formControlName="organisationMasterId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="organisationMasterOption.id" *ngFor="let organisationMasterOption of organisationmasters; trackBy: trackOrganisationMasterById">{{organisationMasterOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_organisationDocument">Organisation Document</label>
                    <select class="form-control" id="field_organisationDocument" name="organisationDocument" formControlName="organisationDocumentId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="organisationDocumentOption.id" *ngFor="let organisationDocumentOption of organisationdocuments; trackBy: trackOrganisationDocumentById">{{organisationDocumentOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
