<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="organisationAttachment">
            <h2><span>Organisation Attachment</span> {{organisationAttachment.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Attachment</span></dt>
                <dd>
                    <span>{{organisationAttachment.attachment}}</span>
                </dd>
                <dt><span>Organisation Master</span></dt>
                <dd>
                    <div *ngIf="organisationAttachment.organisationMasterId">
                        <a [routerLink]="['/organisation-master', organisationAttachment.organisationMasterId, 'view']">{{organisationAttachment.organisationMasterId}}</a>
                    </div>
                </dd>
                <dt><span>Organisation Document</span></dt>
                <dd>
                    <div *ngIf="organisationAttachment.organisationDocumentId">
                        <a [routerLink]="['/organisation-document', organisationAttachment.organisationDocumentId, 'view']">{{organisationAttachment.organisationDocumentId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/organisation-attachment', organisationAttachment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
