<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-block-master-heading">Create or edit a Block Master</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_blockCode">Block Code</label>
                    <input type="text" class="form-control" name="blockCode" id="field_blockCode"
                           formControlName="blockCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_blockName">Block Name</label>
                    <input type="text" class="form-control" name="blockName" id="field_blockName"
                           formControlName="blockName"/>
                    <div *ngIf="editForm.get('blockName').invalid && (editForm.get('blockName').dirty || editForm.get('blockName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('blockName').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdOn">Created On</label>
                    <div class="input-group">
                        <input id="field_createdOn" type="text" class="form-control" name="createdOn" ngbDatepicker  #createdOnDp="ngbDatepicker" formControlName="createdOn"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="createdOnDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastUpdatedBy">Last Updated By</label>
                    <input type="text" class="form-control" name="lastUpdatedBy" id="field_lastUpdatedBy"
                           formControlName="lastUpdatedBy"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastUpdatedOn">Last Updated On</label>
                    <div class="input-group">
                        <input id="field_lastUpdatedOn" type="text" class="form-control" name="lastUpdatedOn" ngbDatepicker  #lastUpdatedOnDp="ngbDatepicker" formControlName="lastUpdatedOn"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="lastUpdatedOnDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_verifiedBy">Verified By</label>
                    <input type="text" class="form-control" name="verifiedBy" id="field_verifiedBy"
                           formControlName="verifiedBy"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_verifiedOn">Verified On</label>
                    <div class="input-group">
                        <input id="field_verifiedOn" type="text" class="form-control" name="verifiedOn" ngbDatepicker  #verifiedOnDp="ngbDatepicker" formControlName="verifiedOn"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="verifiedOnDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_remarks">Remarks</label>
                    <input type="text" class="form-control" name="remarks" id="field_remarks"
                           formControlName="remarks"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_stateMaster">State Master</label>
                    <select class="form-control" id="field_stateMaster" name="stateMaster" formControlName="stateMasterId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="stateMasterOption.id" *ngFor="let stateMasterOption of statemasters; trackBy: trackStateMasterById">{{stateMasterOption.stateName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_districtMaster">District Master</label>
                    <select class="form-control" id="field_districtMaster" name="districtMaster" formControlName="districtMasterId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="districtMasterOption.id" *ngFor="let districtMasterOption of districtmasters; trackBy: trackDistrictMasterById">{{districtMasterOption.districtName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
