<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="blockMaster">
            <h2><span>Block Master</span> {{blockMaster.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Block Code</span></dt>
                <dd>
                    <span>{{blockMaster.blockCode}}</span>
                </dd>
                <dt><span>Block Name</span></dt>
                <dd>
                    <span>{{blockMaster.blockName}}</span>
                </dd>
                <dt><span>Created On</span></dt>
                <dd>
                    <span>{{blockMaster.createdOn}}</span>
                </dd>
                <dt><span>Last Updated By</span></dt>
                <dd>
                    <span>{{blockMaster.lastUpdatedBy}}</span>
                </dd>
                <dt><span>Last Updated On</span></dt>
                <dd>
                    <span>{{blockMaster.lastUpdatedOn}}</span>
                </dd>
                <dt><span>Verified By</span></dt>
                <dd>
                    <span>{{blockMaster.verifiedBy}}</span>
                </dd>
                <dt><span>Verified On</span></dt>
                <dd>
                    <span>{{blockMaster.verifiedOn}}</span>
                </dd>
                <dt><span>Remarks</span></dt>
                <dd>
                    <span>{{blockMaster.remarks}}</span>
                </dd>
                <dt><span>State Master</span></dt>
                <dd>
                    <div *ngIf="blockMaster.stateMasterId">
                        <a [routerLink]="['/state-master', blockMaster.stateMasterId, 'view']">{{blockMaster.stateMasterId}}</a>
                    </div>
                </dd>
                <dt><span>District Master</span></dt>
                <dd>
                    <div *ngIf="blockMaster.districtMasterId">
                        <a [routerLink]="['/district-master', blockMaster.districtMasterId, 'view']">{{blockMaster.districtMasterId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/block-master', blockMaster.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
