<br>
<div class="row justify-content-center">
    <div class="col-10" style="padding: 10px">
        <div class="card">
            <div class="card-header">
                <h3 id="jhi-user-master-heading"><b>User Detail </b></h3>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <div class="alert alert-danger" *ngIf="errorEmailExists">
                        <strong>Email is already in use!</strong> Please choose another one.
                    </div>
                    <div class="alert alert-danger" *ngIf="errorPhoneNoExists">
                        <strong>Phone Number is already in use!</strong> Please choose another one.
                    </div>
                </div>

                <form name="editForm" role="form" novalidate [formGroup]="editForm">
                    <div class="row">
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_employeeId">Employee Id<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="employeeId" id="field_employeeId"
                                   formControlName="employeeId" placeholder="Enter employee id" required=""/>
                        </div>

                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_userFullName">Name<span
                                class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="userFullName" id="field_userFullName"
                                   formControlName="userFullName" placeholder="Enter Your Full Name" required/>
                        </div>

                        <div class="form-group col-6">
                            <label> Select Gender<span class="text-danger">*</span></label>
                            <div class="custom-control custom-radio ">
                                <input type="radio" class="custom-control-input col-2" value="M" id="male" name="gender" formControlName="gender">
                                <label class="custom-control-label" for="male"  >Male</label>
                            </div>

                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input col-2" value="F" id="female" name="gender"  formControlName="gender">
                                <label class="custom-control-label"  for="female" >Female</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input col-2" value="T" id="transgender" name="gender" formControlName="gender">
                                <label class="custom-control-label"  for="transgender" >Transgender</label>
                            </div>
                        </div>

                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_userPhoneMobile">Mobile Number<span
                                class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="userPhoneMobile" minlength="10" maxlength="10"
                                   id="field_userPhoneMobile" formControlName="userPhoneMobile" placeholder="Enter your 10 digit mobile number" required/>
                            <div
                                *ngIf="editForm.get('userPhoneMobile').invalid && (editForm.get('userPhoneMobile').dirty || editForm.get('userPhoneMobile').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('userPhoneMobile').errors.required">
                                    This field is required.
                                </small>
                                <small class="form-text text-danger" *ngIf="editForm.get('userPhoneMobile').errors.invalid"
                                >
                                    Your mobile number is invalid.
                                </small>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_userPhoneLandline">Landline Number</label>
                            <input type="text" class="form-control" name="userPhoneLandline"
                                   id="field_userPhoneLandline"
                                   formControlName="userPhoneLandline" placeholder="Enter landline number"/>
                        </div>
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_userOfficialEmail">Official Email<span
                                class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="userOfficialEmail"
                                   id="field_userOfficialEmail"
                                   formControlName="userOfficialEmail" placeholder="Enter official email i.e. abc@gmail.com" required/>

                            <div *ngIf="editForm.get('userOfficialEmail').invalid && (editForm.get('userOfficialEmail').dirty || editForm.get('userOfficialEmail').touched)">
                                <small class="form-text text-danger" *ngIf="editForm.get('userOfficialEmail').errors.required"
                                >
                                    Your email is required.
                                </small>
                                <small class="form-text text-danger" *ngIf="editForm.get('userOfficialEmail').errors.invalid"
                                >
                                    Your email is invalid.
                                </small>
                                <small class="form-text text-danger" *ngIf="editForm.get('userOfficialEmail').errors.minlength"
                                >
                                    Your email is required to be at least 5 characters.
                                </small>
                                <small class="form-text text-danger" *ngIf="editForm.get('userOfficialEmail').errors.maxlength"
                                >
                                    Your email cannot be longer than 100 characters.
                                </small>
                            </div>
                        </div>

                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_userAlternativeEmail">Alternative Email</label>
                            <input type="text" class="form-control" name="userAlternativeEmail"
                                   id="field_userAlternativeEmail" placeholder="Enter your alternative email"
                                   formControlName="userAlternativeEmail"/>
                        </div>

                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_pan">Pan Number<span
                                class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="pan" maxlength="10" id="field_pan"
                                   formControlName="pan" placeholder="Enter your PAN number" required="required"/>
                        </div>
                        <div class="form-group col-2">
                            <label class="form-control-label" for="field_aadhaar">Aadhaar Number<span class="text-danger">*</span></label>
                            <span></span>
                            <input type="text" class="form-control" placeholder="xxxx" value="xxxx" name="aadhaar1"
                                   id="field_aadhaar1" readonly/>
                        </div>
                        <div class="form-group col-2">
                            <label class="form-control-label" for="field_aadhaar"></label>

                            <input type="text" class="form-control" placeholder="xxxx" value="xxxx" name="aadhaar2"
                                   id="field_aadhaar2" readonly/>
                        </div>
                        <div class="form-group col-2">
                            <label class="form-control-label" for="field_aadhaar"></label>

                            <input type="text" class="form-control" placeholder="Enter Last 4 Digits" name="aadhaar"
                                   maxlength="4" id="field_aadhaar"
                                   formControlName="aadhaar" required/>
                        </div>

                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_designationMaster">Designation</label>
                            <select class="form-control" id="field_designationMaster" name="designationMaster"
                                    formControlName="designationMasterId" [(ngModel)]="designationMasterId">
                                <option [ngValue]="null" disabled>--Select Designation--</option>
                                <option [ngValue]="designationMasterOption.id"
                                        *ngFor="let designationMasterOption of designationmasters">{{designationMasterOption.designationName}}</option>
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_dob">Dob<span class="text-danger">*</span></label>
                            <div class="input-group">
                                <input id="field_dob" type="date" class="form-control"  name="dob"
                                      formControlName="dob" required/>
                            </div>
                        </div>

                        <div class="form-group col-12">
                            <label class="form-control-label" for="field_address">Address</label>
                            <textarea type="text" class="form-control" name="address" id="field_address"
                                      formControlName="address" placeholder="Enter your address" rows="3" cols="3"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br><br>

        <div class="card">
            <div class="card-header"><h3 id="jhi-organisation-master-heading2"><b>Attachments</b></h3></div>
            <div class="card-body">
                <form name="editForm" role="form" novalidate [formGroup]="editForm">
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-bordered">
                                <tr>
                                    <td>
                                        <label class="form-control">User Photograph<span class="text-danger">*</span>
                                        </label>
                                    </td>
                                    <td>
                                        <input type="file" class="form-control" name="photograph" id="field_photograph"
                                               formControlName="photograph" required
                                               (change)="uploadFile($event.target.files, 'photograph')"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="form-control">Pan Card Attachment<span class="text-danger">*</span></label>
                                    </td>
                                    <td>
                                        <input type="file" class="form-control" name="panAttachment"
                                               id="field_panAttachment" formControlName="panAttachment" required
                                               (change)="uploadFile($event.target.files, 'panAttachment')"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="form-control">Employee Card Attachment<span class="text-danger">*</span><span
                                            class="text-danger">*</span> </label>
                                    </td>
                                    <td>
                                        <input type="file" class="form-control" name="employeeCardAttachment"
                                               id="field_employeeCardAttachment"
                                               formControlName="employeeCardAttachment" required
                                               (change)="uploadFile($event.target.files, 'employeeCardAttachment')"/>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="float-right">
            <button type="submit" (click)="save()" id="save-entity" [disabled]="editForm.invalid || isSaving"
                    class="btn btn-sm btn-primary">
                <span>Save</span>
            </button>
        </div>
    </div>
</div>
