<div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1>Reset password</h1>

            <div class="alert alert-danger" *ngIf="keyMissing">
                <strong>The password reset key is missing.</strong>
            </div>

            <div class="alert alert-warning" *ngIf="!success && !keyMissing">
                <p>Choose a new password</p>
            </div>

<!--            <div class="alert alert-danger" *ngIf="error">-->
<!--                <p>Your password couldn't be reset. Remember a password request is only valid for 24 hours.</p>-->
<!--            </div>-->

            <div class="alert alert-danger" *ngIf="error">
                <p>Your password couldn't be reset. This link has been expired.</p>
            </div>

            <p class="alert alert-success" *ngIf="success">
                <span><strong>Your password has been reset.</strong> Please </span>
                <a class="alert-link" routerLink="/">sign in</a>.
            </p>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                The password and its confirmation do not match!
            </div>

            <div *ngIf="!keyMissing">
                <form *ngIf="!success" name="form" role="form" autocomplete="off" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
                    <div class="form-group">
                        <label class="form-control-label" for="pwd">New password</label>
                        <input type="text" class="form-control" (keyup)="RemoveSavedPassword()" id="pwd" name="password" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');"
                               placeholder="New password"
                               formControlName="newPassword">
                        <div id="password" style="cursor: pointer;" class="form-control"></div>
                        <div *ngIf="passwordForm.get('newPassword').invalid && (passwordForm.get('newPassword').dirty || passwordForm.get('newPassword').touched)">
                            <small class="form-text text-danger"
                               *ngIf="passwordForm.get('newPassword').errors.required">
                                Your password is required.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordForm.get('newPassword').errors.minlength">
                                Your password is required to be at least 8 characters.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordForm.get('newPassword').errors.maxlength">
                                Your password cannot be longer than 50 characters.
                            </small>
                        </div>
                        <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword').value"></jhi-password-strength-bar>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="confirmpwd">New password confirmation</label>
                        <input type="text" class="form-control" (keyup)="RemoveSavedConfirmPassword()" id="confirmpwd" name="confirmPassword" autocomplete="off"
                               placeholder="Confirm the new password"
                               formControlName="confirmPassword">
                        <div id="confirmPassword" style="cursor: pointer;" class="form-control"></div>
                        <div *ngIf="passwordForm.get('confirmPassword').invalid && (passwordForm.get('confirmPassword').dirty || passwordForm.get('confirmPassword').touched)">
                            <small class="form-text text-danger"
                               *ngIf="passwordForm.get('confirmPassword').errors.required">
                                Your password confirmation is required.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordForm.get('confirmPassword').errors.minlength">
                                Your password confirmation is required to be at least 8 characters.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordForm.get('confirmPassword').errors.maxlength">
                                Your password confirmation cannot be longer than 50 characters.
                            </small>
                        </div>
                    </div>
<!--                    <re-captcha (resolved)="resolved($event)" siteKey="6Le1ldoUAAAAAN0dECr3B-ttD-mSnxrfGf0usvY9"></re-captcha>-->
                    <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary">Reset Password</button>
                </form>
            </div>

        </div>
    </div>
</div>
