/* ==========================================================================
Main page styles
========================================================================== */

#pwd {
  opacity: 0;
  background: transparent;
  position: absolute;
  z-index: 999;
  margin-top: 0px;
  margin-left: 0px;
  height: 37.5px;
  width: 397.74px;
}

#confirmpwd {
  opacity: 0;
  background: transparent;
  position: absolute;
  z-index: 999;
  margin-top: 0px;
  margin-left: 0px;
  height: 37.5px;
  width: 398.74px;
}


