<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userAuthDetails">
            <h2><span>User Auth Details</span> {{ userAuthDetails.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Login</span></dt>
                <dd>
                    <span>{{ userAuthDetails.login }}</span>
                </dd>
                <dt><span>Device</span></dt>
                <dd>
                    <span>{{ userAuthDetails.device }}</span>
                </dd>
                <dt><span>Auth Token</span></dt>
                <dd>
                    <span>{{ userAuthDetails.authToken }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-auth-details', userAuthDetails.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
