
<br>
<br>

<div class="row justify-content-center" *ngIf="checkvalue">
    <div class="col-10" style="padding: 10px">
        <div class="card">
            <div class="card-header">
                <h3 id="jhi-organisation-master-heading"><b>Organisation Detail</b>
                    <div class="float-right">
                        <button type="submit"
                                (click)="goBack()"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'arrow-left'"></fa-icon>
                            <span class="d-none d-md-inline">Back</span>
                        </button>
                    </div></h3>
            </div>
            <div class="card-body">
                <form >
                    <div class="row col-sm-12">
                        <div class="form-group col-sm-6">
                            <span><b>Department:</b></span>
                            <span>{{organisationMaster.organisationIdCode}}</span>
                        </div>
                        <div class="form-group col-sm-6">
                            <span><b>Department Name:</b></span>
                            <span>{{organisationMaster.organisationName}}</span>
                        </div>
                    </div>
                    <div class="row col-sm-12">
                        <div class="form-group col-sm-6">
                            <span><b>Correspondence Email :</b></span>
                            <span>{{organisationMaster.organisationCorrespondenceEmail}}</span>
                        </div>
                        <div class="form-group col-sm-6">
                            <span><b>Correspondence Phone 1 :</b></span>
                            <span>{{organisationMaster.organisationCorrespondencePhone1}}</span>
                        </div>
                    </div>
                    <div class="row col-sm-12">
                        <div class="form-group col-sm-6">
                            <span><b>Correspondence Phone 2 :</b></span>
                            <span>{{organisationMaster.organisationCorrespondencePhone2}}</span>
                        </div>
                        <div class="form-group col-sm-6">
                            <span><b>Website :</b></span>
                            <span>{{organisationMaster.organisationWebsite}}</span>
                        </div>
                    </div>
                    <div class="row col-sm-12">
                        <div class="form-group col-sm-6">
                            <span><b>Correspondence Address :</b></span>
                            <span>{{organisationMaster.organisationCorrespondenceAddress}}</span>
                        </div>
                    </div>
                </form>
            </div>
        </div><br><br>
        <div class="card">
            <div class="card-header"><h3 id="jhi-organisation-master-heading1"><b>Nodal Officer Detail</b></h3></div>
            <div class="card-body">
                <form  novalidate>

                    <div class="row col-sm-12">
                        <div class="form-group col-sm-6">
                            <span><b>Employee Id :</b></span>
                            <span>{{organisationMaster.organisationEmployeeId}}</span>
                        </div>
                    </div>

                    <div class="row col-sm-12">
                        <div class="form-group col-sm-6">
                            <span><b>Nodal Officer Name :</b></span>
                            <span>{{organisationMaster.organisationNodalOfficerName}}</span>
                        </div>
                        <div class="form-group col-sm-6">
                            <span><b>Phone Mobile :</b></span>
                            <span>{{organisationMaster.organisationNodalOfficerPhoneMobile}}</span>
                        </div>
                    </div>
                    <div class="row col-sm-12">
                        <div class="form-group col-sm-6">
                            <span><b>Phone Landline :</b></span>
                            <span>{{organisationMaster.organisationNodalOfficerPhoneLandline}}</span>
                        </div>
                        <div class="form-group col-sm-6">
                            <span><b>Official Email :</b></span>
                            <span>{{organisationMaster.nodalOfficerOfficialEmail}}</span>
                        </div>
                    </div>
                    <div class="row col-sm-12">
                        <div class="form-group col-sm-6">
                            <span><b>Alternative Email :</b></span>
                            <span>{{organisationMaster.organisationNodalOfficerAlternativeEmail}}</span>
                        </div>
                        <div class="form-group col-sm-6">
                            <span><b>State :</b></span>
                            <span>{{stateMaster?.stateName}}</span>

                        </div>
                    </div>
                    <div class="row col-sm-12">
                        <div class="form-group col-sm-6">
                            <span><b>PAN :</b></span>
                            <span>{{organisationMaster.pan}}</span>
                        </div>
                        <div class="form-group col-sm-6">
                            <span><b>Aadhaar No. :</b></span>
                            <span>XXXX XXXX {{organisationMaster.aadhaar}}</span>

                        </div>
                    </div>
                    <div class="row col-sm-12">
                        <div class="form-group col-sm-6">
                            <span><b>District :</b></span>
                            <span>{{districtMaster?.districtName}}</span>
                        </div>
                        <div class="form-group col-sm-6">
                            <span><b>Sub District :</b></span>
                            <span>{{subDistrictMaster?.subDistrictName}}</span>
                        </div>
                    </div>
                    <div class="row col-sm-12">
                        <div class="form-group col-sm-6">
                            <span><b>Remarks :</b></span>
                            <span>{{organisationMaster.remarks}}</span>
                        </div>
                    </div><br>
                </form>
            </div>
        </div><br><br>
        <div class="card" *ngIf="organisationMaster.panAttachment || organisationMaster.photographAttachment || organisationMaster.orgnisationEmpolyeeCardAttchment">
            <div class="card-header"><h3 id="jhi-organisation-master-heading2"><b>Attachments</b></h3></div>
            <div class="card-body">
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-bordered">
                                <tr>
                                    <th>
                                        Document Name
                                    </th>
                                    <th>
                                        Attachments
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                       PAN Attachment
                                    </td>
                                    <td>
                                        <span>
                                            <a class="text-primary" (click)="getMinioImage(organisationMaster.panAttachment, content)">View Attachment</a>
                                         </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Employee Id Card Attachment
                                    </td>
                                    <td>
                                        <span>
                                            <a class="text-primary" (click)="getMinioImage(organisationMaster.orgnisationEmpolyeeCardAttchment, content)">View Attachment</a>
                                         </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Photograph
                                    </td>
                                    <td>
                                        <span>
                                            <a class="text-primary">View Attachment</a>
                                         </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
            </div>

            <ng-template #content let-modal style="width: 90vw; height: 100%;">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Attachment</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <iframe [src]='url' allowfullscreen frameborder="1" style="display: block;height: 60vh; width: 100%;"></iframe><br><br>
                </div>
            </ng-template>
        </div><br>
    </div>
</div>

