<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="department">
            <h2><span>Department</span> {{ department.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Department Name</span></dt>
                <dd>
                    <span>{{ department.departmentName }}</span>
                </dd>
                <dt><span>Created On</span></dt>
                <dd>
                    <span>{{ department.createdOn }}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{ department.createdBy }}</span>
                </dd>
                <dt><span>Updated On</span></dt>
                <dd>
                    <span>{{ department.updatedOn }}</span>
                </dd>
                <dt><span>Updated By</span></dt>
                <dd>
                    <span>{{ department.updatedBy }}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{ department.status }}</span>
                </dd>
                <dt><span>Remark</span></dt>
                <dd>
                    <span>{{ department.remark }}</span>
                </dd>
                <dt><span>White List Ip 1</span></dt>
                <dd>
                    <span>{{ department.whiteListIp1 }}</span>
                </dd>
                <dt><span>White List Ip 2</span></dt>
                <dd>
                    <span>{{ department.whiteListIp2 }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/department', department.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
