<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-organisation-log-heading">Create or edit a Organisation Log</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_organisationId">Organisation Id</label>
                    <input type="number" class="form-control" name="organisationId" id="field_organisationId"
                           formControlName="organisationId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdByLogin">Created By Login</label>
                    <input type="text" class="form-control" name="createdByLogin" id="field_createdByLogin"
                           formControlName="createdByLogin"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdDate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" formControlName="createdDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_verifyByName">Verify By Name</label>
                    <input type="text" class="form-control" name="verifyByName" id="field_verifyByName"
                           formControlName="verifyByName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_verifyDate">Verify Date</label>
                    <div class="d-flex">
                        <input id="field_verifyDate" type="datetime-local" class="form-control" name="verifyDate" formControlName="verifyDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_remarks">Remarks</label>
                    <input type="text" class="form-control" name="remarks" id="field_remarks"
                           formControlName="remarks"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                           formControlName="status"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_verifyByLogin">Verify By Login</label>
                    <input type="text" class="form-control" name="verifyByLogin" id="field_verifyByLogin"
                           formControlName="verifyByLogin"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdByName">Created By Name</label>
                    <input type="text" class="form-control" name="createdByName" id="field_createdByName"
                           formControlName="createdByName"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
