<div>
    <h2 id="page-heading">
        <span>Organisation Logs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-organisation-log" [routerLink]="['/organisation-log/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create a new Organisation Log
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="organisationLogs?.length === 0">
        <span>No organisationLogs found</span>
    </div>
    <div class="table-responsive" *ngIf="organisationLogs?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Organisation Id</span></th>
            <th scope="col" ><span>Created By Login</span></th>
            <th scope="col" ><span>Created Date</span></th>
            <th scope="col" ><span>Verify By Name</span></th>
            <th scope="col" ><span>Verify Date</span></th>
            <th scope="col" ><span>Remarks</span></th>
            <th scope="col" ><span>Status</span></th>
            <th scope="col" ><span>Verify By Login</span></th>
            <th scope="col" ><span>Created By Name</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let organisationLog of organisationLogs ;trackBy: trackId">
                <td><a [routerLink]="['/organisation-log', organisationLog.id, 'view' ]">{{organisationLog.id}}</a></td>
                <td>{{organisationLog.organisationId}}</td>
                <td>{{organisationLog.createdByLogin}}</td>
                <td>{{organisationLog.createdDate | date:'medium'}}</td>
                <td>{{organisationLog.verifyByName}}</td>
                <td>{{organisationLog.verifyDate | date:'medium'}}</td>
                <td>{{organisationLog.remarks}}</td>
                <td>{{organisationLog.status}}</td>
                <td>{{organisationLog.verifyByLogin}}</td>
                <td>{{organisationLog.createdByName}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/organisation-log', organisationLog.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/organisation-log', organisationLog.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/organisation-log', { outlets: { popup: organisationLog.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
