<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="organisationLog">
            <h2><span>Organisation Log</span> {{organisationLog.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Organisation Id</span></dt>
                <dd>
                    <span>{{organisationLog.organisationId}}</span>
                </dd>
                <dt><span>Created By Login</span></dt>
                <dd>
                    <span>{{organisationLog.createdByLogin}}</span>
                </dd>
                <dt><span>Created Date</span></dt>
                <dd>
                    <span>{{organisationLog.createdDate}}</span>
                </dd>
                <dt><span>Verify By Name</span></dt>
                <dd>
                    <span>{{organisationLog.verifyByName}}</span>
                </dd>
                <dt><span>Verify Date</span></dt>
                <dd>
                    <span>{{organisationLog.verifyDate}}</span>
                </dd>
                <dt><span>Remarks</span></dt>
                <dd>
                    <span>{{organisationLog.remarks}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{organisationLog.status}}</span>
                </dd>
                <dt><span>Verify By Login</span></dt>
                <dd>
                    <span>{{organisationLog.verifyByLogin}}</span>
                </dd>
                <dt><span>Created By Name</span></dt>
                <dd>
                    <span>{{organisationLog.createdByName}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/organisation-log', organisationLog.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
