<div>
    <h2 id="page-heading">
        <span>Organisation Masters</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-organisation-master" [routerLink]="['/organisation-master/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down">
            Create a new Organisation Master
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="organisationMasters?.length === 0">
        <span>No organisationMasters found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="organisationMasters?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="organisationName"><span>Organisation Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="organisationAbbreviation"><span>Organisation Abbreviation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="organisationCorrespondenceEmail"><span>Organisation Correspondence Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="organisationCorrespondencePhone1"><span>Organisation Correspondence Phone 1</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="organisationCorrespondencePhone2"><span>Organisation Correspondence Phone 2</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="organisationCorrespondenceAddress"><span>Organisation Correspondence Address</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="organisationWebsite"><span>Organisation Website</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="organisationNodalOfficerName"><span>Organisation Nodal Officer Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="organisationNodalOfficerPhoneMobile"><span>Organisation Nodal Officer Phone Mobile</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="organisationNodalOfficerPhoneLandline"><span>Organisation Nodal Officer Phone Landline</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nodalOfficerOfficialEmail"><span>Nodal Officer Official Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="organisationNodalOfficerAlternativeEmail"><span>Organisation Nodal Officer Alternative Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdBy"><span>Created By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdOn"><span>Created On</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastUpdatedBy"><span>Last Updated By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastUpdatedOn"><span>Last Updated On</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="verifiedBy"><span>Verified By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="verifiedOn"><span>Verified On</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="remarks"><span>Remarks</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userId"><span>User Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="stage"><span>Stage</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span>Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="organisationIdCode"><span>Organisation Id Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="organisationEmployeeId"><span>Organisation Employee Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateOfBirth"><span>Date Of Birth</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="gender"><span>Gender</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pan"><span>Pan</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="aadhaar"><span>Aadhaar</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="orgnisationEmpolyeeCardAttchment"><span>Orgnisation Empolyee Card Attchment</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="panAttachment"><span>Pan Attachment</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="photographAttachment"><span>Photograph Attachment</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="aadhaarAttachment"><span>Aadhaar Attachment</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pinCode"><span>Pin Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="organisationTypeMasterId"><span>Organisation Type Master</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="stateMasterId"><span>State Master</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="districtMasterId"><span>District Master</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="subDistrictMasterId"><span>Sub District Master</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="departmentId"><span>Department</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let organisationMaster of organisationMasters ;trackBy: trackId">
                    <td><a [routerLink]="['/organisation-master', organisationMaster.id, 'view']">{{ organisationMaster.id }}</a></td>
                    <td>{{ organisationMaster.organisationName }}</td>
                    <td>{{ organisationMaster.organisationAbbreviation }}</td>
                    <td>{{ organisationMaster.organisationCorrespondenceEmail }}</td>
                    <td>{{ organisationMaster.organisationCorrespondencePhone1 }}</td>
                    <td>{{ organisationMaster.organisationCorrespondencePhone2 }}</td>
                    <td>{{ organisationMaster.organisationCorrespondenceAddress }}</td>
                    <td>{{ organisationMaster.organisationWebsite }}</td>
                    <td>{{ organisationMaster.organisationNodalOfficerName }}</td>
                    <td>{{ organisationMaster.organisationNodalOfficerPhoneMobile }}</td>
                    <td>{{ organisationMaster.organisationNodalOfficerPhoneLandline }}</td>
                    <td>{{ organisationMaster.nodalOfficerOfficialEmail }}</td>
                    <td>{{ organisationMaster.organisationNodalOfficerAlternativeEmail }}</td>
                    <td>{{ organisationMaster.createdBy }}</td>
                    <td>{{ organisationMaster.createdOn | date:'mediumDate' }}</td>
                    <td>{{ organisationMaster.lastUpdatedBy }}</td>
                    <td>{{ organisationMaster.lastUpdatedOn | date:'mediumDate' }}</td>
                    <td>{{ organisationMaster.verifiedBy }}</td>
                    <td>{{ organisationMaster.verifiedOn | date:'mediumDate' }}</td>
                    <td>{{ organisationMaster.remarks }}</td>
                    <td>{{ organisationMaster.userId }}</td>
                    <td>{{ organisationMaster.stage }}</td>
                    <td>{{ organisationMaster.status }}</td>
                    <td>{{ organisationMaster.organisationIdCode }}</td>
                    <td>{{ organisationMaster.organisationEmployeeId }}</td>
                    <td>{{ organisationMaster.dateOfBirth | date:'mediumDate' }}</td>
                    <td>{{ organisationMaster.gender }}</td>
                    <td>{{ organisationMaster.pan }}</td>
                    <td>{{ organisationMaster.aadhaar }}</td>
                    <td>{{ organisationMaster.orgnisationEmpolyeeCardAttchment }}</td>
                    <td>{{ organisationMaster.panAttachment }}</td>
                    <td>{{ organisationMaster.photographAttachment }}</td>
                    <td>{{ organisationMaster.aadhaarAttachment }}</td>
                    <td>{{ organisationMaster.pinCode }}</td>
                    <td>
                        <div *ngIf="organisationMaster.organisationTypeMasterId">
                            <a [routerLink]="['/organisation-type-master', organisationMaster.organisationTypeMasterId , 'view']" >{{ organisationMaster.organisationTypeMasterId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="organisationMaster.stateMasterId">
                            <a [routerLink]="['/state-master', organisationMaster.stateMasterId , 'view']" >{{ organisationMaster.stateMasterId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="organisationMaster.districtMasterId">
                            <a [routerLink]="['/district-master', organisationMaster.districtMasterId , 'view']" >{{ organisationMaster.districtMasterId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="organisationMaster.subDistrictMasterId">
                            <a [routerLink]="['/sub-district-master', organisationMaster.subDistrictMasterId , 'view']" >{{ organisationMaster.subDistrictMasterId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="organisationMaster.departmentId">
                            <a [routerLink]="['/department', organisationMaster.departmentId , 'view']" >{{ organisationMaster.departmentId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/organisation-master', organisationMaster.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/organisation-master', organisationMaster.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(organisationMaster)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="organisationMasters?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
