<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-organisation-master-heading">Create or edit a Organisation Master</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_organisationName">Organisation Name</label>
                    <input type="text" class="form-control" name="organisationName" id="field_organisationName"
                           formControlName="organisationName"/>
                    <div *ngIf="editForm.get('organisationName')!.invalid && (editForm.get('organisationName')!.dirty || editForm.get('organisationName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('organisationName')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_organisationAbbreviation">Organisation Abbreviation</label>
                    <input type="text" class="form-control" name="organisationAbbreviation" id="field_organisationAbbreviation"
                           formControlName="organisationAbbreviation"/>
                    <div *ngIf="editForm.get('organisationAbbreviation')!.invalid && (editForm.get('organisationAbbreviation')!.dirty || editForm.get('organisationAbbreviation')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('organisationAbbreviation')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_organisationCorrespondenceEmail">Organisation Correspondence Email</label>
                    <input type="text" class="form-control" name="organisationCorrespondenceEmail" id="field_organisationCorrespondenceEmail"
                           formControlName="organisationCorrespondenceEmail"/>
                    <div *ngIf="editForm.get('organisationCorrespondenceEmail')!.invalid && (editForm.get('organisationCorrespondenceEmail')!.dirty || editForm.get('organisationCorrespondenceEmail')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('organisationCorrespondenceEmail')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_organisationCorrespondencePhone1">Organisation Correspondence Phone 1</label>
                    <input type="text" class="form-control" name="organisationCorrespondencePhone1" id="field_organisationCorrespondencePhone1"
                           formControlName="organisationCorrespondencePhone1"/>
                    <div *ngIf="editForm.get('organisationCorrespondencePhone1')!.invalid && (editForm.get('organisationCorrespondencePhone1')!.dirty || editForm.get('organisationCorrespondencePhone1')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('organisationCorrespondencePhone1')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_organisationCorrespondencePhone2">Organisation Correspondence Phone 2</label>
                    <input type="text" class="form-control" name="organisationCorrespondencePhone2" id="field_organisationCorrespondencePhone2"
                           formControlName="organisationCorrespondencePhone2"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_organisationCorrespondenceAddress">Organisation Correspondence Address</label>
                    <input type="text" class="form-control" name="organisationCorrespondenceAddress" id="field_organisationCorrespondenceAddress"
                           formControlName="organisationCorrespondenceAddress"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_organisationWebsite">Organisation Website</label>
                    <input type="text" class="form-control" name="organisationWebsite" id="field_organisationWebsite"
                           formControlName="organisationWebsite"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_organisationNodalOfficerName">Organisation Nodal Officer Name</label>
                    <input type="text" class="form-control" name="organisationNodalOfficerName" id="field_organisationNodalOfficerName"
                           formControlName="organisationNodalOfficerName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_organisationNodalOfficerPhoneMobile">Organisation Nodal Officer Phone Mobile</label>
                    <input type="text" class="form-control" name="organisationNodalOfficerPhoneMobile" id="field_organisationNodalOfficerPhoneMobile"
                           formControlName="organisationNodalOfficerPhoneMobile"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_organisationNodalOfficerPhoneLandline">Organisation Nodal Officer Phone Landline</label>
                    <input type="text" class="form-control" name="organisationNodalOfficerPhoneLandline" id="field_organisationNodalOfficerPhoneLandline"
                           formControlName="organisationNodalOfficerPhoneLandline"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_nodalOfficerOfficialEmail">Nodal Officer Official Email</label>
                    <input type="text" class="form-control" name="nodalOfficerOfficialEmail" id="field_nodalOfficerOfficialEmail"
                           formControlName="nodalOfficerOfficialEmail"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_organisationNodalOfficerAlternativeEmail">Organisation Nodal Officer Alternative Email</label>
                    <input type="text" class="form-control" name="organisationNodalOfficerAlternativeEmail" id="field_organisationNodalOfficerAlternativeEmail"
                           formControlName="organisationNodalOfficerAlternativeEmail"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_createdOn">Created On</label>
                    <div class="input-group">
                        <input id="field_createdOn" type="text" class="form-control" name="createdOn" ngbDatepicker #createdOnDp="ngbDatepicker" formControlName="createdOn"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="createdOnDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_lastUpdatedBy">Last Updated By</label>
                    <input type="text" class="form-control" name="lastUpdatedBy" id="field_lastUpdatedBy"
                           formControlName="lastUpdatedBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_lastUpdatedOn">Last Updated On</label>
                    <div class="input-group">
                        <input id="field_lastUpdatedOn" type="text" class="form-control" name="lastUpdatedOn" ngbDatepicker #lastUpdatedOnDp="ngbDatepicker" formControlName="lastUpdatedOn"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="lastUpdatedOnDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_verifiedBy">Verified By</label>
                    <input type="text" class="form-control" name="verifiedBy" id="field_verifiedBy"
                           formControlName="verifiedBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_verifiedOn">Verified On</label>
                    <div class="input-group">
                        <input id="field_verifiedOn" type="text" class="form-control" name="verifiedOn" ngbDatepicker #verifiedOnDp="ngbDatepicker" formControlName="verifiedOn"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="verifiedOnDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_remarks">Remarks</label>
                    <input type="text" class="form-control" name="remarks" id="field_remarks"
                           formControlName="remarks"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_userId">User Id</label>
                    <input type="number" class="form-control" name="userId" id="field_userId"
                           formControlName="userId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_stage">Stage</label>
                    <input type="text" class="form-control" name="stage" id="field_stage"
                           formControlName="stage"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                           formControlName="status"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_organisationIdCode">Organisation Id Code</label>
                    <input type="text" class="form-control" name="organisationIdCode" id="field_organisationIdCode"
                           formControlName="organisationIdCode"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_organisationEmployeeId">Organisation Employee Id</label>
                    <input type="text" class="form-control" name="organisationEmployeeId" id="field_organisationEmployeeId"
                           formControlName="organisationEmployeeId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_dateOfBirth">Date Of Birth</label>
                    <div class="input-group">
                        <input id="field_dateOfBirth" type="text" class="form-control" name="dateOfBirth" ngbDatepicker #dateOfBirthDp="ngbDatepicker" formControlName="dateOfBirth"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateOfBirthDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_gender">Gender</label>
                    <input type="text" class="form-control" name="gender" id="field_gender"
                           formControlName="gender"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_pan">Pan</label>
                    <input type="text" class="form-control" name="pan" id="field_pan"
                           formControlName="pan"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_aadhaar">Aadhaar</label>
                    <input type="text" class="form-control" name="aadhaar" id="field_aadhaar"
                           formControlName="aadhaar"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_orgnisationEmpolyeeCardAttchment">Orgnisation Empolyee Card Attchment</label>
                    <input type="text" class="form-control" name="orgnisationEmpolyeeCardAttchment" id="field_orgnisationEmpolyeeCardAttchment"
                           formControlName="orgnisationEmpolyeeCardAttchment"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_panAttachment">Pan Attachment</label>
                    <input type="text" class="form-control" name="panAttachment" id="field_panAttachment"
                           formControlName="panAttachment"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_photographAttachment">Photograph Attachment</label>
                    <input type="text" class="form-control" name="photographAttachment" id="field_photographAttachment"
                           formControlName="photographAttachment"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_aadhaarAttachment">Aadhaar Attachment</label>
                    <input type="text" class="form-control" name="aadhaarAttachment" id="field_aadhaarAttachment"
                           formControlName="aadhaarAttachment"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_pinCode">Pin Code</label>
                    <input type="text" class="form-control" name="pinCode" id="field_pinCode"
                           formControlName="pinCode"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_organisationTypeMaster">Organisation Type Master</label>
                    <select class="form-control" id="field_organisationTypeMaster" name="organisationTypeMaster" formControlName="organisationTypeMasterId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="organisationTypeMasterOption.id" *ngFor="let organisationTypeMasterOption of organisationtypemasters; trackBy: trackById">{{ organisationTypeMasterOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_stateMaster">State Master</label>
                    <select class="form-control" id="field_stateMaster" name="stateMaster" formControlName="stateMasterId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="stateMasterOption.id" *ngFor="let stateMasterOption of statemasters; trackBy: trackById">{{ stateMasterOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_districtMaster">District Master</label>
                    <select class="form-control" id="field_districtMaster" name="districtMaster" formControlName="districtMasterId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="districtMasterOption.id" *ngFor="let districtMasterOption of districtmasters; trackBy: trackById">{{ districtMasterOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_subDistrictMaster">Sub District Master</label>
                    <select class="form-control" id="field_subDistrictMaster" name="subDistrictMaster" formControlName="subDistrictMasterId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="subDistrictMasterOption.id" *ngFor="let subDistrictMasterOption of subdistrictmasters; trackBy: trackById">{{ subDistrictMasterOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_department">Department</label>
                    <select class="form-control" id="field_department" name="department" formControlName="departmentId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="departmentOption.id" *ngFor="let departmentOption of departments; trackBy: trackById">{{ departmentOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
