<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="organisationMaster">
            <h2><span>Organisation Master</span> {{ organisationMaster.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Organisation Name</span></dt>
                <dd>
                    <span>{{ organisationMaster.organisationName }}</span>
                </dd>
                <dt><span>Organisation Abbreviation</span></dt>
                <dd>
                    <span>{{ organisationMaster.organisationAbbreviation }}</span>
                </dd>
                <dt><span>Organisation Correspondence Email</span></dt>
                <dd>
                    <span>{{ organisationMaster.organisationCorrespondenceEmail }}</span>
                </dd>
                <dt><span>Organisation Correspondence Phone 1</span></dt>
                <dd>
                    <span>{{ organisationMaster.organisationCorrespondencePhone1 }}</span>
                </dd>
                <dt><span>Organisation Correspondence Phone 2</span></dt>
                <dd>
                    <span>{{ organisationMaster.organisationCorrespondencePhone2 }}</span>
                </dd>
                <dt><span>Organisation Correspondence Address</span></dt>
                <dd>
                    <span>{{ organisationMaster.organisationCorrespondenceAddress }}</span>
                </dd>
                <dt><span>Organisation Website</span></dt>
                <dd>
                    <span>{{ organisationMaster.organisationWebsite }}</span>
                </dd>
                <dt><span>Organisation Nodal Officer Name</span></dt>
                <dd>
                    <span>{{ organisationMaster.organisationNodalOfficerName }}</span>
                </dd>
                <dt><span>Organisation Nodal Officer Phone Mobile</span></dt>
                <dd>
                    <span>{{ organisationMaster.organisationNodalOfficerPhoneMobile }}</span>
                </dd>
                <dt><span>Organisation Nodal Officer Phone Landline</span></dt>
                <dd>
                    <span>{{ organisationMaster.organisationNodalOfficerPhoneLandline }}</span>
                </dd>
                <dt><span>Nodal Officer Official Email</span></dt>
                <dd>
                    <span>{{ organisationMaster.nodalOfficerOfficialEmail }}</span>
                </dd>
                <dt><span>Organisation Nodal Officer Alternative Email</span></dt>
                <dd>
                    <span>{{ organisationMaster.organisationNodalOfficerAlternativeEmail }}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{ organisationMaster.createdBy }}</span>
                </dd>
                <dt><span>Created On</span></dt>
                <dd>
                    <span>{{ organisationMaster.createdOn }}</span>
                </dd>
                <dt><span>Last Updated By</span></dt>
                <dd>
                    <span>{{ organisationMaster.lastUpdatedBy }}</span>
                </dd>
                <dt><span>Last Updated On</span></dt>
                <dd>
                    <span>{{ organisationMaster.lastUpdatedOn }}</span>
                </dd>
                <dt><span>Verified By</span></dt>
                <dd>
                    <span>{{ organisationMaster.verifiedBy }}</span>
                </dd>
                <dt><span>Verified On</span></dt>
                <dd>
                    <span>{{ organisationMaster.verifiedOn }}</span>
                </dd>
                <dt><span>Remarks</span></dt>
                <dd>
                    <span>{{ organisationMaster.remarks }}</span>
                </dd>
                <dt><span>User Id</span></dt>
                <dd>
                    <span>{{ organisationMaster.userId }}</span>
                </dd>
                <dt><span>Stage</span></dt>
                <dd>
                    <span>{{ organisationMaster.stage }}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{ organisationMaster.status }}</span>
                </dd>
                <dt><span>Organisation Id Code</span></dt>
                <dd>
                    <span>{{ organisationMaster.organisationIdCode }}</span>
                </dd>
                <dt><span>Organisation Employee Id</span></dt>
                <dd>
                    <span>{{ organisationMaster.organisationEmployeeId }}</span>
                </dd>
                <dt><span>Date Of Birth</span></dt>
                <dd>
                    <span>{{ organisationMaster.dateOfBirth }}</span>
                </dd>
                <dt><span>Gender</span></dt>
                <dd>
                    <span>{{ organisationMaster.gender }}</span>
                </dd>
                <dt><span>Pan</span></dt>
                <dd>
                    <span>{{ organisationMaster.pan }}</span>
                </dd>
                <dt><span>Aadhaar</span></dt>
                <dd>
                    <span>{{ organisationMaster.aadhaar }}</span>
                </dd>
                <dt><span>Orgnisation Empolyee Card Attchment</span></dt>
                <dd>
                    <span>{{ organisationMaster.orgnisationEmpolyeeCardAttchment }}</span>
                </dd>
                <dt><span>Pan Attachment</span></dt>
                <dd>
                    <span>{{ organisationMaster.panAttachment }}</span>
                </dd>
                <dt><span>Photograph Attachment</span></dt>
                <dd>
                    <span>{{ organisationMaster.photographAttachment }}</span>
                </dd>
                <dt><span>Aadhaar Attachment</span></dt>
                <dd>
                    <span>{{ organisationMaster.aadhaarAttachment }}</span>
                </dd>
                <dt><span>Pin Code</span></dt>
                <dd>
                    <span>{{ organisationMaster.pinCode }}</span>
                </dd>
                <dt><span>Organisation Type Master</span></dt>
                <dd>
                    <div *ngIf="organisationMaster.organisationTypeMasterId">
                        <a [routerLink]="['/organisation-type-master', organisationMaster.organisationTypeMasterId, 'view']">{{ organisationMaster.organisationTypeMasterId }}</a>
                    </div>
                </dd>
                <dt><span>State Master</span></dt>
                <dd>
                    <div *ngIf="organisationMaster.stateMasterId">
                        <a [routerLink]="['/state-master', organisationMaster.stateMasterId, 'view']">{{ organisationMaster.stateMasterId }}</a>
                    </div>
                </dd>
                <dt><span>District Master</span></dt>
                <dd>
                    <div *ngIf="organisationMaster.districtMasterId">
                        <a [routerLink]="['/district-master', organisationMaster.districtMasterId, 'view']">{{ organisationMaster.districtMasterId }}</a>
                    </div>
                </dd>
                <dt><span>Sub District Master</span></dt>
                <dd>
                    <div *ngIf="organisationMaster.subDistrictMasterId">
                        <a [routerLink]="['/sub-district-master', organisationMaster.subDistrictMasterId, 'view']">{{ organisationMaster.subDistrictMasterId }}</a>
                    </div>
                </dd>
                <dt><span>Department</span></dt>
                <dd>
                    <div *ngIf="organisationMaster.departmentId">
                        <a [routerLink]="['/department', organisationMaster.departmentId, 'view']">{{ organisationMaster.departmentId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/organisation-master', organisationMaster.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
