<br>
<br>
<br>

<div class="alert alert-warning" role="alert"><h4>
    {{userErrorMessage}}</h4>
</div>
<br>
<br>



<!--<div class="row justify-content-center" *ngIf="this.hideForm">-->
    <!--<div class="col-8">-->
        <!--<form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">-->
            <!--<h2 id="jhi-external-user-esign-request-heading">Create External User Esign Request</h2>-->
            <!--<br>-->

            <!--<div>-->

            <!--<div class="row">-->
                <!--<div class="form-group col-6">-->
                    <!--<label class="form-control-label" for="field_userCodeId">User Code Id</label>-->
                    <!--<input type="text" class="form-control" name="userCodeId" id="field_userCodeId"-->
                           <!--formControlName="userCodeId"/>-->
                <!--</div>-->

                <!--<div class="form-group col-6">-->
                    <!--<label class="form-control-label" for="field_applicationIdCode">Application Id Code</label>-->
                    <!--<input type="text" class="form-control" name="applicationIdCode" id="field_applicationIdCode"-->
                           <!--formControlName="applicationIdCode"/>-->
                <!--</div>-->
                <!--<div class="form-group col-6">-->
                    <!--<label class="form-control-label" for="field_responseUrl">Response Url</label>-->
                    <!--<input type="text" class="form-control" name="responseUrl" id="field_responseUrl1"-->
                           <!--formControlName="responseUrl"/>-->
                <!--</div>-->

                <!--<div class="form-group col-6">-->
                    <!--<label class="form-control-label" for="field_redirectUrl">Redirect Url</label>-->
                    <!--<input type="text" class="form-control" name="redirectUrl" id="field_redirectUrl2"-->
                           <!--formControlName="redirectUrl"/>-->
                <!--</div>-->

                <!--<div class="form-group col-6">-->
                    <!--<label class="form-control-label" for="field_signerId">Signer Id</label>-->
                    <!--<input type="text" class="form-control" name="signerId" id="field_signerId3"-->
                           <!--formControlName="signerId"/>-->
                <!--</div>-->

                <!--<div class="form-group col-6">-->
                    <!--<label class="form-control-label" for="field_docInfo">Doc Info</label>-->
                    <!--<input type="text" class="form-control" name="docInfo" id="field_docInfo4"-->
                           <!--formControlName="docInfo"/>-->
                <!--</div>-->

                <!--<div class="form-group col-6">-->
                    <!--<label class="form-control-label" for="field_docUrl">Doc Url</label>-->
                    <!--<input type="text" class="form-control" name="docUrl" id="field_docUrl"-->
                           <!--formControlName="docUrl"/>-->
                <!--</div>-->


                <!--&lt;!&ndash;<div class="form-group col-6">&ndash;&gt;-->
                    <!--&lt;!&ndash;<label class="form-control-label" for="field_responseUrll">Select File</label>&ndash;&gt;-->
                    <!--&lt;!&ndash;<input type="file" class="form-control" name="userfile" id="field_responseUrll"&ndash;&gt;-->
                           <!--&lt;!&ndash;formControlName="responseUrl"/>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
             <!--</div>-->
            <!--</div>-->

            <!--<div>-->
                <!--<button type="button" id="cancel-save" class="btn btn-secondary">-->
                    <!--<fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>-->
                <!--</button>-->

                <!--<button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">-->
                    <!--<fa-icon icon="save"></fa-icon>&nbsp;<span>Sign</span>-->
                <!--</button>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="row justify-content-center" *ngIf="this.show" >-->
    <!--<div class="col-10" style="padding: 10px">-->
        <!--<div class="card">-->
            <!--<div class="card-header">-->
                <!--<h3 id="jhi-organisation-master-heading"><b>Esign Final Form Request</b></h3>-->
                <!--<h4>Hello Mr/Mrs {{userDetails.username}}</h4>-->
                <!--<span data-toggle="modal" data-target="#accept" >You are signing <a href="{{docUrl}}">this</a> pdf</span>-->
            <!--</div>-->
            <!--<div class="card-body">-->
                <!--<form ngNoForm method="post" role="form" novalidate action="https://dsp.csccloud.in/esignauth/sign" accept-charset="utf-8"   #editForm>-->
                    <!--<div class="row">-->
                        <!--<div class="form-group col-6">-->
                            <!--<label class="form-control-label" for="field_asp_ip">ASP IP</label>-->
                            <!--<input type="text" class="form-control"  [ngModel]="aspIpp" name="asp_ip" id="field_asp_ip"/>-->
                        <!--</div>-->
                        <!--<div class="form-group col-6">-->
                            <!--<label class="form-control-label" for="field_aspid">ASP ID</label>-->
                            <!--<input type="text" class="form-control" [ngModel]="aspIdd"  name="asp_id" id="field_aspid"/>-->
                        <!--</div>-->
                        <!--<div class="form-group col-6">-->
                            <!--<label class="form-control-label" for="field_txnref">TXN Refferance</label>-->
                            <!--<input type="text" class="form-control" [ngModel]="txnReff"  name="txnref" id="field_txnref"/>-->
                        <!--</div>-->
                        <!--<div class="form-group col-6">-->
                            <!--<label class="form-control-label" for="field_req_data">Request Data</label>-->
                            <!--<input type="text" class="form-control" [ngModel]="reqDataa" name="req_data" id="field_req_data"/>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div>-->

                        <!--<button type="submit" name="submit">-->
                            <!--<span>Proceed to Esing Request</span>-->
                        <!--</button>-->

                    <!--</div>-->
                <!--</form>-->
                <!--<ng-template #content let-modal style="width: 90vw; height: 100%;">-->
                    <!--<div class="modal-header">-->
                        <!--<h4 class="modal-title" id="modal-basic-title">Attachment</h4>-->
                        <!--<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">-->
                            <!--<span aria-hidden="true">&times;</span>-->
                        <!--</button>-->
                    <!--</div>-->
                    <!--<div class="modal-body">-->

                    <!--</div>-->
                <!--</ng-template>-->


                <!--<div class="modal fade" id="accept" tabindex="-1" role="dialog" aria-labelledby="accept"-->
                     <!--aria-hidden="true">-->
                    <!--<div class="modal-dialog" role="document">-->
                        <!--<div class="modal-content">-->

                            <!--<div class="modal-body">-->
                                <!--<span>{{docUrl}}</span>-->
                                <!--<iframe [src]='docUrl' allowfullscreen frameborder="1" style="display: block;height: 60vh; width: 100%;"></iframe><br><br>-->
                            <!--</div>-->
                            <!--<div class="modal-footer">-->
                                <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->


            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


