<div class="card" *ngIf="userAppData?.length>0">
    <div class="card-header">
        <h3 id="jhi-user-master-heading"><b>You had been assign for Following Appication</b></h3>
        <!--<h3 class="text-success" *ngIf="status === 'Approved'"><b>Organisation List</b></h3>-->
        <!--<h3 class="text-danger" *ngIf="status === 'Rejected'"><b>Organisation List</b></h3>-->
        <!--<button style="float: right; margin-top: -30px" type="submit"-->
                <!--[routerLink]="['/application-dashboard']"-->
                <!--class="btn btn-info btn-sm">-->
            <!--<span class="d-none d-md-inline"><h6>Add New</h6></span>-->
        <!--</button>-->
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped" aria-describedby="page-heading">
                <thead>
                <tr>
                    <th scope="col"><span>Application Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th scope="col"><span>Application Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th scope="col"><span>Assign By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th scope="col"><span>Assign On</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let userApplication of userAppData;">
                    <td>{{userApplication.applicationName}}</td>
                    <td>{{userApplication.createdBy}}</td>
                    <td>{{userApplication.createdBy}}</td>
                    <td>{{userApplication.createdOn}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
