<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-application-logs-heading">Create or edit a Application Logs</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_actionTaken">Action Taken</label>
                    <input type="text" class="form-control" name="actionTaken" id="field_actionTaken"
                           formControlName="actionTaken"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_actionTakenBy">Action Taken By</label>
                    <input type="text" class="form-control" name="actionTakenBy" id="field_actionTakenBy"
                           formControlName="actionTakenBy"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_actionTakenOnApplication">Action Taken On Application</label>
                    <input type="number" class="form-control" name="actionTakenOnApplication" id="field_actionTakenOnApplication"
                           formControlName="actionTakenOnApplication"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_actionTakenOnDate">Action Taken On Date</label>
                    <div class="input-group">
                        <input id="field_actionTakenOnDate" type="text" class="form-control" name="actionTakenOnDate" ngbDatepicker  #actionTakenOnDateDp="ngbDatepicker" formControlName="actionTakenOnDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="actionTakenOnDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_remarks">Remarks</label>
                    <input type="text" class="form-control" name="remarks" id="field_remarks"
                           formControlName="remarks"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
