<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="applicationLogs">
            <h2><span>Application Logs</span> {{applicationLogs.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Action Taken</span></dt>
                <dd>
                    <span>{{applicationLogs.actionTaken}}</span>
                </dd>
                <dt><span>Action Taken By</span></dt>
                <dd>
                    <span>{{applicationLogs.actionTakenBy}}</span>
                </dd>
                <dt><span>Action Taken On Application</span></dt>
                <dd>
                    <span>{{applicationLogs.actionTakenOnApplication}}</span>
                </dd>
                <dt><span>Action Taken On Date</span></dt>
                <dd>
                    <span>{{applicationLogs.actionTakenOnDate}}</span>
                </dd>
                <dt><span>Remarks</span></dt>
                <dd>
                    <span>{{applicationLogs.remarks}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/application-logs', applicationLogs.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
