
<br>
<div class="row justify-content-center">
    <div class="col-10" style="padding: 10px">
        <div class="card">
            <div class="card-header">
                <h3 id="jhi-organisation-master-heading"><b>Esign Form Request</b></h3>
            </div>
            <div class="card-body">
                <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                    <div class="row">
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_signerId">Signer Id</label>
                            <input type="text" class="form-control"   name="signerid" id="field_signerId"
                                   formControlName="signerid"/>
                        </div>
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_responseURL">Response URL</label>
                            <input type="text" class="form-control"   name="responseUrl" id="field_responseURL"
                                   formControlName="responseUrl"/>
                        </div>
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_redirectURL">Redirect URL</label>
                            <input type="text" class="form-control"  name="redirectUrl" id="field_redirectURL"
                                   formControlName="redirectUrl"/>
                        </div>
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_docInfo">Document Information</label>
                            <input type="text" class="form-control"  name="docInfo" id="field_docInfo"
                                   formControlName="docInfo"/>
                        </div>
                    </div>
                    <div>

                        <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                        </button>


                        <button type="submit" id="save-entity1" [routerLink]="['/esign-final-form-request', this.eSignFormRequest.aspid, this.eSignFormRequest.asp_ip, this.eSignFormRequest.txnref, this.eSignFormRequest.req_data]"  *ngIf="this.eSignFormRequest!=''"  class="btn btn-primary">
                            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Esing Request</span>
                        </button>



                    </div>
                </form>
            </div>
    </div>
</div>

<!--<br>-->
<!--<div class="row justify-content-center">-->
    <!--<div class="col-10" style="padding: 10px">-->
        <!--<div class="card">-->
            <!--<div class="card-header">-->
                <!--<h3 id="jhi-organisation-master-heading"><b>Esign Form Request</b></h3>-->
            <!--</div>-->
            <!--<div class="card-body">-->
                <!--<form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">-->
                    <!--<div class="row">-->
                        <!--<div class="form-group col-6">-->
                            <!--<label class="form-control-label" for="field_signerId">Signer Id</label>-->
                            <!--<input type="text" class="form-control"  value="signer@username.csc" name="signerid" id="field_signerId"-->
                                   <!--formControlName="signerid"/>-->
                        <!--</div>-->
                        <!--<div class="form-group col-6">-->
                            <!--<label class="form-control-label" for="field_responseURL">Response URL</label>-->
                            <!--<input type="text" class="form-control" value="http://117.255.216.162:8097/esignResponse" name="responseUrl" id="field_responseURL"-->
                                   <!--formControlName="responseUrl"/>-->
                        <!--</div>-->
                        <!--<div class="form-group col-6">-->
                            <!--<label class="form-control-label" for="field_redirectURL">Redirect URL</label>-->
                            <!--<input type="text" class="form-control" value="http://117.255.216.162:8097/redirecturl" name="redirectUrl" id="field_redirectURL"-->
                                   <!--formControlName="redirectUrl"/>-->
                        <!--</div>-->
                        <!--<div class="form-group col-6">-->
                            <!--<label class="form-control-label" for="field_docInfo">Document Information</label>-->
                            <!--<input type="text" class="form-control" value="this is document information to be signed"  name="docInfo" id="field_docInfo"-->
                                   <!--formControlName="docInfo"/>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div>-->

                        <!--<button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">-->
                            <!--<fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>-->
                        <!--</button>-->

                        <!--<button type="submit" id="save-entity1" [routerLink]="['/esign-final-form-request', this.eSignFormRequest.aspid, this.eSignFormRequest.asp_ip, this.eSignFormRequest.txnref, this.eSignFormRequest.req_data, 'request' ]"  *ngIf="this.eSignFormRequest!=''"  class="btn btn-primary">-->
                            <!--<fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Esing Request</span>-->
                        <!--</button>-->



                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
    <!--</div>-->
<!--</div>-->





