<br>
<div class="row justify-content-center">
    <div class="col-10" style="padding: 10px">
        <div class="card">
            <div class="card-header">
                <h3 id="jhi-user-master-heading"><b>User Detail </b></h3>
            </div>
            <div class="card-body">
                <form name="editForm" role="form" novalidate [formGroup]="editForm">
                    <jhi-alert-error></jhi-alert-error>
                    <div class="row">
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_applicationMaster">Select Application</label>
                            <span *ngFor="let applicationMasterOption of applicationMasters">
                            <input class="form-control" type="checkbox"  name="applicationMaster" id="field_applicationMaster"
                                   formControlName="applicationMasterId" [checked]="isAssigned(applicationMasterOption.id)" (change)="checkApplication(applicationMasterOption.id, $event.target.checked)" />
                                {{applicationMasterOption.applicationName}}
                                </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_userFullName">Name<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="userFullName" id="field_userFullName"
                                   formControlName="userFullName"/>
                        </div>

                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_gender">Gender<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="gender" id="field_gender"
                                   formControlName="gender"/>
                        </div>

                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_userPhoneMobile">Mobile Number<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="userPhoneMobile" maxlength="10" id="field_userPhoneMobile"
                                   formControlName="userPhoneMobile"/>
                            <div *ngIf="editForm.get('userPhoneMobile').invalid && (editForm.get('userPhoneMobile').dirty || editForm.get('userPhoneMobile').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('userPhoneMobile').errors.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_userPhoneLandline">Landline Number</label>
                            <input type="text" class="form-control" name="userPhoneLandline" id="field_userPhoneLandline"
                                   formControlName="userPhoneLandline"/>
                        </div>
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_userOfficialEmail">Official Email<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="userOfficialEmail" id="field_userOfficialEmail"
                                   formControlName="userOfficialEmail"/>
                            <div *ngIf="editForm.get('userOfficialEmail').invalid && (editForm.get('userOfficialEmail').dirty || editForm.get('userOfficialEmail').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('userOfficialEmail').errors.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>

                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_userAlternativeEmail">Alternative Email</label>
                            <input type="text" class="form-control" name="userAlternativeEmail" id="field_userAlternativeEmail"
                                   formControlName="userAlternativeEmail"/>
                        </div>

                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_pan">Pan Number<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="pan" maxlength="10" id="field_pan"
                                   formControlName="pan" required="required"/>
                        </div>
                        <div class="form-group col-2">
                            <label class="form-control-label" for="field_aadhaar">Aadhaar Number</label>
                            <span></span>
                            <input type="text" class="form-control" placeholder="xxxx" value="xxxx"  name="aadhaar1" id="field_aadhaar1"
                                   formControlName="aadhaar" readonly/>
                        </div>
                        <div class="form-group col-2">
                            <label class="form-control-label" for="field_aadhaar"></label>

                            <input type="text" class="form-control" placeholder="xxxx"   value="xxxx" name="aadhaar2" id="field_aadhaar2"
                                   formControlName="aadhaar" readonly/>
                        </div>
                        <div class="form-group col-2">
                            <label class="form-control-label" for="field_aadhaar"></label>

                            <input type="text" class="form-control" placeholder="Enter Last 4 Digits" name="aadhaar" maxlength="4" id="field_aadhaar"
                                   formControlName="aadhaar" />
                        </div>

                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_designationMaster">Designation</label>
                            <select class="form-control" id="field_designationMaster" name="designationMaster" formControlName="designationMasterId">
                                <option [ngValue]="null"></option>
                                <option [ngValue]="designationMasterOption.id" *ngFor="let designationMasterOption of designationmasters">{{designationMasterOption.designationName}}</option>
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_dob">Dob</label>
                            <div class="input-group">
                                <input id="field_dob"  type="text" class="form-control" name="dob" ngbDatepicker  #dobDp="ngbDatepicker" formControlName="dob"/>
                                <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dobDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                            </div>
                        </div>

                        <!--<div class="form-group col-6">-->
                        <!--<label class="form-control-label" for="field_userLoginPassword">User Login Password</label>-->
                        <!--<input type="text" class="form-control" name="userLoginPassword" id="field_userLoginPassword"-->
                        <!--formControlName="userLoginPassword"/>-->
                        <!--</div>-->
                        <!--<div class="form-group col-6">-->
                        <!--<label class="form-control-label" for="field_userLoginPasswordSalt">User Login Password Salt</label>-->
                        <!--<input type="text" class="form-control" name="userLoginPasswordSalt" id="field_userLoginPasswordSalt"-->
                        <!--formControlName="userLoginPasswordSalt"/>-->
                        <!--</div>-->
                        <!--<div class="form-group col-6">-->
                        <!--<label class="form-control-label" for="field_userTransactionPassword">User Transaction Password</label>-->
                        <!--<input type="text" class="form-control" name="userTransactionPassword" id="field_userTransactionPassword"-->
                        <!--formControlName="userTransactionPassword"/>-->
                        <!--</div>-->
                        <!--<div class="form-group col-6">-->
                        <!--<label class="form-control-label" for="field_userTransactionPasswordSalt">User Transaction Password Salt</label>-->
                        <!--<input type="text" class="form-control" name="userTransactionPasswordSalt" id="field_userTransactionPasswordSalt"-->
                        <!--formControlName="userTransactionPasswordSalt"/>-->
                        <!--</div>-->

                        <div class="form-group col-12">
                            <label class="form-control-label" for="field_remarks">Remarks</label>
                            <textarea type="text" class="form-control" name="remarks" id="field_remarks"
                                      formControlName="remarks" rows="3" cols="3"></textarea>
                        </div>
                    </div>


                </form>
            </div>
        </div><br><br>

        <div class="card">
            <div class="card-header"><h3 id="jhi-organisation-master-heading2"><b>Attachments</b></h3></div>
            <div class="card-body">
                <form name="editForm" role="form" novalidate [formGroup]="editForm">
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-bordered">
                                <tr>
                                    <td>
                                        <label class="form-control">User Photograph<span class="text-danger">*</span> </label>
                                    </td>
                                    <td>
                                        <input type="file" class="form-control" name="photograph" id="field_photograph" formControlName="photograph">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="form-control">Pan Card Attachment</label>
                                    </td>
                                    <td>
                                        <input type="file" class="form-control" name="panAttachment" id="field_panAttachment" formControlName="panAttachment">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div><br>


        <div class="float-right">
            <button type="submit" (click)="save()" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-sm btn-primary">
                <span>Save</span>
            </button>
        </div>
    </div>
</div>
