<div class="container-fluid" *ngIf="userDetails?.length==0">
    <div class="">
        <router-outlet></router-outlet><jhi-user-detail-list _nghost-c4=""><br _ngcontent-c4="">
        <!----><div _ngcontent-c4="" class="row"> <div _ngcontent-c4="" class="col-sm-12">
            <div _ngcontent-c4="" class="float-right"> <h6 _ngcontent-c4="" class="text-primary"></h6>
            </div> </div> </div> <br _ngcontent-c4=""> <br _ngcontent-c4=""> <!----> <!---->
        <div _ngcontent-c4="" class="row">

            <div _ngcontent-c4="" class="col-sm-12">
                <h1 _ngcontent-c4="" class="text-center"><i _ngcontent-c4="" class="far fa-frown"></i>
                </h1>
                <h4 _ngcontent-c4="" class="text-center">Sorry! There is no record.<br _ngcontent-c4=""><br _ngcontent-c4="">
                    <div _ngcontent-c4="" class="">
                        <button _ngcontent-c4="" class="btn btn-primary" tabindex="0" [routerLink]="['/user']">
                            <span _ngcontent-c4=""> Create User </span>
                        </button> </div> </h4>
            </div>
        </div> </jhi-user-detail-list> <router-outlet name="popup"></router-outlet>
    </div>
</div>

<br><br>
<!--<div class="col-md-12" *ngIf="applicationMasters">-->
<!--<div class="row">-->
<!--<div class="col-md-4">-->
<!--<div class="card card-stats mb-4 mb-xl-0 shadow-lg btn-outline-amber" style=" height: 75px; width: 350px;cursor: pointer;" (click)="getRecordBystatus('Pending')">-->
<!--<div class="card-body">-->
<!--<div class="row">-->
<!--<div class="col">-->
<!--<h4 class="card-title text-uppercase text-muted mb-0" style="font-family:initial;margin-top: -4%;"><b>Pending</b>-->
<!--<h3 class="rounded-circle shadow fa-pull-right amber-text"><span class="font-weight-bold mb-1 pl-1">11</span></h3>-->
<!--</h4>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-4">-->
<!--<div class="card card-stats mb-4 mb-xl-0 shadow-lg btn-outline-success" style=" height: 75px; width: 350px;cursor: pointer;" (click)="getRecordBystatus('Approved')">-->
<!--<div class="card-body">-->
<!--<div class="row">-->
<!--<div class="col">-->
<!--<h4 class="card-title text-uppercase text-muted mb-0" style="font-family:initial;margin-top: -4%;"><b>Approved</b>-->
<!--<h3 class="rounded-circle shadow fa-pull-right text-success"><span class="font-weight-bold mb-1 pl-1"></span></h3>-->
<!--</h4>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-4">-->
<!--<div class="card card-stats mb-4 mb-xl-0 shadow-lg btn-outline-danger" style=" height: 75px; width: 350px;cursor: pointer;" (click)="getRecordBystatus('Rejected')">-->
<!--<div class="card-body">-->
<!--<div class="row">-->
<!--<div class="col">-->
<!--<h4 class="card-title text-uppercase text-muted mb-0" style="font-family:initial;margin-top: -4%;"><b>Rejected</b>-->
<!--<h3 class="rounded-circle shadow fa-pull-right text-danger"><span class="font-weight-bold mb-1 pl-1"></span></h3>-->
<!--</h4>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<br><br>-->
<div class="card" *ngIf="userDetails?.length>0">
    <div class="card-header">
        <h3 id="jhi-user-master-heading"><b>User List</b></h3>
        <!--<h3 class="text-success" *ngIf="status === 'Approved'"><b>Organisation List</b></h3>-->
        <!--<h3 class="text-danger" *ngIf="status === 'Rejected'"><b>Organisation List</b></h3>-->
        <button style="float: right; margin-top: -30px" type="submit"
                [routerLink]="['/organisation-dashboard']"
                class="btn btn-info btn-sm">
            <span class="d-none d-md-inline"><h6>Department Detail</h6></span>
        </button>
<!--        <button style="float: right; margin-top: -30px" type="submit"-->
<!--                [routerLink]="['/application-dashboard']"-->
<!--                class="btn btn-info btn-sm">-->
<!--            <span class="d-none d-md-inline"><h6>Application List</h6></span>-->
<!--        </button>-->
<!--        <button style="float: right; margin-top: -30px" type="submit"-->
<!--                [routerLink]="['/application-dashboard']"-->
<!--                class="btn btn-info btn-sm">-->
<!--            <span class="d-none d-md-inline"><h6>Add New</h6></span>-->
<!--        </button>-->
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped" aria-describedby="page-heading">
                <thead>
                <tr>
                    <th scope="col" ><span>S. ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <!--<th scope="col" ><span>Organisation Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
                    <th scope="col"><span>Organisation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th scope="col"><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th scope="col"><span>Mobile</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th scope="col"><span>Pan Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th scope="col"><span>Official Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th scope="col"><span>Designation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th scope="col"><span>Status</span></th>
                    <!--<th scope="col">-->
                        <!--<button type="submit"-->
                                <!--class="btn btn-info btn-sm" data-toggle="modal" (click)="approveAllPopup(userDetails)" data-target="#approveall">-->
                            <!--<span class="d-none d-md-inline">Verify All</span>-->
                        <!--</button>-->
                    <!--</th>-->
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let userDetail of userDetails;">
                    <td><a  [routerLink]="['/view-user', userDetail.id, 'view' ]"> {{userDetail.userIdCode}}</a></td>
                    <!--<td>{{applicationMaster.organisationMasterId}}</td>-->
                    <td>{{loadOrganisationMasters?.organisationName}}</td>
                    <td>{{userDetail.userFullName}}</td>
                    <td>{{userDetail.userPhoneMobile}}</td>
                    <td>{{userDetail.pan}}</td>
                    <td>{{userDetail.userOfficialEmail}}</td>
                    <td >{{userDetail.designationName}}</td>
                    <td>{{userDetail.status}}</td>


                    <td class="text-right">
                        <div class="btn-group">
                            <!--<button type="submit"-->
                                    <!--[routerLink]="['/view-user', userDetail.id, 'view' ]"-->
                                    <!--class="btn btn-info btn-sm">-->
                                <!--<span class="d-none d-md-inline">View</span>-->
                            <!--</button>-->
                            <button type="submit"  [routerLink]="['/user', userDetail.id, 'edit' ]"
                                    class="btn btn-info btn-sm" data-toggle="modal"  *ngIf="userDetail.status=='Pending'">
                                <span class="d-none d-md-inline">Edit</span>
                            </button>
                            <button type="submit"
                                    class="btn btn-info btn-sm" data-toggle="modal" (click)="approvePopup(userDetail)" data-target="#accept" *ngIf="userDetail.status=='Pending'">
                                <span class="d-none d-md-inline">Approve</span>
                            </button>
                            <button type="submit"
                                    class="btn btn-info btn-sm" data-toggle="modal" (click)="rejectPopup(userDetail)" data-target="#reject" *ngIf="userDetail.status=='Pending'">
                                <span class="d-none d-md-inline">Reject</span>
                            </button>
                            <button type="submit"
                                    class="btn btn-info btn-sm" data-toggle="modal" (click)="updateSigner(userDetail)" *ngIf="userDetail.status=='Verified'">
                                <span class="d-none d-md-inline">Update</span>
                            </button>
                            <button type="submit"
                                    class="btn btn-info btn-sm" data-toggle="modal" (click)="signerStatus(userDetail)" *ngIf="userDetail.status=='Verified'">
                                <span class="d-none d-md-inline">Check Status</span>
                            </button>
                            <button type="submit"
                                    class="btn btn-info btn-sm" data-toggle="modal" (click)="accountPopup(userDetail)" data-target="#account" *ngIf="userDetail.status=='Verified'">
                                <span class="d-none d-md-inline">Account</span>
                            </button>
                        </div>
                    </td>
                    <!--<td class="text-right">-->
                    <!--<div class="btn-group">-->
                    <!--<button type="submit"-->
                    <!--class="btn btn-info btn-sm" data-toggle="modal" (click)="getOrganisationId(organisationMaster)" data-target="#accept">-->
                    <!--<span class="d-none d-md-inline">Approve</span>-->
                    <!--</button>-->
                    <!--</div>-->
                    <!--</td>-->
                    <!--<td class="text-right">-->
                    <!--<div class="btn-group">-->
                    <!--<button type="submit"-->
                    <!--class="btn btn-info btn-sm" data-toggle="modal" (click)="rejectPopup(organisationMaster)" data-target="#reject">-->
                    <!--<span class="d-none d-md-inline">Reject</span>-->
                    <!--</button>-->
                    <!--</div>-->
                    <!--</td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!--Accept Confirmation Modal -->
<div class="modal fade" id="accept" tabindex="-1" role="dialog" aria-labelledby="accept"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Approve Confirmaton</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--<span>Date</span>-->
                <!--<input id="field_createdOn" type="text" class="form-control" [(ngModel)]="createdOn" name="createdOn" ngbDatepicker  #createdOnDp="ngbDatepicker" value="" formControlName="createdOn"/>-->
                <span>To Approve All Users Please remark</span>
                <textarea class="form-control" rows="3" cols="3" [(ngModel)]="remarks" value="" ></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="approveUser(userDetail)" >Approve</button>
            </div>
        </div>
    </div>
</div>


<!--Reject Confirmation Modal -->
<div class="modal fade" id="reject" tabindex="-1" role="dialog" aria-labelledby="reject"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Reject Confirmaton</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span>To Reject this User please remark</span>
                <textarea class="form-control" rows="3" cols="3"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="rejectUser(userDetail)">Reject</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="account" tabindex="-1" role="dialog" aria-labelledby="account"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Authorized Signatory</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--<span>Date</span>-->
                <!--<input id="field_createdOn" type="text" class="form-control" [(ngModel)]="createdOn" name="createdOn" ngbDatepicker  #createdOnDp="ngbDatepicker" value="" formControlName="createdOn"/>-->
<!--                <span>Action to be taken for the Signer</span>-->
<!--                <textarea class="form-control" rows="3" cols="3" [(ngModel)]="remarks" value="" ></textarea>-->
                <div class="form-group">
                    <label class="form-control-label" for="field_accountStatus">Take Action</label>
                    <select class="form-control" id="field_accountStatus" name="accountStatus"
                            [(ngModel)]="accountStatus">
                        <option [ngValue]="null" [disabled]>--Select Action--</option>
                        <option value="D">D</option>
                        <option value="A">A</option>
                        <option value="S">S</option>
                        <option value="R">R</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label">Remarks</label>
                    <div class="input-group">
                        <textarea class="form-control" rows="3" cols="3" [(ngModel)]="remarks" value="" ></textarea>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="saveAccountAction(userDetail, accountStatus)">Submit</button>
            </div>
        </div>
    </div>
</div>

<!--Reject Confirmation Modal -->
<!--<div class="modal fade" id="approveall" tabindex="-1" role="dialog" aria-labelledby="approveall"-->
<!--     aria-hidden="true">-->
<!--    <div class="modal-dialog" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="exampleModalLabel2">Approve Confirmaton</h5>-->
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <span>To Arrove this User please remark</span>-->
<!--                <textarea class="form-control" rows="3" cols="3"></textarea>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                <button type="button" class="btn btn-primary" (click)="approveAllUser(userDetail)">Approve All</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->





