<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="stateMaster">
            <h2><span>State Master</span> {{stateMaster.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>State Code</span></dt>
                <dd>
                    <span>{{stateMaster.stateCode}}</span>
                </dd>
                <dt><span>State Name</span></dt>
                <dd>
                    <span>{{stateMaster.stateName}}</span>
                </dd>
                <dt><span>Created On</span></dt>
                <dd>
                    <span>{{stateMaster.createdOn}}</span>
                </dd>
                <dt><span>Last Updated On</span></dt>
                <dd>
                    <span>{{stateMaster.lastUpdatedOn}}</span>
                </dd>
                <dt><span>Last Updated By</span></dt>
                <dd>
                    <span>{{stateMaster.lastUpdatedBy}}</span>
                </dd>
                <dt><span>Verified By</span></dt>
                <dd>
                    <span>{{stateMaster.verifiedBy}}</span>
                </dd>
                <dt><span>Verified On</span></dt>
                <dd>
                    <span>{{stateMaster.verifiedOn}}</span>
                </dd>
                <dt><span>Remarks</span></dt>
                <dd>
                    <span>{{stateMaster.remarks}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/state-master', stateMaster.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
