<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-state-master-heading">Create or edit a State Master</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_stateCode">State Code</label>
                    <input type="text" class="form-control" name="stateCode" id="field_stateCode"
                           formControlName="stateCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_stateName">State Name</label>
                    <input type="text" class="form-control" name="stateName" id="field_stateName"
                           formControlName="stateName"/>
                    <div *ngIf="editForm.get('stateName').invalid && (editForm.get('stateName').dirty || editForm.get('stateName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('stateName').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" for="field_createdOn">Created On</label>-->
<!--                    <div class="input-group">-->
<!--                        <input id="field_createdOn" type="text" class="form-control" name="createdOn" ngbDatepicker  #createdOnDp="ngbDatepicker" formControlName="createdOn"/>-->
<!--                        <span class="input-group-append">-->
<!--                            <button type="button" class="btn btn-secondary" (click)="createdOnDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>-->
<!--                        </span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" for="field_lastUpdatedOn">Last Updated On</label>-->
<!--                    <div class="input-group">-->
<!--                        <input id="field_lastUpdatedOn" type="text" class="form-control" name="lastUpdatedOn" ngbDatepicker  #lastUpdatedOnDp="ngbDatepicker" formControlName="lastUpdatedOn"/>-->
<!--                        <span class="input-group-append">-->
<!--                            <button type="button" class="btn btn-secondary" (click)="lastUpdatedOnDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>-->
<!--                        </span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" for="field_lastUpdatedBy">Last Updated By</label>-->
<!--                    <input type="text" class="form-control" name="lastUpdatedBy" id="field_lastUpdatedBy"-->
<!--                           formControlName="lastUpdatedBy"/>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" for="field_verifiedBy">Verified By</label>-->
<!--                    <input type="text" class="form-control" name="verifiedBy" id="field_verifiedBy"-->
<!--                           formControlName="verifiedBy"/>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" for="field_verifiedOn">Verified On</label>-->
<!--                    <div class="input-group">-->
<!--                        <input id="field_verifiedOn" type="text" class="form-control" name="verifiedOn" ngbDatepicker  #verifiedOnDp="ngbDatepicker" formControlName="verifiedOn"/>-->
<!--                        <span class="input-group-append">-->
<!--                            <button type="button" class="btn btn-secondary" (click)="verifiedOnDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>-->
<!--                        </span>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="form-group">
                    <label class="form-control-label" for="field_remarks">Remarks</label>
                    <input type="text" class="form-control" name="remarks" id="field_remarks"
                           formControlName="remarks"/>
                    <div *ngIf="editForm.get('remarks').invalid && (editForm.get('remarks').dirty || editForm.get('remarks').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('remarks').errors.minlength">
                        This field is required to be at least 0 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('remarks').errors.maxlength">
                        This field cannot be longer than 300 characters.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
