<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-user-details-heading">Create or edit a User Details</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_userFullName">User Full Name</label>
                    <input type="text" class="form-control" name="userFullName" id="field_userFullName"
                           formControlName="userFullName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_userPhoneMobile">User Phone Mobile</label>
                    <input type="text" class="form-control" name="userPhoneMobile" id="field_userPhoneMobile"
                           formControlName="userPhoneMobile"/>
                    <div *ngIf="editForm.get('userPhoneMobile')!.invalid && (editForm.get('userPhoneMobile')!.dirty || editForm.get('userPhoneMobile')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('userPhoneMobile')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_userPhoneLandline">User Phone Landline</label>
                    <input type="text" class="form-control" name="userPhoneLandline" id="field_userPhoneLandline"
                           formControlName="userPhoneLandline"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_userOfficialEmail">User Official Email</label>
                    <input type="text" class="form-control" name="userOfficialEmail" id="field_userOfficialEmail"
                           formControlName="userOfficialEmail"/>
                    <div *ngIf="editForm.get('userOfficialEmail')!.invalid && (editForm.get('userOfficialEmail')!.dirty || editForm.get('userOfficialEmail')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('userOfficialEmail')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_userAlternativeEmail">User Alternative Email</label>
                    <input type="text" class="form-control" name="userAlternativeEmail" id="field_userAlternativeEmail"
                           formControlName="userAlternativeEmail"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_userLoginPassword">User Login Password</label>
                    <input type="text" class="form-control" name="userLoginPassword" id="field_userLoginPassword"
                           formControlName="userLoginPassword"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_userLoginPasswordSalt">User Login Password Salt</label>
                    <input type="text" class="form-control" name="userLoginPasswordSalt" id="field_userLoginPasswordSalt"
                           formControlName="userLoginPasswordSalt"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_userTransactionPassword">User Transaction Password</label>
                    <input type="text" class="form-control" name="userTransactionPassword" id="field_userTransactionPassword"
                           formControlName="userTransactionPassword"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_userTransactionPasswordSalt">User Transaction Password Salt</label>
                    <input type="text" class="form-control" name="userTransactionPasswordSalt" id="field_userTransactionPasswordSalt"
                           formControlName="userTransactionPasswordSalt"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_createdOn">Created On</label>
                    <div class="input-group">
                        <input id="field_createdOn" type="text" class="form-control" name="createdOn" ngbDatepicker #createdOnDp="ngbDatepicker" formControlName="createdOn"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="createdOnDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_lastUpdatedBy">Last Updated By</label>
                    <input type="text" class="form-control" name="lastUpdatedBy" id="field_lastUpdatedBy"
                           formControlName="lastUpdatedBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_lastUpdatedOn">Last Updated On</label>
                    <div class="input-group">
                        <input id="field_lastUpdatedOn" type="text" class="form-control" name="lastUpdatedOn" ngbDatepicker #lastUpdatedOnDp="ngbDatepicker" formControlName="lastUpdatedOn"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="lastUpdatedOnDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_verifiedBy">Verified By</label>
                    <input type="text" class="form-control" name="verifiedBy" id="field_verifiedBy"
                           formControlName="verifiedBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_verifiedOn">Verified On</label>
                    <div class="input-group">
                        <input id="field_verifiedOn" type="text" class="form-control" name="verifiedOn" ngbDatepicker #verifiedOnDp="ngbDatepicker" formControlName="verifiedOn"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="verifiedOnDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_remarks">Remarks</label>
                    <input type="text" class="form-control" name="remarks" id="field_remarks"
                           formControlName="remarks"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_userIdCode">User Id Code</label>
                    <input type="text" class="form-control" name="userIdCode" id="field_userIdCode"
                           formControlName="userIdCode"/>
                    <div *ngIf="editForm.get('userIdCode')!.invalid && (editForm.get('userIdCode')!.dirty || editForm.get('userIdCode')!.touched)">
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                           formControlName="status"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_username">Username</label>
                    <input type="text" class="form-control" name="username" id="field_username"
                           formControlName="username"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_userPIN">User PIN</label>
                    <input type="text" class="form-control" name="userPIN" id="field_userPIN"
                           formControlName="userPIN"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_organisationUnit">Organisation Unit</label>
                    <input type="text" class="form-control" name="organisationUnit" id="field_organisationUnit"
                           formControlName="organisationUnit"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                           formControlName="address"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_counrty">Counrty</label>
                    <input type="text" class="form-control" name="counrty" id="field_counrty"
                           formControlName="counrty"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_postalCode">Postal Code</label>
                    <input type="text" class="form-control" name="postalCode" id="field_postalCode"
                           formControlName="postalCode"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_photograph">Photograph</label>
                    <input type="text" class="form-control" name="photograph" id="field_photograph"
                           formControlName="photograph"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_dob">Dob</label>
                    <div class="input-group">
                        <input id="field_dob" type="text" class="form-control" name="dob" ngbDatepicker #dobDp="ngbDatepicker" formControlName="dob"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dobDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_gender">Gender</label>
                    <input type="text" class="form-control" name="gender" id="field_gender"
                           formControlName="gender"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_pan">Pan</label>
                    <input type="text" class="form-control" name="pan" id="field_pan"
                           formControlName="pan"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_aadhaar">Aadhaar</label>
                    <input type="text" class="form-control" name="aadhaar" id="field_aadhaar"
                           formControlName="aadhaar"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_panAttachment">Pan Attachment</label>
                    <input type="text" class="form-control" name="panAttachment" id="field_panAttachment"
                           formControlName="panAttachment"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_employeeId">Employee Id</label>
                    <input type="text" class="form-control" name="employeeId" id="field_employeeId"
                           formControlName="employeeId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_employeeCardAttachment">Employee Card Attachment</label>
                    <input type="text" class="form-control" name="employeeCardAttachment" id="field_employeeCardAttachment"
                           formControlName="employeeCardAttachment"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_signerId">Signer Id</label>
                    <input type="text" class="form-control" name="signerId" id="field_signerId"
                           formControlName="signerId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_lastAction">Last Action</label>
                    <input type="text" class="form-control" name="lastAction" id="field_lastAction"
                           formControlName="lastAction"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_accountStatus">Account Status</label>
                    <input type="text" class="form-control" name="accountStatus" id="field_accountStatus"
                           formControlName="accountStatus"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_designationMaster">Designation Master</label>
                    <select class="form-control" id="field_designationMaster" name="designationMaster" formControlName="designationMasterId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="designationMasterOption.id" *ngFor="let designationMasterOption of designationmasters; trackBy: trackById">{{ designationMasterOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_organisationMaster">Organisation Master</label>
                    <select class="form-control" id="field_organisationMaster" name="organisationMaster" formControlName="organisationMasterId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="organisationMasterOption.id" *ngFor="let organisationMasterOption of organisationmasters; trackBy: trackById">{{ organisationMasterOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_esignRole">Esign Role</label>
                    <select class="form-control" id="field_esignRole" name="esignRole" formControlName="esignRoleId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="esignRoleOption.id" *ngFor="let esignRoleOption of esignroles; trackBy: trackById">{{ esignRoleOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_applicationMaster">Application Master</label>
                    <select class="form-control" id="field_applicationMaster" name="applicationMaster" formControlName="applicationMasterId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="applicationMasterOption.id" *ngFor="let applicationMasterOption of applicationmasters; trackBy: trackById">{{ applicationMasterOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
