<div>
    <h2 id="page-heading">
        <span>User Details</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-details" [routerLink]="['/user-details/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down">
            Create a new User Details
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="userDetails?.length === 0">
        <span>No userDetails found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="userDetails?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userFullName"><span>User Full Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userPhoneMobile"><span>User Phone Mobile</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userPhoneLandline"><span>User Phone Landline</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userOfficialEmail"><span>User Official Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userAlternativeEmail"><span>User Alternative Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userLoginPassword"><span>User Login Password</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userLoginPasswordSalt"><span>User Login Password Salt</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userTransactionPassword"><span>User Transaction Password</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userTransactionPasswordSalt"><span>User Transaction Password Salt</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdBy"><span>Created By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdOn"><span>Created On</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastUpdatedBy"><span>Last Updated By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastUpdatedOn"><span>Last Updated On</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="verifiedBy"><span>Verified By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="verifiedOn"><span>Verified On</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="remarks"><span>Remarks</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userIdCode"><span>User Id Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span>Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="username"><span>Username</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userPIN"><span>User PIN</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="organisationUnit"><span>Organisation Unit</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="address"><span>Address</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="counrty"><span>Counrty</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="postalCode"><span>Postal Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="photograph"><span>Photograph</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dob"><span>Dob</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="gender"><span>Gender</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pan"><span>Pan</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="aadhaar"><span>Aadhaar</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="panAttachment"><span>Pan Attachment</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="employeeId"><span>Employee Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="employeeCardAttachment"><span>Employee Card Attachment</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="signerId"><span>Signer Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastAction"><span>Last Action</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="accountStatus"><span>Account Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="designationMasterId"><span>Designation Master</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="organisationMasterId"><span>Organisation Master</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="esignRoleId"><span>Esign Role</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="applicationMasterId"><span>Application Master</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let userDetails of userDetails ;trackBy: trackId">
                    <td><a [routerLink]="['/user-details', userDetails.id, 'view']">{{ userDetails.id }}</a></td>
                    <td>{{ userDetails.userFullName }}</td>
                    <td>{{ userDetails.userPhoneMobile }}</td>
                    <td>{{ userDetails.userPhoneLandline }}</td>
                    <td>{{ userDetails.userOfficialEmail }}</td>
                    <td>{{ userDetails.userAlternativeEmail }}</td>
                    <td>{{ userDetails.userLoginPassword }}</td>
                    <td>{{ userDetails.userLoginPasswordSalt }}</td>
                    <td>{{ userDetails.userTransactionPassword }}</td>
                    <td>{{ userDetails.userTransactionPasswordSalt }}</td>
                    <td>{{ userDetails.createdBy }}</td>
                    <td>{{ userDetails.createdOn | date:'mediumDate' }}</td>
                    <td>{{ userDetails.lastUpdatedBy }}</td>
                    <td>{{ userDetails.lastUpdatedOn | date:'mediumDate' }}</td>
                    <td>{{ userDetails.verifiedBy }}</td>
                    <td>{{ userDetails.verifiedOn | date:'mediumDate' }}</td>
                    <td>{{ userDetails.remarks }}</td>
                    <td>{{ userDetails.userIdCode }}</td>
                    <td>{{ userDetails.status }}</td>
                    <td>{{ userDetails.username }}</td>
                    <td>{{ userDetails.userPIN }}</td>
                    <td>{{ userDetails.organisationUnit }}</td>
                    <td>{{ userDetails.address }}</td>
                    <td>{{ userDetails.counrty }}</td>
                    <td>{{ userDetails.postalCode }}</td>
                    <td>{{ userDetails.photograph }}</td>
                    <td>{{ userDetails.dob | date:'mediumDate' }}</td>
                    <td>{{ userDetails.gender }}</td>
                    <td>{{ userDetails.pan }}</td>
                    <td>{{ userDetails.aadhaar }}</td>
                    <td>{{ userDetails.panAttachment }}</td>
                    <td>{{ userDetails.employeeId }}</td>
                    <td>{{ userDetails.employeeCardAttachment }}</td>
                    <td>{{ userDetails.signerId }}</td>
                    <td>{{ userDetails.lastAction }}</td>
                    <td>{{ userDetails.accountStatus }}</td>
                    <td>
                        <div *ngIf="userDetails.designationMasterId">
                            <a [routerLink]="['/designation-master', userDetails.designationMasterId , 'view']" >{{ userDetails.designationMasterId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="userDetails.organisationMasterId">
                            <a [routerLink]="['/organisation-master', userDetails.organisationMasterId , 'view']" >{{ userDetails.organisationMasterId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="userDetails.esignRoleId">
                            <a [routerLink]="['/esign-role', userDetails.esignRoleId , 'view']" >{{ userDetails.esignRoleId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="userDetails.applicationMasterId">
                            <a [routerLink]="['/application-master', userDetails.applicationMasterId , 'view']" >{{ userDetails.applicationMasterId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/user-details', userDetails.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/user-details', userDetails.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(userDetails)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="userDetails?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
