<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userDetails">
            <h2><span>User Details</span> {{ userDetails.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>User Full Name</span></dt>
                <dd>
                    <span>{{ userDetails.userFullName }}</span>
                </dd>
                <dt><span>User Phone Mobile</span></dt>
                <dd>
                    <span>{{ userDetails.userPhoneMobile }}</span>
                </dd>
                <dt><span>User Phone Landline</span></dt>
                <dd>
                    <span>{{ userDetails.userPhoneLandline }}</span>
                </dd>
                <dt><span>User Official Email</span></dt>
                <dd>
                    <span>{{ userDetails.userOfficialEmail }}</span>
                </dd>
                <dt><span>User Alternative Email</span></dt>
                <dd>
                    <span>{{ userDetails.userAlternativeEmail }}</span>
                </dd>
                <dt><span>User Login Password</span></dt>
                <dd>
                    <span>{{ userDetails.userLoginPassword }}</span>
                </dd>
                <dt><span>User Login Password Salt</span></dt>
                <dd>
                    <span>{{ userDetails.userLoginPasswordSalt }}</span>
                </dd>
                <dt><span>User Transaction Password</span></dt>
                <dd>
                    <span>{{ userDetails.userTransactionPassword }}</span>
                </dd>
                <dt><span>User Transaction Password Salt</span></dt>
                <dd>
                    <span>{{ userDetails.userTransactionPasswordSalt }}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{ userDetails.createdBy }}</span>
                </dd>
                <dt><span>Created On</span></dt>
                <dd>
                    <span>{{ userDetails.createdOn }}</span>
                </dd>
                <dt><span>Last Updated By</span></dt>
                <dd>
                    <span>{{ userDetails.lastUpdatedBy }}</span>
                </dd>
                <dt><span>Last Updated On</span></dt>
                <dd>
                    <span>{{ userDetails.lastUpdatedOn }}</span>
                </dd>
                <dt><span>Verified By</span></dt>
                <dd>
                    <span>{{ userDetails.verifiedBy }}</span>
                </dd>
                <dt><span>Verified On</span></dt>
                <dd>
                    <span>{{ userDetails.verifiedOn }}</span>
                </dd>
                <dt><span>Remarks</span></dt>
                <dd>
                    <span>{{ userDetails.remarks }}</span>
                </dd>
                <dt><span>User Id Code</span></dt>
                <dd>
                    <span>{{ userDetails.userIdCode }}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{ userDetails.status }}</span>
                </dd>
                <dt><span>Username</span></dt>
                <dd>
                    <span>{{ userDetails.username }}</span>
                </dd>
                <dt><span>User PIN</span></dt>
                <dd>
                    <span>{{ userDetails.userPIN }}</span>
                </dd>
                <dt><span>Organisation Unit</span></dt>
                <dd>
                    <span>{{ userDetails.organisationUnit }}</span>
                </dd>
                <dt><span>Address</span></dt>
                <dd>
                    <span>{{ userDetails.address }}</span>
                </dd>
                <dt><span>Counrty</span></dt>
                <dd>
                    <span>{{ userDetails.counrty }}</span>
                </dd>
                <dt><span>Postal Code</span></dt>
                <dd>
                    <span>{{ userDetails.postalCode }}</span>
                </dd>
                <dt><span>Photograph</span></dt>
                <dd>
                    <span>{{ userDetails.photograph }}</span>
                </dd>
                <dt><span>Dob</span></dt>
                <dd>
                    <span>{{ userDetails.dob }}</span>
                </dd>
                <dt><span>Gender</span></dt>
                <dd>
                    <span>{{ userDetails.gender }}</span>
                </dd>
                <dt><span>Pan</span></dt>
                <dd>
                    <span>{{ userDetails.pan }}</span>
                </dd>
                <dt><span>Aadhaar</span></dt>
                <dd>
                    <span>{{ userDetails.aadhaar }}</span>
                </dd>
                <dt><span>Pan Attachment</span></dt>
                <dd>
                    <span>{{ userDetails.panAttachment }}</span>
                </dd>
                <dt><span>Employee Id</span></dt>
                <dd>
                    <span>{{ userDetails.employeeId }}</span>
                </dd>
                <dt><span>Employee Card Attachment</span></dt>
                <dd>
                    <span>{{ userDetails.employeeCardAttachment }}</span>
                </dd>
                <dt><span>Signer Id</span></dt>
                <dd>
                    <span>{{ userDetails.signerId }}</span>
                </dd>
                <dt><span>Last Action</span></dt>
                <dd>
                    <span>{{ userDetails.lastAction }}</span>
                </dd>
                <dt><span>Account Status</span></dt>
                <dd>
                    <span>{{ userDetails.accountStatus }}</span>
                </dd>
                <dt><span>Designation Master</span></dt>
                <dd>
                    <div *ngIf="userDetails.designationMasterId">
                        <a [routerLink]="['/designation-master', userDetails.designationMasterId, 'view']">{{ userDetails.designationMasterId }}</a>
                    </div>
                </dd>
                <dt><span>Organisation Master</span></dt>
                <dd>
                    <div *ngIf="userDetails.organisationMasterId">
                        <a [routerLink]="['/organisation-master', userDetails.organisationMasterId, 'view']">{{ userDetails.organisationMasterId }}</a>
                    </div>
                </dd>
                <dt><span>Esign Role</span></dt>
                <dd>
                    <div *ngIf="userDetails.esignRoleId">
                        <a [routerLink]="['/esign-role', userDetails.esignRoleId, 'view']">{{ userDetails.esignRoleId }}</a>
                    </div>
                </dd>
                <dt><span>Application Master</span></dt>
                <dd>
                    <div *ngIf="userDetails.applicationMasterId">
                        <a [routerLink]="['/application-master', userDetails.applicationMasterId, 'view']">{{ userDetails.applicationMasterId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-details', userDetails.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
