<br><br>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-4">
            <div class="card card-stats mb-4 mb-xl-0 shadow-lg btn-outline-amber" style=" height: 75px; width: 350px;cursor: pointer;" (click)="getApplicationBystatus('Pending')">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h4 class="card-title text-uppercase text-muted mb-0" style="font-family:initial;margin-top: -4%;"><b>Pending</b>
                                <h3 class="rounded-circle shadow fa-pull-right amber-text"><span class="font-weight-bold mb-1 pl-1">{{pendingLength?.length}}</span></h3>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-stats mb-4 mb-xl-0 shadow-lg btn-outline-success" style=" height: 75px; width: 350px;cursor: pointer;" (click)="getApplicationBystatus('Approved')">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h4 class="card-title text-uppercase text-muted mb-0" style="font-family:initial;margin-top: -4%;"><b>Approved</b>
                                <h3 class="rounded-circle shadow fa-pull-right text-success"><span class="font-weight-bold mb-1 pl-1">{{approvedLength?.length}}</span></h3>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-stats mb-4 mb-xl-0 shadow-lg btn-outline-danger" style=" height: 75px; width: 350px;cursor: pointer;" (click)="getApplicationBystatus('Rejected')">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h4 class="card-title text-uppercase text-muted mb-0" style="font-family:initial;margin-top: -4%;"><b>Rejected</b>
                                <h3 class="rounded-circle shadow fa-pull-right text-danger"><span class="font-weight-bold mb-1 pl-1">{{rejectedLength?.length}}</span></h3>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<div class="card" *ngIf="applicationMasters?.length > 0">
    <div class="card-header">
        <h3 class="amber-text"  *ngIf="status === 'Pending'"><b>Application List</b></h3>
        <h3 class="text-success" *ngIf="status === 'Approved'"><b>Application List</b></h3>
        <h3 class="text-danger" *ngIf="status === 'Rejected'"><b>Application List</b></h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped" aria-describedby="page-heading">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th scope="col"  jhiSortBy="organisationName"><span>Application Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th scope="col"><span>Application URL</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th scope="col"><span>Application Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th scope="col"><span>Application Created On</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th scope="col"><span>Status</span></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let applicationMaster of applicationMasters">
                    <td>{{applicationMaster.id}}</td>
                    <td>{{applicationMaster.applicationName}}</td>
                    <td>{{applicationMaster.applicationURL}}</td>
                    <td>{{applicationMaster.createdBy}}</td>
                    <td>{{applicationMaster.createdOn}}</td>
                    <td>{{applicationMaster.status}}</td>

                    <td class="text-right btn-group">
                        <button type="submit"
                                [routerLink]="['/organisation-detail', applicationMaster.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                class="btn btn-info btn-sm" data-toggle="modal" (click)="approvePopup(applicationMaster)"  data-target="#accept" *ngIf="applicationMaster.status=='Pending'">
                            <span class="d-none d-md-inline">Approve</span>
                        </button>
                        <button type="submit"
                                class="btn btn-info btn-sm" data-toggle="modal" (click)="rejectPopup(applicationMaster)" data-target="#reject" *ngIf="applicationMaster.status=='Pending'">
                            <span class="d-none d-md-inline">Reject</span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div [hidden]="applicationMasters?.length === 0">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="applicationMasters?.length === 0">
    <div class="col-sm-12"><br><br><br><br>
        <h1 class="text-center"><i class="far fa-frown"></i></h1>
        <h4 class="text-center">Sorry! There are no records.</h4><br><br>
    </div>
</div>


<!--Accept Confirmation Modal -->
<div class="modal fade" id="accept" tabindex="-1" role="dialog" aria-labelledby="accept"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Approve Confirmaton</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--<span>Date</span>-->
                <!--<input id="field_createdOn" type="text" class="form-control" [(ngModel)]="createdOn" name="createdOn" ngbDatepicker  #createdOnDp="ngbDatepicker" value="" formControlName="createdOn"/>-->
                <span>To Approve this organisation please remark</span>
                <textarea class="form-control" rows="3" cols="3" [(ngModel)]="remarks" value="" ></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="approveApplication(applicationMaster)" >Approve</button>
            </div>
        </div>
    </div>
</div>


<!--Reject Confirmation Modal -->
<div class="modal fade" id="reject" tabindex="-1" role="dialog" aria-labelledby="reject"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Reject Confirmaton</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span>To Reject this organisation please remark</span>
                <textarea class="form-control" rows="3" cols="3"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="rejectApplication(applicationMaster)">Reject</button>
            </div>
        </div>
    </div>
</div>

