/* esign-response-data.component.scss */
//.spinner-border {
//  position: fixed;
//  left: 0px;
//  top: 0px;
//  width: 100%;
//  height: 100%;
//  background: #000;
//  z-index: 9999;
  //background: url('../../content/images/loader.gif') 50% 50% no-repeat rgba(255, 255, 255, 0.7);
//}
