<!--<div class="mt-4">-->
    <!--<div class="row justify-content-center">-->
        <!--<div class="col-sm-8 card">-->
            <!--<div class="card-header">-->
                <!--<h3>Registration</h3>-->
            <!--</div>-->
            <!--<div class="card-body">-->
                <!--<div class="col-md-12">-->
                    <!--<div class="alert alert-success" *ngIf="success">-->
                        <!--<strong>Registration saved!</strong> Please check your email for confirmation.-->
                    <!--</div>-->

                    <!--<div class="alert alert-danger" *ngIf="error">-->
                        <!--<strong>Registration failed!</strong> Please try again later.-->
                    <!--</div>-->

                    <!--<div class="alert alert-danger" *ngIf="errorUserExists">-->
                        <!--<strong>Login name already registered!</strong> Please choose another one.-->
                    <!--</div>-->

                    <!--<div class="alert alert-danger" *ngIf="errorEmailExists">-->
                        <!--<strong>Email is already in use!</strong> Please choose another one.-->
                    <!--</div>-->

                    <!--<div class="alert alert-danger" *ngIf="doNotMatch">-->
                        <!--The password and its confirmation do not match!-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row justify-content-center">-->
                    <!--<div class="col-md-8">-->
                        <!--<form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">-->
                            <!--<div class="row">-->
                                <!--<div class="col-sm-12">-->
                                    <!--<div class="form-group">-->
                                        <!--<label class="form-control-label" for="login">Username<span class="text-danger">*</span></label>-->
                                        <!--<input type="text" class="form-control" id="login" name="login" placeholder="Your username"-->
                                               <!--formControlName="login" required>-->
                                        <!--<div *ngIf="registerForm.get('login').invalid && (registerForm.get('login').dirty || registerForm.get('login').touched)">-->
                                            <!--<small class="form-text text-danger" *ngIf="registerForm.get('login').errors.required">-->
                                                <!--Your username is required.-->
                                            <!--</small>-->
                                            <!--<small class="form-text text-danger" *ngIf="registerForm.get('login').errors.minlength"-->
                                            <!--&gt;-->
                                                <!--Your username is required to be at least 1 character.-->
                                            <!--</small>-->
                                            <!--<small class="form-text text-danger" *ngIf="registerForm.get('login').errors.maxlength"-->
                                            <!--&gt;-->
                                                <!--Your username cannot be longer than 50 characters.-->
                                            <!--</small>-->
                                            <!--<small class="form-text text-danger" *ngIf="registerForm.get('login').errors.pattern"-->
                                            <!--&gt;-->
                                                <!--Your username can only contain letters .-->
                                            <!--</small>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row">-->
                                <!--<div class="col-sm-12">-->
                                    <!--<div class="form-group">-->
                                        <!--<label class="form-control-label" for="email">Email<span class="text-danger">*</span></label>-->
                                        <!--<input type="email" class="form-control" id="email" name="email" placeholder="Your email"-->
                                               <!--formControlName="email">-->
                                        <!--<div *ngIf="registerForm.get('email').invalid && (registerForm.get('email').dirty || registerForm.get('email').touched)">-->
                                            <!--<small class="form-text text-danger" *ngIf="registerForm.get('email').errors.required"-->
                                            <!--&gt;-->
                                                <!--Your email is required.-->
                                            <!--</small>-->
                                            <!--<small class="form-text text-danger" *ngIf="registerForm.get('email').errors.invalid"-->
                                            <!--&gt;-->
                                                <!--Your email is invalid.-->
                                            <!--</small>-->
                                            <!--<small class="form-text text-danger" *ngIf="registerForm.get('email').errors.minlength"-->
                                            <!--&gt;-->
                                                <!--Your email is required to be at least 5 characters.-->
                                            <!--</small>-->
                                            <!--<small class="form-text text-danger" *ngIf="registerForm.get('email').errors.maxlength"-->
                                            <!--&gt;-->
                                                <!--Your email cannot be longer than 100 characters.-->
                                            <!--</small>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row">-->
                                <!--<div class="col-sm-6">-->
                                    <!--<div class="form-group">-->
                                        <!--<label class="form-control-label" for="login">First Name<span class="text-danger">*</span></label>-->
                                        <!--<input type="text" class="form-control" id="firstName" name="firstName" placeholder="Your First Name"-->
                                               <!--formControlName="firstName" required>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-sm-6">-->
                                    <!--<div class="form-group">-->
                                        <!--<label class="form-control-label" for="login">Last Name</label>-->
                                        <!--<input type="text" class="form-control" id="lastName" name="lastName" placeholder="Your Last Name"-->
                                               <!--formControlName="lastName">-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row">-->
                                <!--<div class="col-sm-6">-->
                                    <!--<div class="form-group">-->
                                        <!--<label class="form-control-label" for="password">New password<span class="text-danger">*</span></label>-->
                                        <!--<input type="password" class="form-control" id="password" name="password" placeholder="New password"-->
                                               <!--formControlName="password">-->
                                        <!--<div *ngIf="registerForm.get('password').invalid && (registerForm.get('password').dirty || registerForm.get('password').touched)">-->
                                            <!--<small class="form-text text-danger" *ngIf="registerForm.get('password').errors.required"-->
                                            <!--&gt;-->
                                                <!--Your password is required.-->
                                            <!--</small>-->
                                            <!--<small class="form-text text-danger" *ngIf="registerForm.get('password').errors.minlength"-->
                                            <!--&gt;-->
                                                <!--Your password is required to be at least 4 characters.-->
                                            <!--</small>-->
                                            <!--<small class="form-text text-danger" *ngIf="registerForm.get('password').errors.maxlength"-->
                                            <!--&gt;-->
                                                <!--Your password cannot be longer than 50 characters.-->
                                            <!--</small>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-sm-6">-->
                                    <!--<div class="form-group">-->
                                        <!--<label class="form-control-label" for="confirmPassword">New password confirmation<span class="text-danger">*</span></label>-->
                                        <!--<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm the new password"-->
                                               <!--formControlName="confirmPassword">-->
                                        <!--<div *ngIf="registerForm.get('confirmPassword').invalid && (registerForm.get('confirmPassword').dirty || registerForm.get('confirmPassword').touched)">-->
                                            <!--<small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword').errors.required"-->
                                            <!--&gt;-->
                                                <!--Your confirmation password is required.-->
                                            <!--</small>-->
                                            <!--<small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword').errors.minlength"-->
                                            <!--&gt;-->
                                                <!--Your confirmation password is required to be at least 4 characters.-->
                                            <!--</small>-->
                                            <!--<small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword').errors.maxlength"-->
                                            <!--&gt;-->
                                                <!--Your confirmation password cannot be longer than 50 characters.-->
                                            <!--</small>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="float-right mt-3">-->
                                <!--<button type="button" class="btn btn-dark btn-sm" (click)="previousState()">Back</button>-->
                                <!--<button type="submit" [disabled]="registerForm.invalid" class="btn btn-sm btn-primary">Register</button>-->
                            <!--</div>-->
                        <!--</form>-->
                        <!--<p></p>-->
                        <!--&lt;!&ndash;<div class="alert alert-warning">&ndash;&gt;-->
                        <!--&lt;!&ndash;<span>If you want to </span>&ndash;&gt;-->
                        <!--&lt;!&ndash;<a class="alert-link" (click)="openLogin()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
