<nav class="navbar navbar-primary navbar-expand-md nav-color" [ngSwitch]="isAuthenticated()">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
        <span class="logo-img"></span>
        <span class="navbar-title white-text">Esignharyana</span> <span class="navbar-version"></span>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed">
        <ul class="navbar-nav ml-auto">
            <!--<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngSwitchCase="false">-->
            <!--<a class="nav-link white-text" routerLink="/" (click)="collapseNavbar()">-->
            <!--<span>-->
            <!--<fa-icon icon="home"></fa-icon>-->
            <!--<span>Home</span>-->
            <!--</span>-->
            <!--</a>-->
            <!--</li>-->

            <!--<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *jhiHasAnyAuthority="['ROLE_ADMIN']">-->
            <!--<a class="nav-link white-text" routerLink="organisation" (click)="collapseNavbar()">-->
            <!--<i class="fa fa-hand-spock-o" aria-hidden="true"></i>-->
            <!--<span>Organisation</span>-->
            <!--</a>-->
            <!--</li>-->

            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *jhiHasAnyAuthority="['ROLE_ASP_NODAL']">
                <a class="nav-link text-white" routerLink="asp-dashboard" (click)="collapseNavbar()">
                    <i class="fas fa-tachometer-alt"></i>
                    <span>Asp Organisation Dashboard</span>
                </a>
            </li>

            <!--<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *jhiHasAnyAuthority="['ROLE_ADMIN']">-->
            <!--<a class="nav-link text-white" routerLink="organisation-detail" (click)="collapseNavbar()">-->
            <!--<i class="fa fa-hand-spock-o" aria-hidden="true"></i>-->
            <!--<span>Organisation detail</span>-->
            <!--</a>-->
            <!--</li>-->

            <!--            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *jhiHasAnyAuthority="['ROLE_ADMIN']">-->
            <!--                <a class="nav-link text-white" routerLink="application" (click)="collapseNavbar()">-->
            <!--                    <i class="fa fa-hand-spock-o" aria-hidden="true"></i>-->
            <!--                    <span>Application</span>-->
            <!--                </a>-->
            <!--            </li>-->

            <!--<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
            <!--<a class="nav-link" routerLink="application-dashboard" (click)="collapseNavbar()">-->
            <!--<i class="fa fa-hand-spock-o" aria-hidden="true"></i>-->
            <!--<span>Application dashboard</span>-->
            <!--</a>-->
            <!--</li>-->

            <!--<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
            <!--<a class="nav-link" routerLink="application-detail" (click)="collapseNavbar()">-->
            <!--<i class="fa fa-hand-spock-o" aria-hidden="true"></i>-->
            <!--<span>Application detail</span>-->
            <!--</a>-->
            <!--</li>-->

            <!--<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
            <!--<a class="nav-link" routerLink="user" (click)="collapseNavbar()">-->
            <!--<i class="fa fa-hand-spock-o" aria-hidden="true"></i>-->
            <!--<span>User</span>-->
            <!--</a>-->
            <!--</li>-->

            <!--<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
            <!--<a class="nav-link" routerLink="user-dashboard" (click)="collapseNavbar()">-->
            <!--<i class="fa fa-hand-spock-o" aria-hidden="true"></i>-->
            <!--<span>User dashboard</span>-->
            <!--</a>-->
            <!--</li>-->

            <!--<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
            <!--<a class="nav-link" routerLink="view-user" (click)="collapseNavbar()">-->
            <!--<i class="fa fa-hand-spock-o" aria-hidden="true"></i>-->
            <!--<span>View user</span>-->
            <!--</a>-->
            <!--</li>-->

            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *jhiHasAnyAuthority="['ROLE_ORG_NODAL','ROLE_ASP_NODAL']">
                <a class="nav-link text-white" routerLink="organisation-dashboard" (click)="collapseNavbar()">
                    <i class="fa fa-hand-spock-o" aria-hidden="true"></i>
                    <span>Organisation Dashboard</span>
                </a>
            </li>

            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *jhiHasAnyAuthority="['ROLE_ASP_NODAL']">
                <a class="nav-link text-white" routerLink="asp-application-dashboard" (click)="collapseNavbar()">
                    <i class="fa fa-hand-spock-o" aria-hidden="true"></i>
                    <span>Asp Application Dashboard</span>
                </a>
            </li>

            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *jhiHasAnyAuthority="['ROLE_ASP_NODAL']">
                <a class="nav-link text-white" routerLink="asp-user-dashboard" (click)="collapseNavbar()">
                    <i class="fa fa-hand-spock-o" aria-hidden="true"></i>
                    <span>Asp User Dashboard</span>
                </a>
            </li>

            <!--<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
            <!--<a class="nav-link" routerLink="organisation-update" (click)="collapseNavbar()">-->
            <!--<i class="fa fa-hand-spock-o" aria-hidden="true"></i>-->
            <!--<span>Organisation update</span>-->
            <!--</a>-->
            <!--</li>-->
            <!---->
            <!--<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
            <!--<a class="nav-link" routerLink="application-update" (click)="collapseNavbar()">-->
            <!--<i class="fa fa-hand-spock-o" aria-hidden="true"></i>-->
            <!--<span>Application update</span>-->
            <!--</a>-->
            <!--</li>-->

            <!--<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
            <!--<a class="nav-link" routerLink="user-update" (click)="collapseNavbar()">-->
            <!--<i class="fa fa-hand-spock-o" aria-hidden="true"></i>-->
            <!--<span>User update</span>-->
            <!--</a>-->
            <!--</li>-->


            <!--<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
            <!--<a class="nav-link" routerLink="organisation-dashboard" (click)="collapseNavbar()">-->
            <!--<i class="fa fa-hand-spock-o" aria-hidden="true"></i>-->
            <!--<span>Organisation dashboard</span>-->
            <!--</a>-->
            <!--</li>-->

            <!--<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
            <!--<a class="nav-link" routerLink="asp-application-dashboard" (click)="collapseNavbar()">-->
            <!--<i class="fa fa-hand-spock-o" aria-hidden="true"></i>-->
            <!--<span>Asp application-dashboard</span>-->
            <!--</a>-->
            <!--</li>-->

            <!--<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
            <!--<a class="nav-link" routerLink="asp-user-dashboard" (click)="collapseNavbar()">-->
            <!--<i class="fa fa-hand-spock-o" aria-hidden="true"></i>-->
            <!--<span>Asp user-dashboard</span>-->
            <!--</a>-->
            <!--</li>-->


            <!--<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
            <!--<a class="nav-link" routerLink="user-application-assign" (click)="collapseNavbar()">-->
            <!--<i class="fa fa-hand-spock-o" aria-hidden="true"></i>-->
            <!--<span>User application</span>-->
            <!--</a>-->
            <!--</li>-->

            <!--<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *jhiHasAnyAuthority="['ROLE_ADMIN']">-->
                <!--<a class="nav-link text-white" routerLink="esign-form-request" (click)="collapseNavbar()">-->
                    <!--<i class="fa fa-hand-spock-o" aria-hidden="true"></i>-->
                    <!--<span>Esign form-request</span>-->
                <!--</a>-->
            <!--</li>-->


            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *jhiHasAnyAuthority="['ROLE_ADMIN']">
                <a class="nav-link text-white" routerLink="esign-final-form-request" (click)="collapseNavbar()">
                    <i class="fa fa-hand-spock-o" aria-hidden="true"></i>
                    <span>Esign final-form-request</span>
                </a>
            </li>

            
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="user-esign-request-form" (click)="collapseNavbar()">
                    <i class="fa fa-hand-spock-o" aria-hidden="true"></i>
                    <span>User esign-request-form</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *jhiHasAnyAuthority="['ROLE_ADMIN']">
                                <a class="nav-link" routerLink="esign-response-data" (click)="collapseNavbar()">
                                    <fa-icon icon="hand-spock" fixedWidth="true"></fa-icon>
                                    <span>Esign Response Data</span>
                                </a>
                            </li>


            <!--<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *jhiHasAnyAuthority="['ROLE_ADMIN']">-->
                <!--<a class="nav-link text-white" routerLink="esign-final-form-request" (click)="collapseNavbar()">-->
                    <!--<i class="fa fa-hand-spock-o" aria-hidden="true"></i>-->
                    <!--<span>Esign final-form-request</span>-->
                <!--</a>-->
            <!--</li>-->

            <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                        <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *jhiHasAnyAuthority="['ROLE_ADMIN']">
                            <a class="nav-link dropdown-toggle white-text" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
                                <span>
                                    <fa-icon icon="th-list"></fa-icon>
                                    <span>
                                        Masters
                                    </span>
                                </span>
                            </a>
                            <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
                                <li>
                                    <a class="dropdown-item" routerLink="state-master" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                        <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                        <span>State Master</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" routerLink="district-master" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                        <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                        <span>District Master</span>
                                    </a>
                                </li>
            <!--                    <li>-->
            <!--                        <a class="dropdown-item" routerLink="sub-district-master" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
            <!--                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>-->
            <!--                            <span>Sub District Master</span>-->
            <!--                        </a>-->
            <!--                    </li>-->
            <!--                    <li>-->
            <!--                        <a class="dropdown-item" routerLink="block-master" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
            <!--                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>-->
            <!--                            <span>Block Master</span>-->
            <!--                        </a>-->
            <!--                    </li>-->
            <!--                    <li>-->
            <!--                        <a class="dropdown-item" routerLink="organisation-type-master" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
            <!--                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>-->
            <!--                            <span>Organisation Type Master</span>-->
            <!--                        </a>-->
            <!--                    </li>-->
            <!--                    <li>-->
            <!--                        <a class="dropdown-item" routerLink="designation-master" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
            <!--                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>-->
            <!--                            <span>Designation Master</span>-->
            <!--                        </a>-->
            <!--                    </li>-->
            <!--                    <li>-->
            <!--                        <a class="dropdown-item" routerLink="esign-role" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
            <!--                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>-->
            <!--                            <span>Esign Role</span>-->
            <!--                        </a>-->
            <!--                    </li>-->
            <!--                    <li>-->
            <!--                        <a class="dropdown-item" routerLink="organisation-master" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
            <!--                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>-->
            <!--                            <span>Organisation Master</span>-->
            <!--                        </a>-->
            <!--                    </li>-->
            <!--                    <li>-->
            <!--                        <a class="dropdown-item" routerLink="user-details" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
            <!--                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>-->
            <!--                            <span>User Details</span>-->
            <!--                        </a>-->
            <!--                    </li>-->
            <!--                    <li>-->
            <!--                        <a class="dropdown-item" routerLink="organisation-document" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
            <!--                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>-->
            <!--                            <span>Organisation Document</span>-->
            <!--                        </a>-->
            <!--                    </li>-->
            <!--                    <li>-->
            <!--                        <a class="dropdown-item" routerLink="application-master" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
            <!--                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>-->
            <!--                            <span>Application Master</span>-->
            <!--                        </a>-->
            <!--                    </li>-->
            <!--                    <li>-->
            <!--                        <a class="dropdown-item" routerLink="user-application" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
            <!--                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>-->
            <!--                            <span>User Application</span>-->
            <!--                        </a>-->
            <!--                    </li>-->
            <!--                    <li>-->
            <!--                        <a class="dropdown-item" routerLink="otp" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
            <!--                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>-->
            <!--                            <span>Otp</span>-->

            <!--                        </a>-->
            <!--                    </li>-->
            <!--                    <li>-->
            <!--                        <a class="dropdown-item" routerLink="organisation-log" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
            <!--                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>-->
            <!--                            <span>Organisation Log</span>-->
            <!--                        </a>-->
            <!--                    </li>-->
            <!--                    <li>-->
            <!--                        <a class="dropdown-item" routerLink="organisation-attachment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
            <!--                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>-->
            <!--                            <span>Organisation Attachment</span>-->
            <!--                        </a>-->
            <!--                    </li>-->
            <!--                    <li>-->
            <!--                        <a class="dropdown-item" routerLink="application-master" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
            <!--                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>-->
            <!--                            <span>Application Master</span>-->
            <!--                        </a>-->
            <!--                    </li>-->
            <!--                    <li>-->
            <!--                        <a class="dropdown-item" routerLink="application-logs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
            <!--                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>-->
            <!--                            <span>Application Logs</span>-->
            <!--                        </a>-->
            <!--                    </li>-->
            <!--                    <li>-->
            <!--                        <a class="dropdown-item" routerLink="user-logs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
            <!--                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>-->
            <!--                            <span>User Logs</span>-->
            <!--                        </a>-->
            <!--                    </li>-->
            <!--                    <li>-->
            <!--                        <a class="dropdown-item" routerLink="esign-transation" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
            <!--                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>-->
            <!--                            <span>Esign Transation</span>-->
            <!--                        </a>-->
            <!--                    </li>-->

            <!--                    <li>-->
            <!--                        <a class="dropdown-item" routerLink="department" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
            <!--                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>-->
            <!--                            <span>Department</span>-->
            <!--                        </a>-->
            <!--                    </li>-->
            <!--                     <li>-->
            <!--                        <a class="dropdown-item" routerLink="external-user-esign-request" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
            <!--                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>-->
            <!--                            <span>External User Esign Request</span>-->
            <!--                        </a>-->
            <!--                    </li>-->
            <li>
                        <a class="dropdown-item" routerLink="esign-error" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Esign Error</span>
                        </a>
                    </li>
            <!--                    &lt;!&ndash; jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here &ndash;&gt;-->
            <!--                </ul>-->
            <!--            </li>-->

                                <li>
                                    <a class="dropdown-item" routerLink="department" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                        <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                        <span>Department</span>
                                    </a>
                                </li>
                                <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                            </ul>
                        </li>

            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle white-text" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                    <span>
                        <fa-icon icon="user-plus"></fa-icon>
                        <span>Administration</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
                    <li>
                        <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="user" fixedWidth="true"></fa-icon>
                            <span>User management</span>
                        </a>
                    </li>
                    <!--<li>-->
                        <!--<a class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">-->
                            <!--<fa-icon icon="tachometer-alt" fixedWidth="true"></fa-icon>-->
                            <!--<span>Metrics</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="dropdown-item" routerLink="admin/health" routerLinkActive="active" (click)="collapseNavbar()">-->
                            <!--<fa-icon icon="heart" fixedWidth="true"></fa-icon>-->
                            <!--<span>Health</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">-->
                            <!--<fa-icon icon="list" fixedWidth="true"></fa-icon>-->
                            <!--<span>Configuration</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="dropdown-item" routerLink="admin/audits" routerLinkActive="active" (click)="collapseNavbar()">-->
                            <!--<fa-icon icon="bell" fixedWidth="true"></fa-icon>-->
                            <!--<span>Audits</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">-->
                            <!--<fa-icon icon="tasks" fixedWidth="true"></fa-icon>-->
                            <!--<span>Logs</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li *ngIf="swaggerEnabled">-->
                        <!--<a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">-->
                            <!--<fa-icon icon="book" fixedWidth="true"></fa-icon>-->
                            <!--<span>API</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--&lt;!&ndash; jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here &ndash;&gt;-->
                    <!--<li *ngIf="!inProduction">-->
                        <!--<a class="dropdown-item" href='./h2-console' target="_tab" (click)="collapseNavbar()">-->
                            <!--<fa-icon icon="hdd" fixedWidth="true"></fa-icon>-->
                            <!--<span>Database</span>-->
                        <!--</a>-->
                    <!--</li>-->
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngSwitchCase="true">
                <a class="nav-link dropdown-toggle white-text" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                  <span *ngIf="!getImageUrl()">
                    <fa-icon icon="user"></fa-icon>
                    <span>
                      Account
                    </span>
                  </span>
                    <span *ngIf="getImageUrl()">
                      <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar">
                  </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
                    <li *jhiHasAnyAuthority="['ROLE_ADMIN']">
                        <a class="dropdown-item" routerLink="account/settings" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="wrench" fixedWidth="true"></fa-icon>
                            <span>Settings</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_ADMIN']">
                        <a class="dropdown-item" routerLink="account/password" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="lock" fixedWidth="true"></fa-icon>
                            <span>Password</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" (click)="logout()" id="logout">
                            <fa-icon icon="sign-out-alt" fixedWidth="true"></fa-icon>
                            <span>Sign out</span>
                        </a>
                    </li>
                    <!--<li *ngSwitchCase="false">-->
                    <!--<a class="dropdown-item" (click)="login()" id="login">-->
                    <!--<fa-icon icon="sign-in-alt" fixedWidth="true"></fa-icon>-->
                    <!--<span>Sign in</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--<li *ngSwitchCase="false">-->
                    <!--<a class="dropdown-item" routerLink="account/register" routerLinkActive="active" (click)="collapseNavbar()">-->
                    <!--<fa-icon icon="user-plus" fixedWidth="true"></fa-icon>-->
                    <!--<span>Register</span>-->
                    <!--</a>-->
                    <!--</li>-->
                </ul>
            </li>
        </ul>
    </div>
</nav>
