<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-user-application-heading">Create or edit a User Application</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_userId">User Id</label>
                    <input type="number" class="form-control" name="userId" id="field_userId"
                           formControlName="userId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_userLogin">User Login</label>
                    <input type="text" class="form-control" name="userLogin" id="field_userLogin"
                           formControlName="userLogin"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdOn">Created On</label>
                    <div class="input-group">
                        <input id="field_createdOn" type="text" class="form-control" name="createdOn" ngbDatepicker  #createdOnDp="ngbDatepicker" formControlName="createdOn"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="createdOnDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_updatedBy">Updated By</label>
                    <input type="text" class="form-control" name="updatedBy" id="field_updatedBy"
                           formControlName="updatedBy"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_updatedOn">Updated On</label>
                    <div class="input-group">
                        <input id="field_updatedOn" type="text" class="form-control" name="updatedOn" ngbDatepicker  #updatedOnDp="ngbDatepicker" formControlName="updatedOn"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="updatedOnDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_verifiedBy">Verified By</label>
                    <input type="text" class="form-control" name="verifiedBy" id="field_verifiedBy"
                           formControlName="verifiedBy"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_verifiedOn">Verified On</label>
                    <div class="input-group">
                        <input id="field_verifiedOn" type="text" class="form-control" name="verifiedOn" ngbDatepicker  #verifiedOnDp="ngbDatepicker" formControlName="verifiedOn"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="verifiedOnDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_userCodeId">User Code Id</label>
                    <input type="text" class="form-control" name="userCodeId" id="field_userCodeId"
                           formControlName="userCodeId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_applicationCodeId">Application Code Id</label>
                    <input type="text" class="form-control" name="applicationCodeId" id="field_applicationCodeId"
                           formControlName="applicationCodeId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_applicationMaster">Application Master</label>
                    <select class="form-control" id="field_applicationMaster" name="applicationMaster" formControlName="applicationMasterId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="applicationMasterOption.id" *ngFor="let applicationMasterOption of applicationmasters; trackBy: trackApplicationMasterById">{{applicationMasterOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
