<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userApplication">
            <h2><span>User Application</span> {{userApplication.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>User Id</span></dt>
                <dd>
                    <span>{{userApplication.userId}}</span>
                </dd>
                <dt><span>User Login</span></dt>
                <dd>
                    <span>{{userApplication.userLogin}}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{userApplication.createdBy}}</span>
                </dd>
                <dt><span>Created On</span></dt>
                <dd>
                    <span>{{userApplication.createdOn}}</span>
                </dd>
                <dt><span>Updated By</span></dt>
                <dd>
                    <span>{{userApplication.updatedBy}}</span>
                </dd>
                <dt><span>Updated On</span></dt>
                <dd>
                    <span>{{userApplication.updatedOn}}</span>
                </dd>
                <dt><span>Verified By</span></dt>
                <dd>
                    <span>{{userApplication.verifiedBy}}</span>
                </dd>
                <dt><span>Verified On</span></dt>
                <dd>
                    <span>{{userApplication.verifiedOn}}</span>
                </dd>
                <dt><span>User Code Id</span></dt>
                <dd>
                    <span>{{userApplication.userCodeId}}</span>
                </dd>
                <dt><span>Application Code Id</span></dt>
                <dd>
                    <span>{{userApplication.applicationCodeId}}</span>
                </dd>
                <dt><span>Application Master</span></dt>
                <dd>
                    <div *ngIf="userApplication.applicationMasterId">
                        <a [routerLink]="['/application-master', userApplication.applicationMasterId, 'view']">{{userApplication.applicationMasterId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-application', userApplication.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
