<div>
    <h2 id="page-heading">
        <span>Esign Transations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-esign-transation" [routerLink]="['/esign-transation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create a new Esign Transation
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="esignTransations?.length === 0">
        <span>No esignTransations found</span>
    </div>
    <div class="table-responsive" *ngIf="esignTransations?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="txnId"><span>Txn Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="userCodeId"><span>User Code Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="applicationCodeId"><span>Application Code Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="orgResponseSuccessURL"><span>Org Response Success URL</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="orgResponseFailURL"><span>Org Response Fail URL</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="orgStatus"><span>Org Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="requestDate"><span>Request Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="organisationIdCode"><span>Organisation Id Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="signerId"><span>Signer Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="requestType"><span>Request Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="requestStatus"><span>Request Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="responseType"><span>Response Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="responseStatus"><span>Response Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="responseCode"><span>Response Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="requestXml"><span>Request Xml</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="responseXml"><span>Response Xml</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="responseDate"><span>Response Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="ts"><span>Ts</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let esignTransation of esignTransations ;trackBy: trackId">
                <td><a [routerLink]="['/esign-transation', esignTransation.id, 'view' ]">{{esignTransation.id}}</a></td>
                <td>{{esignTransation.txnId}}</td>
                <td>{{esignTransation.userCodeId}}</td>
                <td>{{esignTransation.applicationCodeId}}</td>
                <td>{{esignTransation.orgResponseSuccessURL}}</td>
                <td>{{esignTransation.orgResponseFailURL}}</td>
                <td>{{esignTransation.orgStatus}}</td>
                <td>{{esignTransation.requestDate | date:'mediumDate'}}</td>
                <td>{{esignTransation.organisationIdCode}}</td>
                <td>{{esignTransation.signerId}}</td>
                <td>{{esignTransation.requestType}}</td>
                <td>{{esignTransation.requestStatus}}</td>
                <td>{{esignTransation.responseType}}</td>
                <td>{{esignTransation.responseStatus}}</td>
                <td>{{esignTransation.responseCode}}</td>
                <td>{{esignTransation.requestXml}}</td>
                <td>{{esignTransation.responseXml}}</td>
                <td>{{esignTransation.responseDate | date:'mediumDate'}}</td>
                <td>{{esignTransation.ts}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/esign-transation', esignTransation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/esign-transation', esignTransation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/esign-transation', { outlets: { popup: esignTransation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="esignTransations?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
