<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="esignTransation">
            <h2><span>Esign Transation</span> {{esignTransation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Txn Id</span></dt>
                <dd>
                    <span>{{esignTransation.txnId}}</span>
                </dd>
                <dt><span>User Code Id</span></dt>
                <dd>
                    <span>{{esignTransation.userCodeId}}</span>
                </dd>
                <dt><span>Application Code Id</span></dt>
                <dd>
                    <span>{{esignTransation.applicationCodeId}}</span>
                </dd>
                <dt><span>Org Response Success URL</span></dt>
                <dd>
                    <span>{{esignTransation.orgResponseSuccessURL}}</span>
                </dd>
                <dt><span>Org Response Fail URL</span></dt>
                <dd>
                    <span>{{esignTransation.orgResponseFailURL}}</span>
                </dd>
                <dt><span>Org Status</span></dt>
                <dd>
                    <span>{{esignTransation.orgStatus}}</span>
                </dd>
                <dt><span>Request Date</span></dt>
                <dd>
                    <span>{{esignTransation.requestDate}}</span>
                </dd>
                <dt><span>Organisation Id Code</span></dt>
                <dd>
                    <span>{{esignTransation.organisationIdCode}}</span>
                </dd>
                <dt><span>Signer Id</span></dt>
                <dd>
                    <span>{{esignTransation.signerId}}</span>
                </dd>
                <dt><span>Request Type</span></dt>
                <dd>
                    <span>{{esignTransation.requestType}}</span>
                </dd>
                <dt><span>Request Status</span></dt>
                <dd>
                    <span>{{esignTransation.requestStatus}}</span>
                </dd>
                <dt><span>Response Type</span></dt>
                <dd>
                    <span>{{esignTransation.responseType}}</span>
                </dd>
                <dt><span>Response Status</span></dt>
                <dd>
                    <span>{{esignTransation.responseStatus}}</span>
                </dd>
                <dt><span>Response Code</span></dt>
                <dd>
                    <span>{{esignTransation.responseCode}}</span>
                </dd>
                <dt><span>Request Xml</span></dt>
                <dd>
                    <span>{{esignTransation.requestXml}}</span>
                </dd>
                <dt><span>Response Xml</span></dt>
                <dd>
                    <span>{{esignTransation.responseXml}}</span>
                </dd>
                <dt><span>Response Date</span></dt>
                <dd>
                    <span>{{esignTransation.responseDate}}</span>
                </dd>
                <dt><span>Ts</span></dt>
                <dd>
                    <span>{{esignTransation.ts}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/esign-transation', esignTransation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
