<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-esign-transation-heading">Create or edit a Esign Transation</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_txnId">Txn Id</label>
                    <input type="text" class="form-control" name="txnId" id="field_txnId"
                           formControlName="txnId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_userCodeId">User Code Id</label>
                    <input type="text" class="form-control" name="userCodeId" id="field_userCodeId"
                           formControlName="userCodeId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_applicationCodeId">Application Code Id</label>
                    <input type="text" class="form-control" name="applicationCodeId" id="field_applicationCodeId"
                           formControlName="applicationCodeId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_orgResponseSuccessURL">Org Response Success URL</label>
                    <input type="text" class="form-control" name="orgResponseSuccessURL" id="field_orgResponseSuccessURL"
                           formControlName="orgResponseSuccessURL"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_orgResponseFailURL">Org Response Fail URL</label>
                    <input type="text" class="form-control" name="orgResponseFailURL" id="field_orgResponseFailURL"
                           formControlName="orgResponseFailURL"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_orgStatus">Org Status</label>
                    <input type="text" class="form-control" name="orgStatus" id="field_orgStatus"
                           formControlName="orgStatus"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_requestDate">Request Date</label>
                    <div class="input-group">
                        <input id="field_requestDate" type="text" class="form-control" name="requestDate" ngbDatepicker  #requestDateDp="ngbDatepicker" formControlName="requestDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="requestDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_organisationIdCode">Organisation Id Code</label>
                    <input type="text" class="form-control" name="organisationIdCode" id="field_organisationIdCode"
                           formControlName="organisationIdCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_signerId">Signer Id</label>
                    <input type="text" class="form-control" name="signerId" id="field_signerId"
                           formControlName="signerId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_requestType">Request Type</label>
                    <input type="text" class="form-control" name="requestType" id="field_requestType"
                           formControlName="requestType"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_requestStatus">Request Status</label>
                    <input type="text" class="form-control" name="requestStatus" id="field_requestStatus"
                           formControlName="requestStatus"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_responseType">Response Type</label>
                    <input type="text" class="form-control" name="responseType" id="field_responseType"
                           formControlName="responseType"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_responseStatus">Response Status</label>
                    <input type="text" class="form-control" name="responseStatus" id="field_responseStatus"
                           formControlName="responseStatus"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_responseCode">Response Code</label>
                    <input type="text" class="form-control" name="responseCode" id="field_responseCode"
                           formControlName="responseCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_requestXml">Request Xml</label>
                    <input type="text" class="form-control" name="requestXml" id="field_requestXml"
                           formControlName="requestXml"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_responseXml">Response Xml</label>
                    <input type="text" class="form-control" name="responseXml" id="field_responseXml"
                           formControlName="responseXml"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_responseDate">Response Date</label>
                    <div class="input-group">
                        <input id="field_responseDate" type="text" class="form-control" name="responseDate" ngbDatepicker  #responseDateDp="ngbDatepicker" formControlName="responseDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="responseDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_ts">Ts</label>
                    <input type="text" class="form-control" name="ts" id="field_ts"
                           formControlName="ts"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
