<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-application-master-heading">Create or edit a Application Master</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_applicationName">Application Name</label>
                    <input type="text" class="form-control" name="applicationName" id="field_applicationName"
                           formControlName="applicationName"/>
                    <div *ngIf="editForm.get('applicationName')!.invalid && (editForm.get('applicationName')!.dirty || editForm.get('applicationName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('applicationName')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_createdOn">Created On</label>
                    <div class="input-group">
                        <input id="field_createdOn" type="text" class="form-control" name="createdOn" ngbDatepicker #createdOnDp="ngbDatepicker" formControlName="createdOn"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="createdOnDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_lastUpdatedBy">Last Updated By</label>
                    <input type="text" class="form-control" name="lastUpdatedBy" id="field_lastUpdatedBy"
                           formControlName="lastUpdatedBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_lastUpdatedOn">Last Updated On</label>
                    <div class="input-group">
                        <input id="field_lastUpdatedOn" type="text" class="form-control" name="lastUpdatedOn" ngbDatepicker #lastUpdatedOnDp="ngbDatepicker" formControlName="lastUpdatedOn"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="lastUpdatedOnDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_verifiedBy">Verified By</label>
                    <input type="text" class="form-control" name="verifiedBy" id="field_verifiedBy"
                           formControlName="verifiedBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_verifiedOn">Verified On</label>
                    <div class="input-group">
                        <input id="field_verifiedOn" type="text" class="form-control" name="verifiedOn" ngbDatepicker #verifiedOnDp="ngbDatepicker" formControlName="verifiedOn"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="verifiedOnDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_remarks">Remarks</label>
                    <input type="text" class="form-control" name="remarks" id="field_remarks"
                           formControlName="remarks"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_applicationURL">Application URL</label>
                    <input type="text" class="form-control" name="applicationURL" id="field_applicationURL"
                           formControlName="applicationURL"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_applicationStatus">Application Status</label>
                    <input type="text" class="form-control" name="applicationStatus" id="field_applicationStatus"
                           formControlName="applicationStatus"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_applicationIdCode">Application Id Code</label>
                    <input type="text" class="form-control" name="applicationIdCode" id="field_applicationIdCode"
                           formControlName="applicationIdCode"/>
                    <div *ngIf="editForm.get('applicationIdCode')!.invalid && (editForm.get('applicationIdCode')!.dirty || editForm.get('applicationIdCode')!.touched)">
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                           formControlName="status"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_certPublicKey">Cert Public Key</label>
                    <input type="text" class="form-control" name="certPublicKey" id="field_certPublicKey"
                           formControlName="certPublicKey"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_organisationMaster">Organisation Master</label>
                    <select class="form-control" id="field_organisationMaster" name="organisationMaster" formControlName="organisationMasterId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="organisationMasterOption.id" *ngFor="let organisationMasterOption of organisationmasters; trackBy: trackById">{{ organisationMasterOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
