<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="applicationMaster">
            <h2><span>Application Master</span> {{ applicationMaster.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Application Name</span></dt>
                <dd>
                    <span>{{ applicationMaster.applicationName }}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{ applicationMaster.createdBy }}</span>
                </dd>
                <dt><span>Created On</span></dt>
                <dd>
                    <span>{{ applicationMaster.createdOn }}</span>
                </dd>
                <dt><span>Last Updated By</span></dt>
                <dd>
                    <span>{{ applicationMaster.lastUpdatedBy }}</span>
                </dd>
                <dt><span>Last Updated On</span></dt>
                <dd>
                    <span>{{ applicationMaster.lastUpdatedOn }}</span>
                </dd>
                <dt><span>Verified By</span></dt>
                <dd>
                    <span>{{ applicationMaster.verifiedBy }}</span>
                </dd>
                <dt><span>Verified On</span></dt>
                <dd>
                    <span>{{ applicationMaster.verifiedOn }}</span>
                </dd>
                <dt><span>Remarks</span></dt>
                <dd>
                    <span>{{ applicationMaster.remarks }}</span>
                </dd>
                <dt><span>Application URL</span></dt>
                <dd>
                    <span>{{ applicationMaster.applicationURL }}</span>
                </dd>
                <dt><span>Application Status</span></dt>
                <dd>
                    <span>{{ applicationMaster.applicationStatus }}</span>
                </dd>
                <dt><span>Application Id Code</span></dt>
                <dd>
                    <span>{{ applicationMaster.applicationIdCode }}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{ applicationMaster.status }}</span>
                </dd>
                <dt><span>Cert Public Key</span></dt>
                <dd>
                    <span>{{ applicationMaster.certPublicKey }}</span>
                </dd>
                <dt><span>Organisation Master</span></dt>
                <dd>
                    <div *ngIf="applicationMaster.organisationMasterId">
                        <a [routerLink]="['/organisation-master', applicationMaster.organisationMasterId, 'view']">{{ applicationMaster.organisationMasterId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/application-master', applicationMaster.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
