<div class="row mt-4">
    <div class="col-sm-12">
        <div class="row mask rgba-gradient d-flex justify-content-center align-items-center" [ngSwitch]="isAuthenticated()">
            <div class="col-md-6 white-text text-center text-md-left mt-xl-0 mb-5 fadeInLeft" data-wow-delay="0.3s">
                <h1 class="h1-responsive font-weight-bold mt-sm-5">E-Sign Haryana </h1>
                <hr class="hr-light">
                <h6 class="mb-4">eSign is an electronic signing service which is used for signing documents digitally from
                    anywhere at any time. CSC by virtue of being a Licensed Certifying Authority (CA) under
                    the ministry of IT, Government of India, can issue legally valid eSignatures. Under the
                    Information Technology Act, CSC eSign is legally valid and substitutes the need for a
                    physical or wet signature.</h6>
                <a class="btn btn-outline-white">About Us</a>
                <a class="btn btn-outline-white">Contact Us</a>
            </div>
            <div class="col-md-6 mt-xl-5 mb-5 fadeInLeft" data-wow-delay="0.3s" *ngSwitchCase="true">
                <span class="hipster img-fluid rounded"></span>
            </div>
            <div class="col-md-6 col-xl-5 mt-5 mb-5 fadeInRight" data-wow-delay="0.3s" *ngSwitchCase="false">
                <div class="card wow fadeInRight" data-wow-delay="0.3s">
                    <div class="card-header">
                        <div class="text-center">
                            <h3 class="dark-grey-text">
                                <strong>Sign In</strong>
                            </h3>
                        </div>
                    </div>
                    <div class="card-body z-depth-2">
                        <div class="alert alert-danger" *ngIf="authenticationError">
                                <strong>Failed to sign in!</strong>  Incorrect credentials. Please try again.
                            </div>
                        <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm" autocomplete="off">
                            <div class="form-group">
                                <label class="username-label" for="username">Login</label>
                                <input type="text" class="form-control" name="username" autocomplete="off" id="username" formControlName="username">
                            </div>
                            <div class="form-group">
                                <label for="pwd">Password</label>
                                <input type="text" (keyup)="RemoveSavedPassword()" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" class="form-control" name="password" id="pwd"
                                       placeholder="Your password" formControlName="password">
                                <div id="password" style="cursor: pointer;" class="form-control"></div>
                            </div>
                            <div class="form-group text-center">
                                <re-captcha (resolved)="resolved($event)" siteKey="6Le1ldoUAAAAAN0dECr3B-ttD-mSnxrfGf0usvY9"></re-captcha>
                            </div>
                            <div class="text-center mt-0">
                                <button class="btn btn-sm btn-primary" type="submit" [disabled]="!loginForm.invalid && !captchaSuccess" >Sign In</button>

                                <hr>
                                <fieldset class="alert alert-warning">
                                    <a class="alert-link" (click)="requestResetPassword()">Did you forget your password?</a>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <!--Grid column-->
        </div>
    </div>
</div>

