<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="subDistrictMaster">
            <h2><span>Sub District Master</span> {{subDistrictMaster.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Sub District Code</span></dt>
                <dd>
                    <span>{{subDistrictMaster.subDistrictCode}}</span>
                </dd>
                <dt><span>Sub District Name</span></dt>
                <dd>
                    <span>{{subDistrictMaster.subDistrictName}}</span>
                </dd>
                <dt><span>Last Updated By</span></dt>
                <dd>
                    <span>{{subDistrictMaster.lastUpdatedBy}}</span>
                </dd>
                <dt><span>Last Updated On</span></dt>
                <dd>
                    <span>{{subDistrictMaster.lastUpdatedOn}}</span>
                </dd>
                <dt><span>Verified By</span></dt>
                <dd>
                    <span>{{subDistrictMaster.verifiedBy}}</span>
                </dd>
                <dt><span>Verified On</span></dt>
                <dd>
                    <span>{{subDistrictMaster.verifiedOn}}</span>
                </dd>
                <dt><span>Remarks</span></dt>
                <dd>
                    <span>{{subDistrictMaster.remarks}}</span>
                </dd>
                <dt><span>State Master</span></dt>
                <dd>
                    <div *ngIf="subDistrictMaster.stateMasterId">
                        <a [routerLink]="['/state-master', subDistrictMaster.stateMasterId, 'view']">{{subDistrictMaster.stateMasterId}}</a>
                    </div>
                </dd>
                <dt><span>District Master</span></dt>
                <dd>
                    <div *ngIf="subDistrictMaster.districtMasterId">
                        <a [routerLink]="['/district-master', subDistrictMaster.districtMasterId, 'view']">{{subDistrictMaster.districtMasterId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sub-district-master', subDistrictMaster.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
