<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="otp">
            <h2><span>Otp</span> {{otp.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Otp</span></dt>
                <dd>
                    <span>{{otp.otp}}</span>
                </dd>
                <dt><span>Mobile Number</span></dt>
                <dd>
                    <span>{{otp.mobileNumber}}</span>
                </dd>
                <dt><span>Request Time</span></dt>
                <dd>
                    <span>{{otp.requestTime}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/otp', otp.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
