<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="districtMaster">
            <h2><span>District Master</span> {{districtMaster.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>District Name</span></dt>
                <dd>
                    <span>{{districtMaster.districtName}}</span>
                </dd>
                <dt><span>District Code</span></dt>
                <dd>
                    <span>{{districtMaster.districtCode}}</span>
                </dd>
                <dt><span>Created On</span></dt>
                <dd>
                    <span>{{districtMaster.createdOn}}</span>
                </dd>
                <dt><span>Last Updated By</span></dt>
                <dd>
                    <span>{{districtMaster.lastUpdatedBy}}</span>
                </dd>
                <dt><span>Last Updated On</span></dt>
                <dd>
                    <span>{{districtMaster.lastUpdatedOn}}</span>
                </dd>
                <dt><span>Verified By</span></dt>
                <dd>
                    <span>{{districtMaster.verifiedBy}}</span>
                </dd>
                <dt><span>Verified On</span></dt>
                <dd>
                    <span>{{districtMaster.verifiedOn}}</span>
                </dd>
                <dt><span>Remarks</span></dt>
                <dd>
                    <span>{{districtMaster.remarks}}</span>
                </dd>
                <dt><span>State Master</span></dt>
                <dd>
                    <div *ngIf="districtMaster.stateMasterId">
                        <a [routerLink]="['/state-master', districtMaster.stateMasterId, 'view']">{{districtMaster.stateMasterId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/district-master', districtMaster.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
