<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="esignError">
            <h2><span>Esign Error</span> {{ esignError.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Error Code</span></dt>
                <dd>
                    <span>{{ esignError.errorCode }}</span>
                </dd>
                <dt><span>Error Message</span></dt>
                <dd>
                    <span>{{ esignError.errorMessage }}</span>
                </dd>
                <dt><span>Error Stage</span></dt>
                <dd>
                    <span>{{ esignError.errorStage }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/esign-error', esignError.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
