<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-esign-error-heading">Create or edit a Esign Error</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_errorCode">Error Code</label>
                    <input type="text" class="form-control" name="errorCode" id="field_errorCode"
                           formControlName="errorCode"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_errorMessage">Error Message</label>
                    <input type="text" class="form-control" name="errorMessage" id="field_errorMessage"
                           formControlName="errorMessage"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_errorStage">Error Stage</label>
                    <input type="text" class="form-control" name="errorStage" id="field_errorStage"
                           formControlName="errorStage"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
