<br>
<div class="row justify-content-center">
    <div class="col-10" style="padding: 10px">
        <div class="card">
            <div class="card-header">
                <h3 id="jhi-organisation-master-heading"><b>Organisation Update</b></h3>
            </div>
            <div class="card-body">
                <form name="editForm" role="form" novalidate [formGroup]="editForm">
                    <jhi-alert-error></jhi-alert-error>
                    <div class="row">
                        <div class="form-group col-6">
                            <label class="form-control-label">Organisation Type<span class="text-danger">*</span></label>
                            <select class="form-control" name="organisationTypeMaster" formControlName="organisationTypeMasterId" (ngModelChange)="onChange($event)" required>
                                <option [ngValue]="null"></option>
                                <option [ngValue]="organisationTypeMasterOption.id" *ngFor="let organisationTypeMasterOption of organisationtypemasters;">{{organisationTypeMasterOption.organisationTypeDetail}}</option>
                            </select>
                            <div *ngIf="editForm.get('organisationTypeMasterId').invalid && (editForm.get('organisationTypeMasterId').dirty || editForm.get('organisationTypeMasterId').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('organisationTypeMasterId').errors.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_organisationName">Organisation Name<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="organisationName" id="field_organisationName"
                                   formControlName="organisationName" value="organisationMaster" required/>
                            <div *ngIf="editForm.get('organisationName').invalid && (editForm.get('organisationName').dirty || editForm.get('organisationName').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('organisationName').errors.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_organisationCorrespondenceEmail">Organisation Email<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="organisationCorrespondenceEmail" id="field_organisationCorrespondenceEmail"
                                   formControlName="organisationCorrespondenceEmail" required/>
                            <div *ngIf="editForm.get('organisationCorrespondenceEmail').invalid && (editForm.get('organisationCorrespondenceEmail').dirty || editForm.get('organisationCorrespondenceEmail').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('organisationCorrespondenceEmail').errors.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_organisationCorrespondencePhone1">Organisation  Phone<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="organisationCorrespondencePhone1" id="field_organisationCorrespondencePhone1"
                                   formControlName="organisationCorrespondencePhone1" required/>
                            <div *ngIf="editForm.get('organisationCorrespondencePhone1').invalid && (editForm.get('organisationCorrespondencePhone1').dirty || editForm.get('organisationCorrespondencePhone1').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('organisationCorrespondencePhone1').errors.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_organisationCorrespondencePhone2">Organisation Alternative Phone </label>
                            <input type="text" class="form-control" name="organisationCorrespondencePhone2" id="field_organisationCorrespondencePhone2"
                                   formControlName="organisationCorrespondencePhone2"/>
                        </div>
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_organisationWebsite">Organisation Website<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="organisationWebsite" id="field_organisationWebsite"
                                   formControlName="organisationWebsite" required/>
                            <div *ngIf="editForm.get('organisationWebsite').invalid && (editForm.get('organisationWebsite').dirty || editForm.get('organisationWebsite').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('organisationWebsite').errors.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                        <div class="form-group col-12">
                            <label class="form-control-label" for="field_organisationCorrespondenceAddress">Organisation Correspondence Address</label>
                            <textarea rows="3" cols="3" type="text" class="form-control" name="organisationCorrespondenceAddress" id="field_organisationCorrespondenceAddress"
                                      formControlName="organisationCorrespondenceAddress"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div><br><br>
        <div class="card">
            <div class="card-header"><h3 id="jhi-organisation-master-heading1"><b>Nodal Officer Detail</b></h3></div>
            <div class="card-body">
                <form name="editForm" role="form" novalidate [formGroup]="editForm">
                    <jhi-alert-error></jhi-alert-error>
                    <div class="row">
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_organisationNodalOfficerName">Nodal Officer Name</label>
                            <input type="text" class="form-control" name="organisationNodalOfficerName" id="field_organisationNodalOfficerName"
                                   formControlName="organisationNodalOfficerName" readonly/>
                        </div>
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_organisationNodalOfficerPhoneMobile">Nodal Officer Mobile</label>
                            <input type="text" class="form-control" name="organisationNodalOfficerPhoneMobile" [(ngModel)]="organisationNodalOfficerPhoneMobile" id="field_organisationNodalOfficerPhoneMobile"
                                   formControlName="organisationNodalOfficerPhoneMobile"/>
                        </div>
                        <!--<div class="form-group col-2">-->
                            <!--<button type="submit" class="btn btn-info btn-sm" data-toggle="modal" (click)="sendOTP(organisationNodalOfficerPhoneMobile)" data-target="#otp">-->
                                <!--<span class="d-none d-md-inline" >Send OTP</span>-->
                            <!--</button>-->
                        <!--</div>-->
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_organisationNodalOfficerPhoneLandline">Nodal Officer Landline</label>
                            <input type="text" class="form-control" name="organisationNodalOfficerPhoneLandline" id="field_organisationNodalOfficerPhoneLandline"
                                   formControlName="organisationNodalOfficerPhoneLandline"/>
                        </div>
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_nodalOfficerOfficialEmail">Nodal Officer Official Email</label>
                            <input type="text" class="form-control" name="nodalOfficerOfficialEmail" id="field_nodalOfficerOfficialEmail"
                                   formControlName="nodalOfficerOfficialEmail" readonly/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_organisationNodalOfficerAlternativeEmail">Nodal Officer Alternative Email</label>
                            <input type="text" class="form-control" name="organisationNodalOfficerAlternativeEmail" id="field_organisationNodalOfficerAlternativeEmail"
                                   formControlName="organisationNodalOfficerAlternativeEmail"/>
                        </div>
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_stateMaster">State </label>
                            <select class="form-control" id="field_stateMaster" name="stateMaster" formControlName="stateMasterId">
                                <option [ngValue]="null"></option>
                                <option [ngValue]="stateMasterOption.id" *ngFor="let stateMasterOption of statemasters">{{stateMasterOption.stateName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_districtMaster">District </label>
                            <select class="form-control" id="field_districtMaster" name="districtMaster" formControlName="districtMasterId">
                                <option [ngValue]="null"></option>
                                <option [ngValue]="districtMasterOption.id" *ngFor="let districtMasterOption of districtmasters">{{districtMasterOption.districtName}}</option>
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_subDistrictMaster">Sub District </label>
                            <select class="form-control" id="field_subDistrictMaster" name="subDistrictMaster" formControlName="subDistrictMasterId">
                                <option [ngValue]="null"></option>
                                <option [ngValue]="subDistrictMasterOption.id" *ngFor="let subDistrictMasterOption of subdistrictmasters">{{subDistrictMasterOption.subDistrictName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-12">
                            <label class="form-control-label" for="field_remarks">Description</label>
                            <textarea rows="3" cols="3" type="text" class="form-control" name="remarks" id="field_remarks"
                                      formControlName="remarks"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div><br><br>
        <div class="card" *ngIf="docss?.length > 0">
            <div class="card-header"><h3 id="jhi-organisation-master-heading2"><b>Attachments</b></h3></div>
            <div class="card-body">
                <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-bordered">
                                <tr>
                                    <th>
                                        Document Name
                                    </th>
                                    <th>
                                        Attachments
                                    </th>
                                </tr>
                                <tr *ngFor="let organisationDocs of docss;">
                                    <td>
                                        {{organisationDocs.documentTitle}}
                                    </td>
                                    <td>
                                        <input type="file" class="form-control" name="attachment" id="field_attachment"
                                               (change)="uploadFile($event.target.files, organisationDocs.id)"/>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div><br>
        <div class="float-right">
            <button type="submit" (click)="save()" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-sm btn-primary">
                <span>Update</span>
            </button>
        </div>
    </div>
</div>

<div class="modal fade" id="otp" tabindex="-1" role="dialog" aria-labelledby="otp"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">OTP Confirmaton</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--<span>Date</span>-->
                <!--<input id="field_createdOn" type="text" class="form-control" [(ngModel)]="createdOn" name="createdOn" ngbDatepicker  #createdOnDp="ngbDatepicker" value="" formControlName="createdOn"/>-->
                <span>An OTP has been sent on Your Mobile Number Please Verify to continue....</span>
                <input type="text" class="form-control" [(ngModel)]="otp">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!--<button type="button" class="btn btn-primary" data-dismiss="modal" (click)="verifyOTP(mobileNumber,otp)" >Approve</button>-->
            </div>
        </div>
    </div>
</div>
