
<br><br><br>
<div class="card" *ngIf="organisationmasters?.length>0">
    <div class="card-header">
        <h3 id="jhi-organisation-master-heading"><b>Department Detail</b>
            <button *jhiHasAnyAuthority="['ROLE_ASP_NODAL']" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-organisation-master" [routerLink]="['/organisation']">
                <fa-icon [icon]="'plus'"></fa-icon>
                <span class="hidden-sm-down" >
            Create Organisation
            </span>
            </button>
        </h3>
        <div class="" *jhiHasAnyAuthority="['ROLE_ORG_NODAL']">
        <button style="float: right; margin-top: -30px" type="submit"
                [routerLink]="['/user-dashboard']"
                class="btn btn-info btn-sm"  *ngIf="organisationmasters[0]?.status == 'Approved'">
            <span class="d-none d-md-inline"><h6>User List</h6></span>
        </button>
        <button style="float: right; margin-top: -30px" type="submit"
                [routerLink]="['/user']"
                class="btn btn-info btn-sm" *ngIf="organisationmasters[0]?.status=='Approved'">
            <span class="d-none d-md-inline"><h6>Create User</h6></span>
        </button>
        </div>
    </div>
    <div class="card-body" *ngIf="organisationmasters">
        <div class="table-responsive">
            <table class="table table-striped" aria-describedby="page-heading">
                <thead>
                <tr>
                    <th scope="col"><span>ID</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col"><span>Name</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col"><span>Email</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col"><span>Phone</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col"><span>Created By</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col"><span>Nodal Officer Name</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col"><span>Nodal Officer Phone</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col"><span>Status</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col"><span></span></th>
                    <th scope="col"><span></span></th>
                    <!--<th scope="col"></th>-->
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let organisationRecord of organisationmasters">
                    <td><a
                        [routerLink]="['/organisation-detail', organisationRecord.id, 'view' ]">{{organisationRecord.organisationIdCode}}</a>
                    </td>
                    <td>{{organisationRecord.organisationName}}</td>
                    <td>{{organisationRecord.organisationCorrespondenceEmail }}</td>
                    <td>{{organisationRecord.organisationCorrespondencePhone1 }}</td>
                    <td>{{organisationRecord.createdBy}}</td>
                    <td>{{organisationRecord.organisationNodalOfficerName}}</td>
                    <td>{{organisationRecord.organisationNodalOfficerPhoneMobile}}</td>
                    <td *ngIf="organisationRecord.status == 'Pending'">Requet Submited</td>
                    <td *ngIf="organisationRecord.status !== 'Pending'">{{organisationRecord.status}}</td>

                    <td class="text-right">
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit" [routerLink]="['/organisation', organisationRecord.id, 'edit' ]"
                                    class="btn btn-info btn-sm" *ngIf="organisationRecord.status !== 'Approved'" data-toggle="modal" data-target="#accept">
                                <span class="d-none d-md-inline">Edit</span>
                            </button>
                            <div class="" *jhiHasAnyAuthority="['ROLE_ORG_NODAL']">
                            <button type="submit"
                                    [routerLink]="['/user']"
                                    class="btn btn-info btn-sm" *ngIf="organisationRecord.status == 'Approved'">
                                <span class="d-none d-md-inline" >Create User</span>
                            </button>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="organisationmasters?.length < 1">

    <div class="">

        <jhi-user-detail-list _nghost-c4=""><br _ngcontent-c4="">

            <div _ngcontent-c4="" class="row">
                <div _ngcontent-c4="" class="col-sm-12">
                    <h1 _ngcontent-c4="" class="text-center"><i _ngcontent-c4="" class="far fa-frown"></i>
                    </h1>
                    <h4 _ngcontent-c4="" class="text-center">Sorry! There is no record.<br _ngcontent-c4=""><br
                        _ngcontent-c4="">
                        <div _ngcontent-c4="" class="">
                            <button _ngcontent-c4="" class="btn btn-primary" tabindex="0"
                                    [routerLink]="['/organisation']">
                                <span _ngcontent-c4=""> Create Organisation </span>
                            </button>
                        </div>
                    </h4>
                </div>
            </div>
        </jhi-user-detail-list>
    </div>
</div>

<br><br><br>

