<div class="container-fluid" *ngIf="applicationMasters?.length==0">
    <div class="">
        <router-outlet></router-outlet><jhi-user-detail-list _nghost-c4=""><br _ngcontent-c4="">
        <!----><div _ngcontent-c4="" class="row"> <div _ngcontent-c4="" class="col-sm-12">
            <div _ngcontent-c4="" class="float-right"> <h6 _ngcontent-c4="" class="text-primary"></h6>
            </div> </div> </div> <br _ngcontent-c4=""> <br _ngcontent-c4=""> <!----> <!---->
        <div _ngcontent-c4="" class="row">
            <div _ngcontent-c4="" class="col-sm-12">
                <h1 _ngcontent-c4="" class="text-center"><i _ngcontent-c4="" class="far fa-frown"></i>
                </h1>
                <h4 _ngcontent-c4="" class="text-center">Sorry! There is no record.<br _ngcontent-c4=""><br _ngcontent-c4="">
                    <div _ngcontent-c4="" class="">
                        <button _ngcontent-c4="" class="btn btn-primary" tabindex="0" [routerLink]="['/application']">
                        <span _ngcontent-c4=""> Create Application </span>
                        </button> </div> </h4>
            </div>
        </div> </jhi-user-detail-list> <router-outlet name="popup"></router-outlet>
    </div>
</div>

<br><br>
<!--<div class="col-md-12" *ngIf="applicationMasters">-->
    <!--<div class="row">-->
        <!--<div class="col-md-4">-->
            <!--<div class="card card-stats mb-4 mb-xl-0 shadow-lg btn-outline-amber" style=" height: 75px; width: 350px;cursor: pointer;" (click)="getRecordBystatus('Pending')">-->
                <!--<div class="card-body">-->
                    <!--<div class="row">-->
                        <!--<div class="col">-->
                            <!--<h4 class="card-title text-uppercase text-muted mb-0" style="font-family:initial;margin-top: -4%;"><b>Pending</b>-->
                                <!--<h3 class="rounded-circle shadow fa-pull-right amber-text"><span class="font-weight-bold mb-1 pl-1">11</span></h3>-->
                            <!--</h4>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-4">-->
            <!--<div class="card card-stats mb-4 mb-xl-0 shadow-lg btn-outline-success" style=" height: 75px; width: 350px;cursor: pointer;" (click)="getRecordBystatus('Approved')">-->
                <!--<div class="card-body">-->
                    <!--<div class="row">-->
                        <!--<div class="col">-->
                            <!--<h4 class="card-title text-uppercase text-muted mb-0" style="font-family:initial;margin-top: -4%;"><b>Approved</b>-->
                                <!--<h3 class="rounded-circle shadow fa-pull-right text-success"><span class="font-weight-bold mb-1 pl-1"></span></h3>-->
                            <!--</h4>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-4">-->
            <!--<div class="card card-stats mb-4 mb-xl-0 shadow-lg btn-outline-danger" style=" height: 75px; width: 350px;cursor: pointer;" (click)="getRecordBystatus('Rejected')">-->
                <!--<div class="card-body">-->
                    <!--<div class="row">-->
                        <!--<div class="col">-->
                            <!--<h4 class="card-title text-uppercase text-muted mb-0" style="font-family:initial;margin-top: -4%;"><b>Rejected</b>-->
                                <!--<h3 class="rounded-circle shadow fa-pull-right text-danger"><span class="font-weight-bold mb-1 pl-1"></span></h3>-->
                            <!--</h4>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<br><br>-->
<div class="card" *ngIf="applicationMasters?.length>0">
    <div class="card-header">
        <h3 id="jhi-application-master-heading"><b>Application List</b></h3>
        <!--<h3 class="text-success" *ngIf="status === 'Approved'"><b>Organisation List</b></h3>-->
        <!--<h3 class="text-danger" *ngIf="status === 'Rejected'"><b>Organisation List</b></h3>-->
        <button style="float: right; margin-top: -30px" type="submit"
                [routerLink]="['/organisation-dashboard']"
                class="btn btn-info btn-sm">
            <span class="d-none d-md-inline"><h6>Department Detail</h6></span>
        </button>
        <button style="float: right; margin-top: -30px" type="submit"
                [routerLink]="['/user-dashboard']"
                class="btn btn-info btn-sm">
            <span class="d-none d-md-inline"><h6>User List</h6></span>
        </button>
        <button style="float: right; margin-top: -30px" type="submit"
                [routerLink]="['/application']"
                class="btn btn-info btn-sm">
            <span class="d-none d-md-inline"><h6>Add New</h6></span>
        </button>


    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped" aria-describedby="page-heading">
                <thead>
                <tr>
                    <th scope="col" ><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <!--<th scope="col" ><span>Organisation Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
                    <th scope="col"><span>Application Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th scope="col"><span>Application URL</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th scope="col"><span>Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th scope="col"><span>Created On</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th scope="col"><span>Status</span></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let applicationMaster of applicationMasters;">
                    <td>{{applicationMaster.id}}</td>
                    <!--<td>{{applicationMaster.organisationMasterId}}</td>-->
                    <td>{{applicationMaster.applicationName}}</td>
                    <td>{{applicationMaster.applicationURL}}</td>
                    <td>{{applicationMaster.createdBy}}</td>
                    <td>{{applicationMaster.createdOn}}</td>
                    <td *ngIf="applicationMaster.status !=='Pending'">{{applicationMaster.status}}</td>
                    <td *ngIf="applicationMaster.status =='Pending'">Request Submitted</td>
                    <!--<td>Pending</td>-->

                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/application-detail', applicationMaster.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <span class="d-none d-md-inline">View</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/application-update', applicationMaster.id, 'edit']"
                                    class="btn btn-info btn-sm" *ngIf="applicationMaster.status == 'Pending'">
                                <span class="d-none d-md-inline" >Edit</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/user']"
                                    class="btn btn-info btn-sm" *ngIf="applicationMaster.status == 'Approved'">
                                <span class="d-none d-md-inline" >Create User</span>
                            </button>
                        </div>
                    </td>
                    <!--<td class="text-right">-->
                        <!--<div class="btn-group">-->
                            <!--<button type="submit"-->
                                    <!--class="btn btn-info btn-sm" data-toggle="modal" (click)="getOrganisationId(organisationMaster)" data-target="#accept">-->
                                <!--<span class="d-none d-md-inline">Create User</span>-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</td>-->
                    <!--<td class="text-right">-->
                        <!--<div class="btn-group">-->
                            <!--<button type="submit"-->
                                    <!--class="btn btn-info btn-sm" data-toggle="modal" (click)="rejectPopup(organisationMaster)" data-target="#reject">-->
                                <!--<span class="d-none d-md-inline">Reject</span>-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>





