<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-external-user-esign-request-heading">Create or edit a External User Esign Request</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_userCodeId">User Code Id</label>
                    <input type="text" class="form-control" name="userCodeId" id="field_userCodeId"
                           formControlName="userCodeId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_applicationIdCode">Application Id Code</label>
                    <input type="text" class="form-control" name="applicationIdCode" id="field_applicationIdCode"
                           formControlName="applicationIdCode"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_responseUrl">Response Url</label>
                    <input type="text" class="form-control" name="responseUrl" id="field_responseUrl"
                           formControlName="responseUrl"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_redirectUrl">Redirect Url</label>
                    <input type="text" class="form-control" name="redirectUrl" id="field_redirectUrl"
                           formControlName="redirectUrl"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_ts">Ts</label>
                    <input type="text" class="form-control" name="ts" id="field_ts"
                           formControlName="ts"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_signerId">Signer Id</label>
                    <input type="text" class="form-control" name="signerId" id="field_signerId"
                           formControlName="signerId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_docInfo">Doc Info</label>
                    <input type="text" class="form-control" name="docInfo" id="field_docInfo"
                           formControlName="docInfo"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_docUrl">Doc Url</label>
                    <input type="text" class="form-control" name="docUrl" id="field_docUrl"
                           formControlName="docUrl"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_docHash">Doc Hash</label>
                    <input type="text" class="form-control" name="docHash" id="field_docHash"
                           formControlName="docHash"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_requestStatus">Request Status</label>
                    <input type="text" class="form-control" name="requestStatus" id="field_requestStatus"
                           formControlName="requestStatus"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_requestTime">Request Time</label>
                    <input type="text" class="form-control" name="requestTime" id="field_requestTime"
                           formControlName="requestTime"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_txn">Txn</label>
                    <input type="text" class="form-control" name="txn" id="field_txn"
                           formControlName="txn"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_txnRef">Txn Ref</label>
                    <input type="text" class="form-control" name="txnRef" id="field_txnRef"
                           formControlName="txnRef"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
