<div>
    <h2 id="page-heading">
        <span>External User Esign Requests</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-external-user-esign-request" [routerLink]="['/external-user-esign-request/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down">
            Create a new External User Esign Request
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="externalUserEsignRequests?.length === 0">
        <span>No externalUserEsignRequests found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="externalUserEsignRequests?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userCodeId"><span>User Code Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="applicationIdCode"><span>Application Id Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="responseUrl"><span>Response Url</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="redirectUrl"><span>Redirect Url</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ts"><span>Ts</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="signerId"><span>Signer Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="docInfo"><span>Doc Info</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="docUrl"><span>Doc Url</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="docHash"><span>Doc Hash</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="requestStatus"><span>Request Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="requestTime"><span>Request Time</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="txn"><span>Txn</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="txnRef"><span>Txn Ref</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let externalUserEsignRequest of externalUserEsignRequests ;trackBy: trackId">
                    <td><a [routerLink]="['/external-user-esign-request', externalUserEsignRequest.id, 'view']">{{ externalUserEsignRequest.id }}</a></td>
                    <td>{{ externalUserEsignRequest.userCodeId }}</td>
                    <td>{{ externalUserEsignRequest.applicationIdCode }}</td>
                    <td>{{ externalUserEsignRequest.responseUrl }}</td>
                    <td>{{ externalUserEsignRequest.redirectUrl }}</td>
                    <td>{{ externalUserEsignRequest.ts }}</td>
                    <td>{{ externalUserEsignRequest.signerId }}</td>
                    <td>{{ externalUserEsignRequest.docInfo }}</td>
                    <td>{{ externalUserEsignRequest.docUrl }}</td>
                    <td>{{ externalUserEsignRequest.docHash }}</td>
                    <td>{{ externalUserEsignRequest.requestStatus }}</td>
                    <td>{{ externalUserEsignRequest.requestTime }}</td>
                    <td>{{ externalUserEsignRequest.txn }}</td>
                    <td>{{ externalUserEsignRequest.txnRef }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/external-user-esign-request', externalUserEsignRequest.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/external-user-esign-request', externalUserEsignRequest.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(externalUserEsignRequest)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="externalUserEsignRequests?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
