<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="externalUserEsignRequest">
            <h2><span>External User Esign Request</span> {{ externalUserEsignRequest.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>User Code Id</span></dt>
                <dd>
                    <span>{{ externalUserEsignRequest.userCodeId }}</span>
                </dd>
                <dt><span>Application Id Code</span></dt>
                <dd>
                    <span>{{ externalUserEsignRequest.applicationIdCode }}</span>
                </dd>
                <dt><span>Response Url</span></dt>
                <dd>
                    <span>{{ externalUserEsignRequest.responseUrl }}</span>
                </dd>
                <dt><span>Redirect Url</span></dt>
                <dd>
                    <span>{{ externalUserEsignRequest.redirectUrl }}</span>
                </dd>
                <dt><span>Ts</span></dt>
                <dd>
                    <span>{{ externalUserEsignRequest.ts }}</span>
                </dd>
                <dt><span>Signer Id</span></dt>
                <dd>
                    <span>{{ externalUserEsignRequest.signerId }}</span>
                </dd>
                <dt><span>Doc Info</span></dt>
                <dd>
                    <span>{{ externalUserEsignRequest.docInfo }}</span>
                </dd>
                <dt><span>Doc Url</span></dt>
                <dd>
                    <span>{{ externalUserEsignRequest.docUrl }}</span>
                </dd>
                <dt><span>Doc Hash</span></dt>
                <dd>
                    <span>{{ externalUserEsignRequest.docHash }}</span>
                </dd>
                <dt><span>Request Status</span></dt>
                <dd>
                    <span>{{ externalUserEsignRequest.requestStatus }}</span>
                </dd>
                <dt><span>Request Time</span></dt>
                <dd>
                    <span>{{ externalUserEsignRequest.requestTime }}</span>
                </dd>
                <dt><span>Txn</span></dt>
                <dd>
                    <span>{{ externalUserEsignRequest.txn }}</span>
                </dd>
                <dt><span>Txn Ref</span></dt>
                <dd>
                    <span>{{ externalUserEsignRequest.txnRef }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/external-user-esign-request', externalUserEsignRequest.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
