<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="organisationDocument">
            <h2><span>Organisation Document</span> {{organisationDocument.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Document Title</span></dt>
                <dd>
                    <span>{{organisationDocument.documentTitle}}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{organisationDocument.createdBy}}</span>
                </dd>
                <dt><span>Created On</span></dt>
                <dd>
                    <span>{{organisationDocument.createdOn}}</span>
                </dd>
                <dt><span>Verified By</span></dt>
                <dd>
                    <span>{{organisationDocument.verifiedBy}}</span>
                </dd>
                <dt><span>Verified On</span></dt>
                <dd>
                    <span>{{organisationDocument.verifiedOn}}</span>
                </dd>
                <dt><span>Remarks</span></dt>
                <dd>
                    <span>{{organisationDocument.remarks}}</span>
                </dd>
                <dt><span>Document Related To</span></dt>
                <dd>
                    <span>{{organisationDocument.documentRelatedTo}}</span>
                </dd>
                <dt><span>Organisation Type Master</span></dt>
                <dd>
                    <div *ngIf="organisationDocument.organisationTypeMasterId">
                        <a [routerLink]="['/organisation-type-master', organisationDocument.organisationTypeMasterId, 'view']">{{organisationDocument.organisationTypeMasterId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/organisation-document', organisationDocument.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
