<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Reset password</h1>

            <div class="alert alert-danger" *ngIf="errorEmailNotExists">
                <strong>If this is a registered Email address! </strong> Please check your email.
            </div>

            <div class="alert alert-warning" *ngIf="!success">
                <p>Enter the email address you used to register.</p>
            </div>

            <div class="alert alert-success" *ngIf="success === 'OK'">
                <p>if that email address is in our database, we will send you an email to reset your password.</p>
            </div>

            <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your email"
                           formControlName="email">
                    <div *ngIf="resetRequestForm.get('email').invalid && (resetRequestForm.get('email').dirty || resetRequestForm.get('email').touched)">
                        <small class="form-text text-danger"
                           *ngIf="resetRequestForm.get('email').errors.required">
                            Your email is required.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="resetRequestForm.get('email').errors.email">
                            Your email is invalid.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="resetRequestForm.get('email').errors.minlength">
                            Your email is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="resetRequestForm.get('email').errors.maxlength">
                            Your email cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <re-captcha (resolved)="resolved($event)" siteKey="6Le1ldoUAAAAAN0dECr3B-ttD-mSnxrfGf0usvY9"></re-captcha>
                <button type="submit" [disabled]="!captchaSuccess" class="btn btn-primary">Reset</button>
            </form>
        </div>
    </div>
</div>
