<br>
<div class="row justify-content-center">
    <div class="col-10" style="padding: 10px">
        <div class="card">
            <div class="card-header">
                <h3 id="jhi-organisation-master-heading" class="h3">Esign Request Verification</h3>
            </div>
            <div class="card-body">
                <form ngNoForm method="post" role="form"  novalidate action="https://dsp.csccloud.in/esignauth/sign" accept-charset="utf-8"   #editForm>
                    <h4>Welcome  {{userCodeId}}</h4><h5>You are requesting for Esign the documnet. Please <a target="_blank" href="{{docUrl}}">verify</a> the document before proceed to Esign request</h5>
                    <div class="row">
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_asp_ip">ASP IP</label>
                            <input type="text" class="form-control"  [ngModel]="aspIp" name="asp_ip" id="field_asp_ip"/>
                        </div>
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_aspid">ASP ID</label>
                            <input type="text" class="form-control" [ngModel]="aspId"  name="asp_id" id="field_aspid"/>
                        </div>
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_txnref">TXN Refferance</label>
                            <input type="text" class="form-control" [ngModel]="txnref"  name="txnref" id="field_txnref"/>
                        </div>
                        <div class="form-group col-6">
                            <label class="form-control-label" for="field_req_data">Request Data</label>
                            <input type="text" class="form-control" [ngModel]="reqData" name="req_data" id="field_req_data"/>
                        </div>
                    </div>
                    <div>

                        <button type="submit" name="submit" (click)="save()" class="btn-primary">
                            <span>Proceed To Esing</span>
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>








